#common-main-wrapper { overflow: hidden; }

.column-main { width: 627px; }

.common-box { overflow: hidden; position: relative; z-index: 1; }
.common-title { padding-bottom: 11px; position: relative; }
.common-title h1 {font-size:20px } 

#spotlighted { position: absolute; right: 0; top: 0; }

#search_tabs { overflow: hidden; margin-bottom:-1px; position:relative; z-index: 15; }
#search_tabs li { margin-right: 1px; float: left; background-position: -125px -100px; width: 112px; height: 20px; line-height:21px; padding: 0 3px; font-size: 11px; text-align: center; cursor: pointer;}
#search_tabs li.selected {background-position: 0px -100px; cursor: default; height: 21px;}

#search_by_letter a {text-decoration:none; font-size: 15px; line-height: 15px;}
#letters_all { position: absolute; left: 10px; top: 7px; width: 32px; text-align:center; }
#alphabetical-ru { position: absolute; right: 8px; top: 7px; }
#alphabetical-ru a { float: left; display: block; width: 18px; height: 18px; text-align: center; }
#alphabetical-ru a.selected-button { width: 18px; background-position: -125px -125px; cursor: default; }

#search_top-20 { font-size: 14px; line-height: 22px; text-align: center; letter-spacing: 1px; }

.search-control { z-index: 10; position: relative; }
.autocomplete { position: absolute; opacity: 0.95; border-style: solid; border-width: 0px 1px 1px 1px; font-size: 14px; }
.autocomplete .item { padding: 2px 0 4px 5px; cursor: pointer; }

#search_tip_name,
#search_by_name,
#search_by_letter,
#search_top-20 { display: none; }

#panels.just-suggested #search_tip_name { display: none; }

#panels.byName #search_by_name,
#panels.byName #search_tip_name,
#panels.byLetter #search_by_letter,
#panels.top20 #search_top-20 { display: block; }

/*Block content*/
/*pager list*/
.b-content { margin-top: 20px; }
.b-content .alphabetical{font-size:110%;margin-bottom:22px;}
.b-content .alphabetical .wrapper{display:block;padding:6px 0 9px 10px;position:relative;}
.b-content ul.cocktails{overflow:hidden;}
/* and index */
.b-content ul.cocktails .item { float: left; width: 117px; height: 140px; }

.cocktail-preview { display: block; position: relative; width: 100px; height: 100px; }
.cocktail-preview .image-box { position: absolute; width: 100%; height: 80px; left: 0; bottom: 20px; line-height: 80px; text-align: center; }
.cocktail-preview .image-box .image { position: relative; vertical-align: bottom; }
.cocktail-preview .name { position: absolute; left: 0; top: 87px; width: 100%; text-align: center; font-size: 120%; word-wrap: break-word; }


.pager-big {width:64px; height:24px; position:absolute; z-index: 2; left: 565px; top: 409px; }
.pager-big .prev,
.pager-big .next {float:left; display:block;}
.pager-big .prev {background-position: -0px -125px; }
.pager-big .next {background-position: -25px -125px; }

.pager-big .prev.disabled,
.pager-big .next.disabled {cursor:default;}
.pager-big .prev.disabled {background-position: -0px -150px; }
.pager-big .next.disabled {background-position: -25px -150px; }

.b-content .pager { height: 57px; padding: 10px 0 0; margin-top: 10px; position: relative; background: url(/t/light/header-dots-v.png) repeat-x 0 0; font-size: 110%; }
.b-content .pager .p-list { width: 590px; margin-left: 7px; }
.b-content .pager .p-list a { line-height: 22px; text-decoration:none; margin-right: 2px; }
.b-content .pager .p-list a.selected-button { background-position: -75px -125px; cursor: default;}
.b-content .pager .p-list a.two.selected-button { background-position: -100px -125px; }
.b-content .pager .p-list a { padding: 2px 6px 3px; }
.b-content .pager .p-list a.two { padding: 2px 4px 3px; margin-right: 0; }
.b-content .viewport{height:560px;overflow:hidden;position:relative;}
.b-content .surface{padding:500px;}


.search-form {position:relative;}
.search-form input{width:559px; padding:2px 0 2px 20px;font-size:14px;text-align:left; background: transparent; line-height: 18px; height:18px; border: none;}
.search-form small{color:#f1f7b6;line-height:1.5;display:block;}
.search-form dl{overflow:hidden;}
.search-form dt{padding:0;font-size:92%;}
.search-form dd{background-color:#89af21;cursor:pointer;margin-bottom:3px;height:auto;overflow:hidden;padding:0 0 2px;}
.search-form .substr{font-weight: bold;}


.b-search{position:absolute;margin-right:2em;width:14em;left: 10px;}
#all_list{ position: absolute; z-index: 25; top: 58px; right: 20px; height: 19px; padding: 0 0 0 20px; font-size: 1.1em;}
#all_list i { position: absolute; left: -1px; top: -5px; width: 25px; height: 25px; background-position: -150px -125px; }
.b-search dl{font-size:120%;line-height:1.5;}
.b-search dt{font-weight:bold;padding:16px 0 0 8px;}
.b-search dd{line-height:1.4;margin:1px 0;height:17px;}
.b-search dd{line-height:1.4;margin:1px 0;height:17px;}


.b-search form input{border:1px solid;text-align:center;height:15px;font-size:1em;line-height:1;padding:3px 0 0 0;border-color:#d7d7d7 #fff #fff #d7d7d7;background:#f1f7b6;margin:0;width:35px;}

#search-controls { height: 32px; }
.search-control {background-position: 0px 0px; padding:5px; color:#fff; height: 22px;}
#search_by_letter { background-position: 0 -50px; }
#search_top-20 { background-position: 0 -50px; }

.b-content {width:100%;}
#results_display {}
#results_display .empty-result-by-name { display: none; position: absolute; left: 200px; top: 158px; width: 230px; text-align: center; font-size: 15px; }
.byName #results_display.empty .empty-result-by-name { display: block; }
#results_display .viewport {width:585px;margin-left:11px; }
#results_display .point{height:560px;width:585px;float:left;}
#results_display .surface { width: 50000px; height: 560px; padding: 0px; }
html.opera-10 #results_display .surface,
html.opera-11-0 #results_display .surface { width: 30000px; }
#search_tips { height: 14px}
#search_tips a:hover {text-decoration:none;}
#search_tips a {border-bottom:1px dashed;}

.drag-cursor { cursor: -moz-grabbing; cursor: grabbing; }
.dragging-object{position:absolute;z-index:10;}


<!--# include virtual="/t/ingredient-popup.css" -->

.client-storage, .storage-helper { visibility: hidden; width: 1px; height: 1px; position: absolute; top: -100px; }

<!--# if expr="$HTTP_USER_AGENT = /MSIE 7/" -->
.search-form {z-index:1;}
.search-form input { height: 22px; line-height: 22px; position:absolute}
<!--# endif -->
