From: Коктейльный сайт Inshaker <event@inshaker.ru>
To: <%=@email%>
Subject: EMPIRE OPEN CINEMA. Кино под открытым небом.
Content-Type: text/html; charset=UTF-8

<p><strong>На&nbsp;протяжение всего июля 2009 года в&nbsp;самом центре Москвы состоится серия эксклюзивных кинопоказов для&nbsp;истинных ценителей и&nbsp;любителей киноискусства. Кино, еще не&nbsp;вышедшее в&nbsp;России, покажут на&nbsp;свежем воздухе (прямо под&nbsp;октрытым небом).</strong></p>

<p>Кинопоказы будут проходить дважды в&nbsp;неделю (четверг&nbsp;&mdash; премьера, вторник&nbsp;&mdash; повтор) в&nbsp;парке искусств «<a href="http://www.muzeon.ru/">Музеон</a>» (Крымский вал,&nbsp;д.10).</p>

<p><em>Количество билетов ограничено. Билеты продаются в&nbsp;кассах парка. Стоимость 1&nbsp;билета: 250&nbsp;р.&nbsp;+ коктейль в&nbsp;подарок от&nbsp;<a href="http://www.inshaker.ru/bars/moskva/wall_street_bar.html">Wall&nbsp;St&nbsp;Bar</a>&nbsp;&mdash; в&nbsp;5&nbsp;минутах от&nbsp;парка. Зовите друзей, приглашайте подруг!</em></p>

<p><a href="http://www.inshaker.ru/">Коктейльный сайт Inshaker</a> и&nbsp;<a href="http://www.empireonline.ru/">журнал Empire</a> желают вам приятного просмотра.</p>