<!--# include virtual="/t/mybar/common.css" -->

#output .b-content .purchase-plan-block .wrapper { margin : 10px 0px; }

#output .b-content .purchase-plan-block.empty .wrapper { display: none; }
#output .b-content .purchase-plan-block.empty .empty { display: block !important; }


#output .b-content .purchase-plan-block .empty {
	font-size: 14px;
	color: #ccc;
	margin: 10px 0px;
}

.purchase-plan-block .plan-table {
	font-size: 14px;
	width: 100%;
}

.purchase-plan-block .plan-table .thead th { background-color: yellow; font-size: 14px; }
.purchase-plan-block .plan-table .thead th.edit-item { background: none; }

.purchase-plan-block .plan-table .edit-item { width: 20px; }

.purchase-plan-block .plan-table .tbody tr:hover td { background-color: #efefef; }

.purchase-plan-block .plan-table tr.odd td { background-color: #F9F9F9; }

.purchase-plan-block .plan-table .edit-item .edit { cursor: pointer; }

.purchase-plan-block .plan-table td { vertical-align: middle; }
.purchase-plan-block .plan-table .item-name { text-align: left; width: 550px; }
.purchase-plan-block .plan-table .item-name .link-to-popup { cursor: pointer; }
.purchase-plan-block .plan-table .item-name .link-to-popup:hover { text-decoration: underline; }
.purchase-plan-block .plan-table .item-volume { text-align: left; width: 170px; }
.purchase-plan-block .plan-table .item-volume .volume-unit { padding-left: 2px; }
.purchase-plan-block .plan-table .item-volume .volume-value
{
	margin-left: 11px;
	margin-right: 5px;
	text-align: center;
	width: 50px;
	font-size: 14px;
}
.purchase-plan-block .plan-table .item-price { text-align: center; width: 170px; }

/*
.purchase-plan-block .plan-table .item-notice { text-align: center; width: 200px; }
.purchase-plan-block .plan-table .item-notice .notice-text { min-height:17px; height:auto !important; height:17px; cursor: text; display: inline-block;  width: 100%; }
.purchase-plan-block .plan-table .item-notice .notice-text:focus { background-color: #fff; }
*/

.purchase-plan-block .plan-table .total-price .total-label
{
	font-style: italic;
	padding-left: 24px;
	text-align: left;
}
.purchase-plan-block .plan-table .total-price .total { text-align: center; font-style: italic; font-size: 15px; font-weight: bold; }

.purchase-plan-block .plan-table .total-price td { padding-top: 5px; }

.purchase-plan-block .plan-table td, .purchase-plan-block .plan-table th { padding: 3px; }

.purchase-plan-block .plan-table .included .edit-item { color: #A2210E; }
.purchase-plan-block .plan-table .excluded .edit-item { color: #8DD013; }
.purchase-plan-block .plan-table .included .add { display: none; }
.purchase-plan-block .plan-table .excluded .remove { display: none; }
.purchase-plan-block .plan-table .excluded .item-name { text-decoration: line-through; }
.purchase-plan-block .plan-table .excluded td { opacity: 0.25; background-color: #fff; }
.purchase-plan-block .plan-table .excluded.active td { opacity: 1; }

/*Popup*/
<!--# include virtual="/t/ingredient-popup.css" -->
.popup .popup-back { position: fixed; }
