/*.b-search>dl>dd a:before, 
.b-search>dl>dd a:after,*/
.b:before,
.b:after	{ display: block; height: 1px; content: ''; border: 0 solid #fff; border-width: 0 1px; }

/*not use in Firefox 2*/
/*.b-title .sort-by .b			{ position: relative; }
.b-title .sort-by .b:after		{ position: absolute; bottom: 0; left: 0; right: 0; }
.b-title .sort-by .b:before	{ position: absolute; top: 0; left: 0; right: 0 }
*/
/*.body-wrapper.b:before	{ border-color: #d6d6d6; }
*/
.popup .b:before,
.popup .b:after		{ border-color: #020202}
.column:before,
.column:after	{ display: block; height: 1px; content: ''; border-top: 1px solid #c0c0c0; margin-top: -1px; }
.column:after	{ margin: 0 0 -2px 0; }

/* засчет бордеров и позиционирования. Подходит для обводки */
.border	{ border-color: #c0c0c0; border-style: solid; border-width: 0 1px; height: 100%; margin-top: 1px; }
.bor-wr	{ border-color: #c0c0c0; height: 100%; border-style: solid; margin: 0; position: relative; top: -1px; border-width: 1px 0; }/*.border>div*/

.border-links a			{ display: block; text-decoration: none; float: left; height: 1.64em; line-height: 1.5; padding: 1px 0; color: #fff; margin-right: 12px; }
.border-links a b		{ height: 1.64em; display: block; border: 0 solid transparent; border-width: 0 1px; position: relative; top: 1px; padding: 0 11px; margin: -1px; }
.border-links a.now,
.border-links a:hover	{ background: #0392f1; }
.border-links a.now b,
.border-links a:hover b	{ border-color: #0392f1; }
/*.border-links a:before,
.border-links a:after	{ display: block; height: 1px; content: ''; border-top: 1px solid red; border-color: inherit; margin: -1px -11px 0 -11px; }
.border-links a:after	{ margin: 1px  -11px -2px  -11px; }
*/