html{font-size :101%;}
.gallery-nav ul li a,
.you-choise span,
.win-shop .content form{zoom:1;}
#ingridients-page .count-coctails input{width:130px;}
#top .nav img{padding-top:12px;}
#top h2{top:2px;}
#mybar h2 a{display:inline;zoom:1;}
.mybar-user .menu *{display:inline !important;zoom:1;}
#b-bill ul.money label input{position:absolute;left:0;}
.win-shop .main .zoom{display:inline-block;}
.gallery-nav ul{text-align:center;}
.gallery-nav ul li{float:none;display:inline;zoom:1;}
.dots dl{background-position-y:1.3em;}
.win-shop .main .zoom b{zoom:1;height:12px;}
#overlay{filter:alpha(opacity=75);}
.b-search form dl{white-space:nowrap;}
.b-search form{padding:1px;}
.b-search form fieldset{margin:0px;}
.column{border:1px solid #C0C0C0;}
.column .body-wrapper{border:1px solid #fff;}
.b{zoom:1;}
.hreview .menu p a{zoom:1;padding-top:1px;padding-bottom:1px;position:relative;}
.hreview .menu p a b{position:relative;border:0;display:inline;top:1px;zoom:1;left:-1px;}
.hreview .menu p a.now b,
.hreview .menu p a:hover b{background:#0392f1;}
#ingridients-page .count-cocktails input{width:90%;}
#autocomplete{position:absolute;margin-left:-123px;margin-top:21px;width:90%;z-index:3;}
#preloader{filter:alpha(opacity=85);}
#mybar-settings .attention input{zoom:1;}
.hide_control {display:none;}
#order-page form input.text_field { padding:0 0 0 4px; height: 28px; line-height: 28px;}
img{scrollbar-highlight-color:expression((runtimeStyle.scrollbarHighlightColor="transparent"),(title||(title="")),(this.galleryImg='no'))}

#event-page #get-invitation { color: #fff; text-decoration: none; overflow: visible; margin: 100px; white-space: nowrap; padding: 0 10px 0 0; font-size: 11px; line-height: 11px; }
#event-page #get-invitation span { line-height: 15px; vertical-align: middle; padding: 2px 0 4px 15px; zoom: 1; position: relative; left: -10px; height: 15px; }

#event-page #illustration { float: left; }
#event-page #low-sponsors dl dt { zoom: 1; padding-bottom: 2px; }

#parties-page .party-previews .party { padding-bottom: 4px;}