/*
 * © 2007 http://www.markup.programica.ru/
 * Author - Kornilov Pavel
 */
@import url(ie.css);
html { filter: expression(runtimeStyle.filter = '',document.execCommand('BackgroundImageCache', false, true));}
body { height: 100%; }

#top .nav img { padding-top: 12px; }

#b-bill .total, #b-bill .total *,
.b-content,
.column,
.body-wrapper,
#mybar-cocktails,
#b-bill	dl,
.b-search form dl,
.b-content ul.cocktails li img,
.b-title,
.you-choise span a,
.desc, .entry,
.hreview,
.hreview .menu p a,
.hreview .menu p,
.b-more-cocktails dd
{ zoom:1; }

/*cocktail page*/
.loved { width: 72px; }


.you-choise span a { width: 0; height: 0; }

a {
	scrollbar-face-color: expression(
				runtimeStyle.scrollbarFaceColor = '#fff',
					(!href) ? setAttribute('href',"#") : ''
			);
}
/*html	{ scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff',
				document.createElement('header'),document.createElement('footer'),document.createElement('aside')
			);
}*/
.b-search .groups dd a:hover span { margin: -1px 0; top: 0; }

.b-content ul.cocktails			{ zoom: 1; margin-right: -20px; }
.b-content ul.cocktails li		{ margin-right: 10px; float: none; display: inline; zoom: 1; }


/* png fix */
.b-more #korol-mira .dragger,
.b-content ul.cocktails li .love
{
	filter	: expression(
		(runtimeStyle.filter == '') ? runtimeStyle.filter = 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+', sizingMethod=crop)' : runtimeStyle.filter,
		runtimeStyle.backgroundImage = 'none');
}

.tooltip,
.tooltip .bg { background-image: url('../bg/tooltip/t.8.png'); }


.popup		{ zoom: 1; width: expression( runtimeStyle.width = parentNode.clientWidth+'px' ); }
.b-more dt b	{ margin-bottom: -2px; }
.win-shop .opacity	{ padding-top: 100%; }
.win-shop .win-bg,
.win-shop .main .wrapper,
.win-shop .b-alternative,
.dots dl	{ zoom: 1; }
.win-shop .view-photo ul li	{ vertical-align: top; }
.win-shop .gadget-wrapper { zoom: 1; }
.win-shop .view-photo	{  height: 588px; }
.win-shop .view-photo .bor-wr	{ margin-bottom: -2px; }
.b-more #korol-mira .wrapper { zoom: 1; height: 11.24em; padding-top: 14px; padding-bottom: 17px; margin-bottom: -1px; }

#b-bill	dl
{
	scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff',
					onmouseover = function() {this.className += ' hover'},
					onmouseout = function() {this.className = this.className.replace(/ hover/g, '')}
				);
}


/* антимигание */
#top h2 a,
#top h1	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/t/inshaker.ru.png', sizingMethod='image'); height: 1px; width: 1px; display: block; }
#top h2 img,
#top h1 img	{ display: none; }


#ingridients-page .count-cocktails * { position: relative; z-index: 2; zoom: 1; }
#ingridients-page .count-cocktails
{
	position	: absolute;
	top			: expression(eval(document.documentElement.scrollTop+297) + "px");/*border-width*/
	behavior: expression(
				(runtimeStyle.behavior==''&&currentStyle.backgroundImage!='none') ?
					insertAdjacentHTML('afterBegin', '<div class="ie"" style="height:10px;width:10px;position:absolute;top:0;left:0'
						+';filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+',sizingMethod=crop)">'+'<img src="'+currentStyle.backgroundImage.split('\"')[1]+'" style="visibility: hidden" alt="" /></div>') : '',
				runtimeStyle.backgroundImage = 'none',
				runtimeStyle.behavior = 'none'
			);
}

.win-shop .b-alternative ul img,
#cocktail-page .hreview .entry .illustration,
#mybar-cocktails	li img
{
	filter: expression( (runtimeStyle.filter == '') ? runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod=image)" : '',
						src = '/t/0.gif');
}

.mybar-user .menu a:hover * { zoom: 1; }
.mybar-user .menu a b /* Taransparent border */
{
	filter		: chroma(color=cyan);
	border-left-color: expression( runtimeStyle.borderLeftColor = ((parentNode == parentNode.parentNode.firstChild) ? 'cyan' : currentStyle.borderLeftColor) )
}

#mybar-cocktails				{ width: 96em; }
#mybar-cocktails	.viewport	{ width: 76.5em; }

#b-bill .total li
{
	filter	: expression(
		(runtimeStyle.backgroundImage != 'none') ? runtimeStyle.filter = 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+', sizingMethod=scale)' : runtimeStyle.filter,
		runtimeStyle.backgroundImage = 'none');
}
#b-bill .total li a { position: relative; }

/* position: fixed */
html {  background: url(/t/0.gif); background-attachment: fixed; }

#mybar /*posiition: fixed, bottom: 0*/
{
	position	: absolute;
	top			: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-clientHeight-6) + "px");/*border-width*/
}


/* .class.class hack*/
.b-content .pager .prev	{ background-position-x: 0; }
.b-content .pager .dis	{ background-position-y: -12px; }