<!--# include file="/t/css/ie.css" -->

html{filter:expression(runtimeStyle.filter='',document.execCommand('BackgroundImageCache',false,true));}
body{height:100%;}
#top .nav img{padding-top:12px;}
#b-bill .total,#b-bill .total *,
.b-content,
.column,
.body-wrapper,
#b-bill dl,
.b-search form dl,
.b-content ul.cocktails li img,
.b-title,
.you-choise span a,
.desc,.entry,
.hreview,
.hreview .menu p a,
.hreview .menu p,
.b-more-cocktails dd{zoom:1;}
/*cocktail page*/
.b-search{width:140px;overflow:hidden;}
.b-content{width:426px;overflow:hidden;}
.you-choise span a{width:0;height:0;}
.b-content ul.cocktails{zoom:1;margin-right:-20px;}
.b-content ul.cocktails li{margin-right:10px;float:none;display:inline;zoom:1;}
.win-shop{position:absolute;top:expression(String(document.documentElement.scrollTop)+'px');}
.b-content ul.cocktails img{scrollbar-base-color:expression((runtimeStyle.scrollbarBaseColor="transparent")&&(offsetWidth?(runtimeStyle.width=offsetWidth+'px'):1)&&(offsetHeight?(runtimeStyle.height=offsetHeight+'px'):1)&&(runtimeStyle.filter=(runtimeStyle.filter?runtimeStyle.filter+';':'')+'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="'+src+'",sizingMethod="image")')&&(src='/t/0.png'));}
.b-more dt b{margin-bottom:-2px;}
#main-wrapper{}
.win{position:absolute; left:0; top:0;}
#overlay, #photo-overlay{ width:100%;height:100%;position:absolute;left:0;top:0;filter:alpha(opacity=75);}
.win-shop .win-bg,
.win-shop .main .wrapper,
.dots dl{zoom:1;}
#good_volumes.dots dt{margin-top:5px;}
.win-shop .view-photo ul li{vertical-align:top;}
.win-shop .gadget-wrapper{zoom:1;}
.win-shop .view-photo{height:588px;}
.win-shop .view-photo .bor-wr{margin-bottom:-2px;}
.win-shop .win,.win-shop .win-bg{background-image:none;}
#top h2 a,
#top h1{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/t/inshaker.ru.png',sizingMethod='image');height:1px;width:1px;display:block;}
#top h2 img,
#top h1 img{display:none;}
#ingredients-page .count-cocktails *{position:relative;z-index:2;zoom:1;}
#ingredients-page .count-cocktails{position:absolute;top:expression(eval(document.documentElement.scrollTop+297)+"px");background:#fafafa;border:1px #ddd solid;}
#cocktail-page .hreview .entry .illustration,
body .illustration,body .mini-illustration,#poster,.b-more-cocktails .point img{scrollbar-base-color:expression((runtimeStyle.scrollbarBaseColor="transparent")&&(offsetWidth?(runtimeStyle.width=offsetWidth+'px'):1)&&(offsetHeight?(runtimeStyle.height=offsetHeight+'px'):1)&&(runtimeStyle.filter=(runtimeStyle.filter?runtimeStyle.filter+';':'')+'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="'+src+'",sizingMethod="image")')&&(src='/t/0.png'));}

#cocktails-page #top { left: -9px; }
#cocktails-page #results_display .viewport {width:426px; }
#cocktails-page #results_display .expanded {width: 554px; padding-left: 16px;}
#cocktails-page .search-form {background:red;}
#cocktails-page .search-form input { position:absolute; border-width: 1px 0 0; border-color: #c9c9c9; border-style:solid; margin-left:0; }
#cocktails-page .pager-big { left:567px; }
#cocktails-page .pager-big .prev {background-position-x:-32px}
#cocktails-page .b-content .pager .prev,
#cocktails-page .b-content .pager .next{font-size: 17px;}

#cocktails-page #search_tabs { zoom:1}

#b-bill .body-wrapper {width:270px}
#b-bill .b-title h1 {margin-left: 5px; }
#b-bill .b-title label {zoom:1; position:relative; margin-left:auto;}
#b-bill .b-title input {float:left; width: 265px; height:24px; line-height:24px; background:#FFF} 
#b-bill .b-title .tip {scrollbar-base-color:expression(this.unselectable='on'); padding: 3px 6px; }

#cocktail-page .b-title{}
#cocktail-page .b-content{width:590px;}
#cocktail-page .hreview{/*border:solid 1px red;*/}
#cocktail-page .hreview .top-menu{}
#cocktail-page .hreview .top-menu .b{width:100%;height:182px;overflow:hidden;}

#poster{position:absolute;top:-28px;}
#panel_cocktail, #about-page #menu{/*z-index:20;position:absolute;*/ width:90%;}
#panel_cocktail a, #about-page #menu a{width:1px;white-space:nowrap;}
#panel_cocktail a b, #about-page #menu a b{border:none;}
#cocktail-page .b-content .entry{width:100%;/*background:green;*/}
#cocktail-page #view-how{/*background:red;*/}
#cocktail-page #view-how button{position:static;margin:15px;}
#cocktail-page #view-how button.bt-close-how{margin-left:200px;}
#cocktail-page .hreview .desc{width:365px;}
#cocktail-page .hreview button{float:left;}
#view-video .close{scrollbar-face-color:transparent;}
#ingredients-page .b-content{width:100%;}
#ingredients-page .count-cocktails input{width:90%;}
#ingredients-page .you-choise a{font-size:1px;}
#b-bill .total li {filter:expression((runtimeStyle.backgroundImage!='none')?runtimeStyle.filter='progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+',sizingMethod=scale)':runtimeStyle.filter,runtimeStyle.backgroundImage='none');}
#b-bill .total li a{position:relative;}
.b-search form dd{zoom:1;}
.b-search form dd span{white-space:normal;}
.b-search form dd a{position:relative;right:-5px;background:red;}
/* background-position-[xy] hack */
.b-content .pager .prev{background-position-x:0;}
.b-content .pager .disabled{background-position-y:-12px;}
.b-content .pager .prev,.b-content .pager .next{font-size:2px;}
#cocktail-page #view-how .prev{background-position-x:0;}
.b-more-rec .next,.b-more-cocktails .next{background-position-x:-16px;}
#cocktail-page #view-prepare button{bottom:-50px;}
#about-page .b-content, #delivery-page .b-content {width:590px;}
#about-page .b-content .border-links, #delivery-page .b-content .border-links {width:581px;}
#about-page #poster, #delivery-page #poster {position:absolute;top:42px;}
#about-page #view-stat .stat .prev{background-position-x:0;} 
#preloader{top:0;left:0;width:100%;height:100%;}


#parties-page #want_popup_area{z-index: 99;position:absolute;top:expression(String(document.documentElement.scrollTop)+'px');}
#parties-page .party-photos .disabled { background-position-y: -60px; }
#parties-page .party-photos .prev { background-position-x: -60px; }
#parties-page .party-photos .prev,
#parties-page .party-photos .next { display: block; }
#parties-page .party-photos .hidden {display:none;}
#want_link {margin: 29px 14px 0 0;}

#parties-page .party-previews .prev { background-position-x: -52px; }

#event-page .column-main-container { width: 62.8em; }
#event-page .previews .event .mini a {filter:expression((runtimeStyle.backgroundImage!='none')?runtimeStyle.filter='progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+',sizingMethod=crop)':runtimeStyle.filter,runtimeStyle.backgroundImage='none');}

#event-page #sponsors-others { zoom: 1; }

#event-page .b-content { width:100%; }
#event-page .timeline .previews .prev { background-position-x: -52px; }
#event-page #form-popup { position: absolute; }
#event-page #low-sponsors { zoom: 1; }
#event-page .b-more-cocktails .point {font-size: 103px;}
#event-page .b-more-cocktails .point img {scrollbar-base-color: transparent;}
#event-page #low-sponsors .b-content .viewport .surface a { margin: 0 4px; }
#event-page #form-popup { height: 200%; }
#event-page #form-popup .content form label input { right: 30px; }
#event-page #form-popup .content form .limit input { width: 160px; }
#event-page #form-popup .content form .thanks { left: -20px; }


/* label click forwarding in IE6 */
label{scrollbar-base-color:expression((runtimeStyle.scrollbarBaseColor="transparent"),attachEvent('onclick',function(){try{var n=(getElementsByTagName('input')[0]||getElementsByTagName('textarea')[0]||getElementsByTagName('select')[0]);if(n){n.click();n.focus()}}catch(ex){self.log&&self.log(ex.message)}}))}
