

/* yellow inputs */
#b-bill	dd input,
.b-search form input
{ border: 1px solid red; height: 15px; line-height: 1; padding-top: 3px; border-color: #d7d7d7 #fff #fff #d7d7d7; background: #f1f7b6; margin: 0; width: 31px; }
