@media screen {

#top,
#top .logo,
#top .link { background-image: url(top.png); }

.cocktail-list .prev,
.cocktail-list .next,
.common-share-button i,
.common-share-box .button i,
#common-footer .alcohol-harm,
.common-box .common-mini,
.common-box .common-content-gradiented { background-image: url(common.png); }
.common-box .common-title
{ background-image: url(common.png), url(common.png); }

#top { border-bottom-color: #fff; background-color: #000; }
#top .link { color: #fff; }
#top .link:hover { border-bottom-color: #8dd013; }

#branded-image { display: none; }
a { color: #ec118f; }
html { background-color: #555; } /* fixes centered body bg */
body { background: center top; color: #000; }

.common-box .common-title .common-name { color: #fff; text-shadow: 0 0 3px #fff, 1px 1px 0px #000; }
.common-box .common-mini { color: #fff; border-color: rgba(200, 200, 200, 0.5); text-shadow: 1px 1px 0px #000; }
.common-box .common-content { background-color: #fff; }
.common-box .common-content-gradiented { background-color: #fff; border-color: #fff; }

/* add more X button FIXME: convert to a cammon-* class */
#more .button { background-color: #ec118f; color: #fff; text-shadow: 0 0 2px rgba(0,0,0,0.5); }
#more .button:hover { background-color: #fc0066; text-shadow: 0 0 5px #fff; }

/* cocktails.css */
#cocktail-page button.rounded,
#cocktail-page .square-list .prev,
#cocktail-page .square-list .next { background-repeat: no-repeat; background-image: url(cocktails.png); }
#cocktail-page button.rounded b,
#cocktail-page button.strong b { text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
#cocktail-page button.rounded b { color: #fff; }
#cocktail-page button.strong b { color: #fff; }

/* academy.css */
#academy-page #video-blocks .item .head .example { background-repeat: no-repeat; background-image: url(hart.png); }

/* bars.css */
#bars-page .bar-mini.new a .label,
#bars-page .bar-mini.new a .bar-name { background-color: rgba(101,178,0,0.7); }
#bars-page #sort-menu .bars-select dt,
#bars-page #sort-menu .bars-select dd ul li.selected,
#bars-page #sort-menu .bars-select dd ul li:hover { color: #ec118f; }
#bars-page #map .point .icon,
#bars-page #map .position-control,
#bars-page #mobile-bar { background-image: url(bars-common.png); }
#bars-page #map .point .title { color: #fff; }
#bars-page #map .point .point-name { color: #ec118f; }
#bars-page #map .point.selected .point-name { color: #f00; }

/* bar.css */
#bar-page #main-column .info .block .head,
#bar-page #bar-on-map .head { background-color: #333; }
#bar-page #main-column .info .block .head a { color: #F09741; }


/* footer */
#common-footer { color: #565656; }
#common-footer a { color: inherit; }
#common-footer a:hover { color: #000; }
#common-footer .index { border-bottom: solid 1px #ededed; }
#common-footer .index .theme .head { color: #323232; }
#common-footer .index .theme .head:after { border-left-color: #d6d6d6; background-color: #e0e0e0; border-right-color: #eaeaea; }
#common-footer .bottom { background-color: #f8f8f8; }

/* map */
.common-map .position-control { background-image: url(bars-common.png); background-position: 0 0; }

} /* @media screen */


@media print {

a { color: #ec118f; }

} /* @media print */
