@media screen {

/* combinator.css */
#combinator-page .dropdown-select .body .options .option:hover { color: #ec118f; }

/* academy.css */
#academy-page #video-blocks .item .head .example { background-repeat: no-repeat; background-image: url(hart.png); }

/* bar.css */
#bar-page #main-column .info .block .head,
#bar-page #bar-on-map .head { background-color: #333; }


/* footer */

#common-footer { color: #565656; }
#common-footer a { color: inherit; }
#common-footer a:hover { color: #000; }
#common-footer .index { border-bottom: solid 1px #ededed; }
#common-footer .index .theme .head { color: #323232; }
#common-footer .index .theme .head:after { border-left-color: #d6d6d6; background-color: #e0e0e0; border-right-color: #eaeaea; }
#common-footer .bottom { background-color: #f8f8f8; }

/* ratings.css */
/*#ratings-page*/ .ratings-widget .head .switch { color: #f4a; }


} /* @media screen */


@media print {

a { color: #ec118f; }

} /* @media print */
