@media screen {

html { background: #b6651a url(bg.jpg) center top; } /* fixes centered body bg */
body { background: center top; color: #000; }
a { color: #ec118f; }

.cocktail-list .prev,
.cocktail-list .next,
.common-share-button i,
.common-share-box .button i,
#common-footer .alcohol-harm,
.common-box .common-mini,
#cocktails-page .search-form .magnifier,
.common-box .common-content-gradiented { background-image: url(common.png); }
.common-box .common-title
{
  background-image: url(common.png), url(common.png);
  background-position: -26px -175px, 937px -175px;
}
html.msie-8 .common-box .common-title
{
  background-image: url(common.png);
  background-position: -26px -175px;
}

.cocktail-preview .link { color: inherit; }

#spotlighted i { width: 0; height: 0; right: -6px; top: 16px; }


#branded-image { display: none; }





.common-box { }
.common-box .common-title .common-name { color: #fff; text-shadow: 0 0 3px #fff, 1px 1px 0px #000; }
.common-box .common-mini { color: #fff; border-color: rgba(200, 200, 200, 0.5); text-shadow: 1px 1px 0px #000; }
.common-box .common-content { background-color: #fff; }
.common-box .common-content-gradiented { background-color: #fff; border-color: #fff; }

/* lights and shadows */
#top,
.common-box
{ box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); }
html.shop-section .we-have-more .in-stock-item .picture
{ box-shadow: 0 1px 10px #000, inset 0 1px 10px #000; }
.we-have-more .in-stock-item .name,
.we-have-more .in-stock-item .price
{ text-shadow: 0 1px 2px #000; color: #fff }




/* add more X button FIXME: convert to a cammon-* class */
#more:hover { background-color: #fc0066; color: #fff; }
#more:hover .button { text-shadow: 0 0 5px #fff; color: #fff; text-decoration: none; }

/* cocktail.css */
#cocktail-page button.rounded,
#cocktail-page .square-list .prev,
#cocktail-page .square-list .next { background-repeat: no-repeat; background-image: url(cocktails.png); }
#cocktail-page button.rounded b,
#cocktail-page button.strong b { text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
#cocktail-page button.rounded b { color: #fff; }
#cocktail-page button.strong b { color: #fff; }

/* combinator.css */
#combinator-page .dropdown-select .body .options .option:hover { color: #ec118f; }

/* academy.css */
#academy-page #video-blocks .item .head .example { background-repeat: no-repeat; background-image: url(hart.png); }

/* bar.css */
#bar-page #main-column .info .block .head,
#bar-page #bar-on-map .head { background-color: #333; }


/* footer */
#common-footer .alcohol-harm { background: url(common.png) 0 -50px no-repeat; }
#common-footer { color: #565656; }
#common-footer a { color: inherit; }
#common-footer a:hover { color: #000; }
#common-footer .index { border-bottom: solid 1px #ededed; }
#common-footer .index .theme .head { color: #323232; }
#common-footer .index .theme .head:after { border-left-color: #d6d6d6; background-color: #e0e0e0; border-right-color: #eaeaea; }
#common-footer .bottom { background-color: #f8f8f8; }

/* ratings.css */
/*#ratings-page*/ .ratings-widget .head .switch { color: #f4a; }


} /* @media screen */


@media print {

a { color: #ec118f; }

} /* @media print */
