html {overflow-y: scroll;}
#common-main-wrapper { position: relative; z-index: 1; }
#branded-image-holder { display: none; }

#mobile-bar
{
  display: none;
  position: absolute; right: 0; width: 30px; height: 36px; right: 40px; top: 3px;
  overflow: hidden; text-indent: -1000px;
  background-position: -100px 0;
}

#main-column .content { padding: 20px; }

.bar-mini { float: left; margin: 20px 25px 0 0; }
.bar-mini a { display: block; position:relative; width: 290px; height: 200px; background-position: 0 0; color: #fff; }
.bar-mini a .label,
.bar-mini a .bar-name { position: absolute; left: 0; top: 161px; right: 0px; height: 30px; padding: 9px 10px 0px 15px; font-size: 13px; background-color: rgba(0,0,0,0.6); }

.bar-mini a,
.bar-mini a .label,
.bar-mini a .bar-name { border-radius: 10px; }
.bar-mini a .label,
.bar-mini a .bar-name { border-top-left-radius: 0; border-top-right-radius: 0; }

.bar-mini.new .label { display: none; }
.bar-mini.new:hover .bar-name { display: none; }
.bar-mini.new:hover .label { display: block; }

html.msie-8 .bar-mini a .label,
html.msie-8 .bar-mini a .bar-name { filter: alpha(opacity=80) }
html.msie-8 .bar-mini a .bar-name { background-color: #222; }
html.msie-8 .bar-mini.new a .label,
html.msie-8 .bar-mini.new a .bar-name { background-color: #ff2a92; }


#switch-view a { text-decoration: none; border-bottom: 2px dashed; }
#switch-view a:hover { border-bottom: none; }
#switch-view a.selected { border-bottom: none; color: inherit; cursor: default; }
#switch-view a:not(.selected) { text-shadow: none; }

#sort-menu { margin: 0; padding: 0 16px; height: 40px; background: #333; background: #000 linear-gradient(to bottom, rgba(255,255,255,0.30) 0%, rgba(255,255,255,0) 40px); border-radius: 10px; color: #fff; font-size: 18px; line-height: 36px; position: relative; z-index: 10; user-select: none; }
#sort-menu dl, #sort-menu dt { display: inline; }
#sort-menu dl,
#sort-menu dd { position: relative; }

#sort-menu .bars-select dt { cursor: pointer; border-bottom: 1px dashed; }
#sort-menu .bars-select.single dt { cursor: default; border-bottom: none; color: inherit; }
#sort-menu .bars-select dd { display: none; position: absolute; top: 33px; /*left: 50%;*/ left: -14px; }
#sort-menu .bars-select dd ul { position: relative; /*left: -50%;*/ padding: 5px 15px 9px; width: 260px; background: #333; background: rgba(0,0,0,0.8); border-radius: 10px; border-top-left-radius: 0; border-top-right-radius: 0; color: #fff; }
#sort-menu .bars-select dd ul li { font-size: 14px; line-height: 20px; cursor: pointer; }
#sort-menu .bars-select dd ul li.selected { cursor: default; }
#sort-menu .bars-select dd ul li:hover {}
#sort-menu .bars-select.open dd { display: block; }
#sort-menu .bars-select.open dt { cursor: default; }

#sort-menu #bars-city.bars-select dd { left: -7px; }

#bars-container { margin-right: -23px /* eats item right margin*/; overflow: hidden; clear: both; }

html.loading #bars-container { display: none; }

.please-wait { display: none; }
html.loading .please-wait { display: block; font-size: 16px; margin: 0; padding: 20px 0; text-align: center; color: #888; }

#map { position: relative; height: 500px; clear: both; margin: 20px 0 0; background: #eee; overflow: hidden; }
#map .surface { width: 100%; height: 100%; }
#map .please-wait-map { display: none; }
#map.loading .please-wait-map { display: block; position: absolute; top: 40%; left: 0; padding: 40px 0 0 0; width: 100%; text-align: center; font-size: 25px; }

#main-wrapper .column { width: 958px; /*two pixels for borders*/ }
.body-wrapper { width: 920px; position: relative; }

.bar-map-popup img {width:100px;float:right;}
.bar-map-popup h2 {font-weight:bold;}
.bar-map-popup p {display:block;margin:5px 5px 5px 0;}
