/* common.css */
#top .logo,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.win-shop .content .less i,
.win-shop .content form dl dt i,
.win-shop .content .more i,
button.rounded { background-image: url(common.png); }
#alcohol-harm { background-image: url(alcohol-harm.png) }
#branded-image { background-image: url(image.png); width: 196px; height: 528px; right: 50px; bottom: 120px; }
a { color: #231f20;  }
#top .nav a:hover { border-bottom-color: #b72f25; }
#bottom { color: #b6a258; text-shadow: #000 0 1px; }
#bottom a { color: #f1ece3; }
html { background: #000 url(bg.jpg) center top; }
button.rounded b { text-shadow: 1px 1px 0 #8b5b2c; }
button.strong b { text-shadow: 1px 1px 0 #7b2c2a; }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-image: url(common.png); }
#cart_draghere b { color: #a91f12; }

/* cocktails.css */
#view-how .prev,
#view-how .next { background-image: url(common.png) }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.b-title #spotlighted,
.search-control { background-image: url(cocktails.png) }
#spotlighted { width: 34px; height: 34px; right: 0; bottom: 8px; }
#alphabetical-ru a { color: #f5efba; }
#alphabetical-ru a.selected-button { color: #ec118f; }
#search_tabs li { color: #717171; text-shadow: 0 1px #fff; font-weight: bold; /*letter-spacing: 0.5px;*/ }
#search_tabs li.selected { color: #f3ede3; text-shadow: 0 1px #891408; }
#ingredients_list,
.ingreds-list a { color: #343b40; text-shadow: 0 1px #fff; }
.pager-big .prev,
.pager-big .next { height: 25px; height: 24px; }
.b-content .pager .p-list a { padding: 2px 6px 3px; }
.b-content .pager .p-list a.two { padding: 2px 3px 3px; margin-right: 2px; }
.b-content .pager .p-list .selected-button { color: #f3ede3; text-shadow: 0 1px #891408; }
#b-bill dd li b { color: #888; }
.search-form input { color: #362313; }
.b-search .groups dd { color: #231f20; }
.b-search .groups dd.selected-button { color: #f1ece3; }
.b-search .groups dd.disabled { color: #888; }


/* cocktail.css */
.b-more dt,
.b-more dt b { background-image: url(cocktail.png) }
.b-more dt b { color: #f3ede3; text-shadow: 0 1px #891408; }
.hreview .desc h2 i { background-image: url(common.png); }

/* ingredients.css */
.you-choise a,
.top-alphabetical .now,
.count-cocktails { background-image: url(ingredients.png) }
.count-cocktails strong { color: #a91f12; }

/* about.css */
#form_success i { background-image: url(common.png); }


<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
/* common.css */
#top .logo,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.win-shop .content .less i,
.win-shop .content form dl dt i,
.win-shop .content .more i,
button.rounded { background-image: url(common.8.png); }
#alcohol-harm { background-image: url(alcohol-harm.8.png); }
#branded-image { background-image: url(image.8.png); }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-image: url(common.8.png); }

/* cocktails.css */
#view-how .prev,
#view-how .next { background-image: url(common.8.png) }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.b-title #spotlighted,
.search-control { background-image: url(cocktails.8.png) }

/* cocktail.css */
.b-more dt,
.b-more dt b { background-image: url(cocktail.8.png); }
.hreview .desc h2 i { background-image: url(common.8.png); }

/* ingredients.css */
.you-choise a,
.top-alphabetical .now,
.count-cocktails { background-image: url(ingredients.8.png) }
<!--# endif -->