/* common.css */
#cocktails-page #top .logo,
#cocktails-page .b-more-cocktails .next,
#cocktails-page .win-shop .content .less i,
#cocktails-page .win-shop .content form dl dt i,
#cocktails-page button.rounded
{ background-image: url(common.png); }
#cocktails-page #alcohol-harm
{ background-image: url(alcohol-harm.png) }


/* calculator.css */
#cocktails-page #b-bill dt,
#cocktails-page #b-bill dd li button,
#cocktails-page #b-bill .print-call i,
#cocktails-page #cart_draghere i
{ background-image: url(common.png); }

/* cocktails.css */
#cocktails-page #search_tabs li,
#cocktails-page #alphabetical-ru a.selected-button,
#cocktails-page .ingreds-list,
#cocktails-page .ingreds-list .rem,
#cocktails-page .pager-big .prev,
#cocktails-page .pager-big .next,
#cocktails-page .b-content .pager .p-list a.selected-button,
#cocktails-page #all_list i,
#cocktails-page .b-search .groups dd.selected-button,
#cocktails-page .search-control
{ background-image: url(cocktails.png) }

/* cocktail.css */
#cocktail-page .b-more dt,
#cocktail-page .b-more dt b
{ background-image: url(cocktail.png) }
#cocktail-page .hreview .desc h2 i
{ background-image: url(common.png); }

/* ingredients.css */
#ingredients-page .you-choise a,
#ingredients-page .top-alphabetical .now,
#ingredients-page .count-cocktails
{ background-image: url(ingredients.png) }