/* common.css */
#top .logo,
.b-title #spotlighted,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
.win-shop .content .less i,
.win-shop .content form dl dt i,
.win-shop .content .more i,
button.rounded { background-repeat: no-repeat; background-image: url(common.png); }
#spotlighted { width: 90px; height: 43px; right: -2px; top: -11px; }
#alcohol-harm { background-repeat: no-repeat; background-image: url(alcohol-harm.png); }
#branded-image { background-repeat: no-repeat; background-image: url(image.png); width: 500px; height: 60px; left: -245px; bottom: -640px; }
#branded-image-holder { height: 800px; }
a { color: #f9593b; }
#top .nav a:hover { border-bottom-color: #ba5622; }
#bottom { color: #bbb; padding-top: 0; margin-top: 120px; }
#bottom a { color: #9b562d; }
html { background: #000 url(bg.jpg) no-repeat center 65px; }
button.rounded b { text-shadow: 1px 1px 0 #000; color: #fff; }
button.strong b { text-shadow: 1px 1px 0 #ccc; color: #000; }
#main-wrapper { overflow: hidden; }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-repeat: no-repeat; background-image: url(common.png); }
#b-bill dt { color: #fff; font-weight: bold; }
#b-bill dd input { background-color: #eee; }
#cart_draghere b { color: #e75930; }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-repeat: no-repeat; background-image: url(common.png); }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.search-control { background-repeat: no-repeat; background-image: url(cocktails.png); }
#results_display a {}
#letters_all,
#alphabetical-ru a { color: #fff; }
#alphabetical-ru a.selected-button { color: #000; }
#search_tabs li { color: #000; }
#search_tabs li.selected { color: #fff; }
.ingreds-list a { color: #fff; }
.pager-big .prev,
.pager-big .next { width: 23px; height: 25px; }
.b-content .pager .p-list a { padding: 2px 6px 3px; margin-right: -3px; }
.b-content .pager .p-list a.two { padding: 2px 3px 3px; margin-right: 0; }
.b-content .pager .p-list .selected-button { color: #f3ede3; }
#b-bill dd li b { color: #888; }
.search-form input { color: #362313; }
.b-search .groups dd { color: #231f20; }
.b-search .groups dd.selected-button { color: #fff; }
.b-search .groups dd.disabled { color: #999; }
.autocomplete { left: 0; top: 21px; width: 577px; background-color: #fff; color: #000; border: solid #000; }
.autocomplete .item.selected { background-color: #ccc; }

/* cocktail.css */
.b-more dt,
.b-more dt b { background-repeat: no-repeat; background-image: url(cocktail.png); }
.b-more dt b { color: #fff; }
.hreview .desc h2 i { background-repeat: no-repeat; background-image: url(common.png); }

/* ingredients */
#menu .tweaker .list .item { background-color: #eee; }
#menu .tweaker .list .item:hover { background-color: #ccc; }
#menu .tweaker .list .item.selected { background-color: #999; color: #fff; }


/* matching.css */
#top-alphabetical .item.selected { background-repeat: no-repeat; background-image: url(ingredients.png); }
#top-alphabetical .item.selected .name { color: #fff; }

/* about.css */
#form_success i { background-repeat: no-repeat; background-image: url(common.png); }


/* bars.css */
.bar-mini a { background-image: url(bars-mask-full.png); }
#sort-menu .bars-select dt,
#sort-menu .bars-select dd ul li.selected,
#sort-menu .bars-select dd ul li:hover { color: #f9593b; }
#map .point .icon,
#map .position-control { background-image: url(bars-common.png); }


/* bar.css */
#price-index { color: #f9593b; }


<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
/* common.css */
#top .logo,
.b-title #spotlighted,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
.win-shop .content .less i,
.win-shop .content form dl dt i,
.win-shop .content .more i,
button.rounded { background-image: url(common.8.png); }
#alcohol-harm { background-image: url(alcohol-harm.8.png); }
#branded-image { background-image: url(image.8.png); }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-image: url(common.8.png); }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-image: url(common.8.png) }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.search-control { background-image: url(cocktails.8.png) }

/* cocktail.css */
.b-more dt,
.b-more dt b { background-image: url(cocktail.8.png); }
.hreview .desc h2 i { background-image: url(common.8.png); }

/* matching.css */
#top-alphabetical .item.selected { background-image: url(ingredients.8.png) }

/* bars.css */
#map .point .icon,
#map .position-control { background-image: url(bars-common.8.png); }
<!--# endif -->