html, button { font-family: Arial,sans-serif; }
body { padding: 25px 0 0 0; margin: 0; }

a { color:#cc2f7c; }

.hidden { visibility: hidden; position: absolute !important; top: -100000px !important; }

button { cursor: pointer; border: 1px transparent solid; border-radius: 10px;  text-align: center; padding: 0; font-size: 16px; }
button.action { width: 100px; height: 40px; line-height: 40px; background-color: #cc2f7c; border-color: #cc2f7c; color: #fff; }
button.navigation { width: 90px; height: 30px; line-height: 28px; background-color: #fff; border-color: #c0c0c0; border-radius: 5px; color: #979797; }
button.navigation:hover { border-color: #000; color: #000; }
button.small { height: 27px; line-height: 25px; opacity: 0.2; }
button.small:hover { line-height: 25px; opacity: 1; }
button.active { cursor: default; background: #eee; color: #bbb; border-color: #ccc; }
button .a { display: none; }
button.active .n { display: none; }
button.active .a { display: inline; }


.page { position: relative; width: 500px; height: 275px; border: 1px solid #e0e0e0; margin: 0 auto; padding: 20px; border-radius: 10px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.page .name { font-size: 18px; font-weight: normal; margin: 0 0 20px 0; }
.page .logo { position: absolute; left: 20px; top: 62px; width: 128px; height: 128px; background-image: url(barman.png); }


.page.shaker form { position: absolute; left: 175px; top: 55px; width: 210px; font-size: 16px; }
.page.shaker form label { display: block; padding: 1px 0; }
.page.shaker form label input { vertical-align: bottom; margin: 3px; }
.page.shaker .shake { position: absolute; right: 20px; top: 120px; }
.page.shaker .view-status,
.page.shaker .reset-state { position: absolute; left: 35px;  }
.page.shaker .view-status { top: 200px; }
.page.shaker .reset-state { top: 235px; }
.page.shaker .goto-uploader { position: absolute; right: -115px; top: 110px; }


.page.uploader .comment { position: absolute; left: 175px; width: 200px; }
.page.uploader .upload { position: absolute; right: 20px; top: 120px; }
.page.uploader .goto-shaker { position: absolute; left: -115px; top: 110px; }

.processors-list .advanced { display: none; }
html.advanced .processors-list .advanced { display: block; }


#output { width: 510px; height: 300px; margin: 20px auto; padding: 15px; background: #ededed; border: 1px solid #c0c0c0; font-size: 12px; overflow-y: scroll; white-space: pre; }
#output .welcome { display: block; font-size: 18px; text-align: center; margin-top: 140px; }
#output.server-error { background: #aa0000; color: #000; border-color: #400; }
#output .error { color: #d40; }
#output .warning { color: #e80; }
#output .done { color: #082; }



#left,
#right
{
	position: absolute;
	top: 130px;
	border-radius: 5px;
	padding: 5px;
	border: 1px #c0c0c0 solid;
	color: #979797;
	width: 80px;
	text-align: center;
}

#left:hover,
#right:hover
{
	color: #000000;
	border: 1px #000000 solid;
	cursor: pointer;
}

#right { left: 673px; }
