From: Коктейльный сайт <mail@inshaker.ru>
To: <%=@email%>
Subject: Читайте коктейльные новости на нашем твиттере
Content-Type: text/html; charset=utf-8

<p>Дорогие друзья,</p>

<p>Читайте коктейльные новости на <a href="http://twitter.com/inshaker">twitter.com/inshaker</a></p>

<p>C наилучшими пожеланиями,<br/>
Команда коктейльного сайта Inshaker</p>