.DS_Store
barman/base
analytic/reports/*.xml
update_stats.sh
.TemporaryItems
*.log
*.tmp
*.pid
apache.stable.conf
apache.conf
nginx.conf
htdocs/stat/*
data/*
.idea/encodings.xml
.idea/inshaker.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/projectCodeStyle.xml
.idea/vcs.xml
.idea/workspace.xml