/* skin.css */
@media screen {

#spotlighted i { width: 53px; height: 40px; right: -6px; top: 16px; }
#spotlighted i { background: url(spotlighted.png) 0 0; }

#branded-image { background-repeat: no-repeat; background-image: url(image.jpg); width: 510px; height: 570px; left: 50px; bottom: -596px; }
#branded-image-holder { height: 1040px; position: absolute; top: 65px; bottom: auto; }
html.float-fixed #branded-image-holder { position: fixed; top: 0; bottom: auto; }
html.stick-bottom #branded-image-holder { top: auto; bottom: 0; }

} /* @media screen */
