html { overflow-y: scroll; min-height: 100%; position: relative; }

#branded-image-holder { display: none; }

.common-box .common-title { background: none; z-index: 1; position: relative; }
#main-column { z-index: 2; }

#the-main-menu { position: absolute; z-index: 5; left: 0; top: 0; right: 0; }
#the-main-menu .center { position: relative; width: 922px; height: 60px; padding: 21px 18px 12px 18px; margin: 0 auto; }
#the-main-menu.state-up .center,
#the-main-menu.state-down .center,
#the-main-menu.state-fixed .center { border-bottom: 1px solid #eee; background-color: rgba(255,255,255,0.9); }
#the-main-menu.state-up .center { border-top: 10px solid #eee; margin-top: -10px; }
#the-main-menu.fixed { position: fixed; }

#spotlighted { position: absolute; right: 18px; top: 18px; }

#search-box { position: relative; z-index: 10; top: -3px; }
#search-box .query { color: inherit; width: 798px; }
#search-box .query,
#search-box .button { font-size: 24px; vertical-align: middle; }
#search-box .button.plus { width: 30px; }
#search-box .button.search { width: 80px; }
#search-box .reset { display: none; position: absolute; left: 772px; top: 8px; width: 25px; height: 25px; text-align: center; font-size: 18px; color: #888; cursor: pointer; }
#search-box .reset:hover { color: #000; }

#search-box .autocomplete { display: none; position: absolute; top: 36px; left: 1px; width: 798px; opacity: 0.95; border: solid #ddd; border-width: 0px 1px 1px 1px; background: #fff; font-size: 20px; }
#search-box .autocomplete.focused { display: block; }
#search-box .autocomplete .empty-message { display: none; }
#search-box .autocomplete.empty .empty-message { display: block; }
#search-box .autocomplete .item { padding: 2px 0 4px 5px; cursor: pointer; }
#search-box .autocomplete .item.selected { background-color: #d2d2d2; }
#search-box .autocomplete .item .substr { font-weight: bold; }
#search-box .autocomplete .item .hint { font-size: 0.6em; color: #aaa; vertical-align: middle; }

#output { padding-top: 80px; position: relative; background-image: none; }
#output .body-content { padding: 0 20px; }

#output .empty-block { font-size: 15px; }
#output .empty-block .share-recipe { font-size: 20px; }
#output .empty-block .suggestions { margin: 10px 0;  }
#output .empty-block .suggestions.empty { display: none; }
#output .empty-block .suggestions .list { margin: 0.2em 0; }
#output .empty-block .suggestions .list .item { margin: 10px 0 0 20px; }
#output .empty-block .suggestions .list .item .link { text-decoration: none; border-bottom: 1px dashed; font-size: 17px; }
#output .empty-block .suggestions .list .item .count { font-size: 13px; color: #888; }

#output .initial-block,
#output .result-block,
#output .empty-block,
#output.result-state .sort-line.empty,
#output .sort-line { display: none; }

#output.initial-state .initial-block,
#output.result-state .result-block,
#output.result-state .sort-line,
#output.result-state .reset,
#output.empty-state .sort-line.empty,
#output.empty-state .empty-block { display: block; }

#output .sort-line { font-size: 14px; margin-top: 6px; }
#output .sort-line .cocktail-count { font-style: normal; font-weight: bold; }

#output .result-block { font-size: 14px; }

.dropdown-select { }
.dropdown-select,
.dropdown-select .button { display: inline; position: relative; }

.dropdown-select .button { position: relative; z-index: 2; cursor: pointer; border-bottom: 1px dashed; }
.dropdown-select.single .button { cursor: default; color: inherit; }
.dropdown-select .body { display: none; position: absolute; z-index: 1; left: -17px; top: -9px; }
.dropdown-select .body .options { position: relative; padding: 10px 15px; background-color: #fff; border: 2px solid #ccc; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.dropdown-select .body .options .option { font-size: 14px; line-height: 20px; cursor: pointer; white-space: nowrap; }
.dropdown-select .body .options .option.selected { visibility: hidden; }
.dropdown-select .body .options .option:hover { color: #f84; }
.dropdown-select.open { z-index: 200; }
.dropdown-select.open .body { display: block; }
.dropdown-select.open .button { cursor: default; border: none; color: #aaa; }
.dropdown-select.selected-option-0 .body { top: -13px; }
.dropdown-select.selected-option-1 .body { top: -33px; }
.dropdown-select.selected-option-2 .body { top: -53px; }
.dropdown-select.selected-option-3 .body { top: -73px; }
.dropdown-select.selected-option-4 .body { top: -93px; }
.dropdown-select.selected-option-5 .body { top: -113px; }
.dropdown-select.selected-option-6 .body { top: -133px; }
.dropdown-select.selected-option-7 .body { top: -153px; }
.dropdown-select.selected-option-8 .body { top: -173px; }




.ingredients-list .group { margin: 0 0 25px; width: 940px; }
.ingredients-list .group .head { font-size: 24px; margin: 0 0 15px 0; }
.ingredients-list .group .link { color: #FF0000; }
.ingredients-list .group .list { overflow: hidden; }
.ingredients-list .group .list .item { float: left; position: relative; margin: 0 17px 15px 0; width: 100px; height: 140px; }





.ingrediented-cocktail-list .group { margin: 0 0 50px 0; }
.ingrediented-cocktail-list .group:last-child { margin-bottom: 0; }
.ingrediented-cocktail-list .group.collapsed { margin: 0 0 20px 0; }
.ingrediented-cocktail-list .group.collapsed .row { display: none; }
.ingrediented-cocktail-list .group .group-name { font-size: 35px; }
.ingrediented-cocktail-list .group .group-name:first-letter { text-transform: uppercase; }
.ingrediented-cocktail-list .group .group-name .count { position: relative; top: -15px; padding: 0 0.4em; font-size: 0.45em; color: #ccc; }

.ingrediented-cocktail-list .row { margin: 50px 0 0 0; position: relative; border-bottom: 1px solid #eee; }
.ingrediented-cocktail-list .row:last-child { border-bottom: none; }
.ingrediented-cocktail-list .row.lazy { background: #f4f4f4; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; }
.ingrediented-cocktail-list .row.lines-0 { height: 155px; }
.ingrediented-cocktail-list .row.lines-1 { height: 155px; }
.ingrediented-cocktail-list .row.lines-2 { height: 310px; }
.ingrediented-cocktail-list .row.lines-3 { height: 465px; }
.ingrediented-cocktail-list .row.lines-4 { height: 620px; }
.ingrediented-cocktail-list .row.lines-5 { height: 775px; }

.ingrediented-cocktail-list .row .operator { float: left; vertical-align: middle; line-height: 98px; font-size: 34px; color: #aaa; }

.ingrediented-cocktail-list .row .head { width: 200px; position: absolute; }
.ingrediented-cocktail-list .row .head .cocktail-preview .image { max-width: 120px; }
.ingrediented-cocktail-list .row .head .operator { margin: 0; }

.ingrediented-cocktail-list .row .body { overflow: hidden; width: 800px; left: 150px; position: relative; }
.ingrediented-cocktail-list .row .body .operator { color: #ccc; }
.ingrediented-cocktail-list .row .body .ingredient-preview { margin: 0 15px 55px 15px; }



.ingrediented-cocktail-list .cocktail-preview { float: left; margin-top: -55px;  width: 112px; text-align: center; font-size: 12px; }
.ingrediented-cocktail-list .cocktail-preview .link { text-shadow: #fff 1px 1px 2px, #fff 1px -1px 2px, #fff -1px -1px 2px, #fff -1px 1px 2px; }
.ingrediented-cocktail-list .cocktail-preview .image { display: block; margin: 0 auto -10px; height: 170px; }
.ingrediented-cocktail-list .cocktail-preview.lazy .image { background-color: #f4f4f4; }

.ingredient-preview { display: block; float: left; }
.ingredient-preview,
.ingredient-preview .image { width: 100px; height: 100px; }
.ingredient-preview .image { background-color: #eee; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.ingredient-preview .name { display: block; margin: 5px 0 0 0; text-align: center; font-size: 12px;}

html.opera-9 .ingredient-preview .image:before,
html.opera-10-0 .ingredient-preview .image:before,
html.opera-10-1 .ingredient-preview .image:before,
html.msie-8 .ingredient-preview .image:before,
html.firefox-2 .ingredient-preview .image:before { display: block; height: 100px; width: 100px; content: ''; background: url(/t/ingredient/preview-mask.png); }

html.firefox-2 .ingredient-preview .image { -moz-border-radius: 0; }

html.msie-6 .ingredient-preview .image,
html.msie-7 .ingredient-preview .image { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/t/ingredient/preview-mask.png",sizingMethod="crop"); }

<!--# include virtual="/t/ingredient-popup.css" -->

html.msie-6 .ingredients-list .group .list,
html.msie-7 .ingredients-list .group .list { zoom: 1; }
html.msie-6 .ingrediented-cocktail-list .row .body,
html.msie-7 .ingrediented-cocktail-list .row .body { padding-bottom: 35px; }

html.msie-6 #search-box .button,
html.msie-7 #search-box .button,
html.msie-8 #search-box .button { font-size: 16px; margin: 0 -5px 0 7px; }
html.msie-6 #search-box .reset,
html.msie-7 #search-box .reset,
html.msie-8 #search-box .reset { top: 3px; }
html.msie-6 .ingrediented-cocktail-list .cocktail-preview .image,
html.msie-7 .ingrediented-cocktail-list .cocktail-preview .image,
html.msie-8 .ingrediented-cocktail-list .cocktail-preview .image { width: 100px; }


html.mac #search-box .autocomplete { left: 1px; }
html.mac.opera-9 #search-box .autocomplete,
html.mac.opera-10-0 #search-box .autocomplete,
html.mac.opera-10-1 #search-box .autocomplete { top: 28px; border-color: #eee; }
html.mac.opera-10-5 #search-box .autocomplete,
html.mac.opera-10-6 #search-box .autocomplete,
html.mac.opera-11 #search-box .autocomplete { top: 27px; border-color: #ccc; }
html.mac.firefox #search-box .autocomplete { top: 28px; width: 900px; border-color: #ddd; }

html.win.opera #search-box .autocomplete { top: 28px; border-color: #aab; }
html.win.firefox #search-box .autocomplete { top: 28px; border-color: #aab; }
html.win.chrome #search-box .autocomplete { top: 29px; border-color: #ca8; }
html.msie-6 #search-box .autocomplete,
html.msie-7 #search-box .autocomplete { top: 28px; border-color: #aab; }
html.msie-8 #search-box .autocomplete { top: 27px; border-color: #aab; }
html.msie-9 #search-box .autocomplete { top: 28px; border-color: #bcd; }

html.msie-7 body { position: relative; }
html.firefox-2 body { position: relative; height: none; }
