#top { display: none; }
#bottom { display: none; }
#main-wrapper .column { border: none; }
#main-wrapper .body-wrapper { border: none; }
#output .b-title .bar-link { display: none; }
#bar-name .help, #bar-name .title { font-size: 30px; }

#output .b-content .menu-block .not-available { display: none; }

#output .b-content .ingredients-block { display: none; }
