html.loading .please-wait { display: block; font-size: 16px; margin: 0; padding: 20px 0 50px; text-align: center; color: #888; }
html.loading .b-content { display: none; }
.please-wait { display: none; }

#output { color: #000; }

#output .hidden {
	display: none !important;
}

#output .b-title { background: none; z-index: 1; top: 7px; padding: 0; margin: 0; }

#bar-name
{
	border-bottom: 1px dotted #ddd;
	height: 31px;
	margin-bottom: 24px;
	padding-bottom: 20px;
}

#bar-name .help, #bar-name .title{
	font-size: 24px;
	text-decoration: underline;
	cursor: pointer;
}

#bar-name form.change-name {
	font-size: 24px;
	left: -6px;
	position: relative;
	top: -5px;
}

#bar-name form.change-name input.new-bar-name {
	font-size: 1em;
	position: relative;
	z-index: 1;
	background-color: transparent;
	border: none;
	padding: 2px 2px;
	width: 100%;
}
#bar-name form.change-name .tip {
	left: 4px;
	position: absolute;
	top: 4px;
	color: #BBBBBB;
}

.firefox #bar-name form.change-name input.new-bar-name { left: 2px; top: 2px; }
.safari #bar-name form.change-name input.new-bar-name { left: 2px; top: 1px; }
.chrome #bar-name form.change-name input.new-bar-name { left: 2px; top: 1px; }
#bar-name form.change-name input.new-bar-name:focus { outline: none; }

#output .b-title .bar-link {
	font-size: 24px;
	position: absolute;
	right: 0;
	text-decoration: underline;
	top: 0;
}

#output .b-content h3.title {
	font-size: 24px;
}

#output .b-content .menu-block .name {
	font-size: 17px;
	margin-top: 17px;
	cursor: pointer;
}

#output .b-content .menu-block .recipe {
	font-size: 11px;
	margin-top: 2px;
}

#output .b-content .menu-block .not-available {
	color: #ccc;
}

#output .b-content .menu-block .name.not-available {
	text-decoration: line-through;
}

#output .b-content .menu-block .list { margin-bottom: 10px; }

#output .b-content .empty-menu {
	font-size: 14px;
	color: #ccc;
	margin: 10px 0px;
}

#output .b-content .ingredients-block { margin: 20px 0px 10px; }

#output .b-content .ingredients-block .ing-name { font-size: 14px; margin: 10px 0px 0px; }