/* common.css */
#top .logo,
#spotlighted,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
.win-shop .content .less i,
.win-shop .content form dl dt i,
.win-shop .content .more i,
button.rounded { background-repeat: no-repeat; background-image: url(common.png); }
#spotlighted { width: 93px; height: 30px; right: -8px; top: -2px; }
#alcohol-harm { background-repeat: no-repeat; background-image: url(alcohol-harm.png); }
#branded-image { background-repeat: no-repeat; background-image: url(image.png); width: 465px; height: 555px; left: 85px; bottom: -700px; }
#branded-image-holder { height: 900px; }
a { color: #000; }
#top .nav .link:hover { border-bottom-color: #ab0e1c; }
#bottom { color: #bd1340; text-shadow: 2px 0px 2px #fff, 0px 2px 2px #fff, -2px 0px 2px #fff, 0px -2px 2px #fff; padding-top: 40px; position: static; }
#bottom a { color: #e50000; }
#bottom .main-menu,
#bottom .left-menu { position: relative; z-index: 1; }
html.msie #bottom a { background-color: #000; }
html { background: #fff url(bg.jpg) center -130px repeat-y; }
button.rounded b { text-shadow: 1px 1px 1px rgba(0,0,0,0.4); color: #fff; }
button.strong b { text-shadow: 1px 1px 1px rgba(0,0,0,0.4); color: #bd2330; }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-repeat: no-repeat; background-image: url(common.png); }
#b-bill dt { color: #fff; font-weight: bold; }
#b-bill dd input { background-color: #eee; }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-repeat: no-repeat; background-image: url(common.png); }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.search-control { background-repeat: no-repeat; background-image: url(cocktails.png); }
#results_display a {}
#letters_all,
#alphabetical-ru a { color: #fff; }
#alphabetical-ru a.selected-button { color: #890814; }
#search_tabs li { color: #000; }
#search_tabs li.selected { color: #fff; }
.ingreds-list a { color: #fff; }
.pager-big .prev,
.pager-big .next { width: 23px; height: 25px; }
.b-content .pager .p-list a { padding: 2px 6px 3px; margin-right: -3px; }
.b-content .pager .p-list a.two { padding: 2px 3px 3px; margin-right: 0; }
.b-content .pager .p-list .selected-button { color: #f3ede3; }
#b-bill dd li b { color: #888; }
.search-form input { color: #362313; }
.b-search .groups dd { color: #231f20; }
.b-search .groups dd.selected-button { color: #f1ece3; }
.b-search .groups dd.disabled { color: #999; }
#search_by_ingreds .autocomplete { left: 0; top: 21px; width: 577px; background-color: #fff; color: #000; border-color: #570709; }
#search_by_ingreds .autocomplete .item.selected { background-color: #d2d2d2; }

/* cocktail.css */
.b-more dt,
.b-more dt b { background-color: #bd2330; }
.b-more dt b { color: #fff; }
.hreview .desc h2 i { background-repeat: no-repeat; background-image: url(common.png); }

/* combinator.css */
#output .help-line .hint { color: #ab0e1c; }

/* about.css */
#form_success i { background-repeat: no-repeat; background-image: url(common.png); }
