#top,
#top .logo,
#top .link { background-image: url(top.png); }

#top { border-bottom-color: #fff; background-color: #000; }
#top .link { color: #fff; }
#top .link:hover { border-bottom-color: #8dd013; }

/* common.css */
#spotlighted i,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
button.rounded,
.common-share-box .button i { background-repeat: no-repeat; background-image: url(common.png); }
#spotlighted i { }
#branded-image { display: none; }
#branded-image-holder { }
html.float-fixed #branded-image-holder { }
html.stick-bottom #branded-image-holder { }
a { color: #0392f1; }
html { background: #000 url(bg.png) repeat-x center 47px; }
html.branding-short { background: url(bg-short.png) repeat-x 0 65px #fff; }
button.rounded b,
button.strong b { text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
button.rounded b { color: #fff; }
button.strong b { color: #000; }


/* footer */
#common-footer { color: #aaa; background-color: #000; box-shadow: 0 -8px 12px #000; }
#common-footer a { color: inherit; }
#common-footer a:hover { color: #fff; }
#common-footer .index { border-bottom: solid 1px #2a2929; }
#common-footer .index .theme .head { color: #eee; }
#common-footer .index .theme .head:after { background-image: url(common.png); }
#common-footer .bottom { box-shadow: 0 -50px 150px #1e1c1c; }
#common-footer .alcohol-harm { background-repeat: no-repeat; background-image: url(alcohol-harm.png); }

html.barmen-section #common-footer .about-menu .link.barmen,
html.job-section #common-footer .link.job,
html.about-page #common-footer .link.about,
html.cocktail-groups-section #common-footer .about-menu .link.cocktail-groups
{ color: #fff; cursor: default; text-decoration: none !important; }


/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-repeat: no-repeat; background-image: url(common.png); }
#cart_draghere b { color: #7ca527; }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-repeat: no-repeat; background-image: url(common.png); }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.b-title #spotlighted,
.search-control { background-repeat: no-repeat; background-image: url(cocktails.png); }
#spotlighted { display: none; }
#letters_all,
#alphabetical-ru a { color: #fff; }
#letters_all:hover,
#alphabetical-ru a:hover,
#alphabetical-ru a.selected-button { color: #ec118f; }
#search_tabs li { color: #fff; }
#search_tabs li.selected {}
#ingredients_list,
.ingreds-list a { color: #fff; }
.pager-big .prev,
.pager-big .next { width: 23px; height: 24px; }
.b-content .pager .p-list a { margin-right: 0px; padding: 1px 5px 2px; }
.b-content .pager .p-list a.two { padding: 1px 2px 2px; margin-right: 5px; }
.b-content .pager .p-list a.selected-button { color: #fff; }
#b-bill dd li b {}
.search-form input {}
.b-search .groups dd { color: #0392f1; }
.b-search .groups dd.selected-button { color: #fff; }
.b-search .groups dd.disabled { color: #999; }
.autocomplete { left: -1px; top: 22px; width: 579px; background-color: #fff; color: #000; border: solid #94ba0b; }
.autocomplete .item.selected { background-color: #cede97; }

/* cocktail.css */
.b-more dt,
.b-more dt b { background-color: #77a300; }
.b-more dt b { color: #fff; }
.hreview .desc h2 i { background-repeat: no-repeat; background-image: url(common.png); }

/* magazine.css */
#tags-list .item .icon { background-repeat: no-repeat; background-image: url(common.png); }

/* about.css */
#form_success i { background-repeat: no-repeat; background-image: url(common.png); }

/* bars.css */
.bar-mini a { background-image: url(bars-mask-full.png); }
#sort-menu .bars-select dt,
#sort-menu .bars-select dd ul li.selected,
#sort-menu .bars-select dd ul li:hover { color: #40aaf1; }
#map .point .icon,
#map .position-control,
#mobile-bar { background-image: url(bars-common.png); }
#map .point .title { color: #fff; }
#map .point .point-name { color: #ff4ea5; }
#map .point.selected .point-name { color: #ff2929; }

/* bar.css */
#main-column .info .block .head a {  }
