#top,
#top .logo,
#top .link { background-image: url(top.png); }

#top { border-bottom-color: #fff; background-color: #000; }
#top .link { color: #fff; }
#top .link:hover { border-bottom-color: #8dd013; }

#bottom .alcohol-harm { background-image: url(alcohol-harm.png); }
#branded-image { display: none; }
a { color: #0392f1; }
#bottom { color: #788894; }
#bottom a {}
html { background: #8c7559 url(bg.jpg) center top; color: #343b40; }

.common-box .common-title,
.common-box .common-content { background-image: url(common.png); }
.common-box .common-title { border-color: rgba(255, 250, 250, 0.65); border-bottom-color: #000; }
.common-box .common-content { background-color: #fff; border-color: #fff; }