body { font-size: 14px; }

#common-main-wrapper { z-index: 1; }

#window { position: relative; width: 962px; height: 450px; background-color: #eee; }
#window.loading .layer { visibility: hidden; }
#window.loading .stub { display: block; background: center; }
#window .stub { display: none; width: 100%; height: 100%; }
#window .stub .label { position: absolute; left: 50%; top: 50%; margin: -30px 0 0 -76px; color: #fff; font-size: 45px; text-shadow: 0 0 2px #000; letter-spacing: 0.05em; opacity: 0.7; }
#window .layer { overflow: hidden; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
#window .layer img { display: block; width: 2000px; height: 100%; margin: 0 auto; }
#window .transparent-borders .top,
#window .transparent-borders .right,
#window .transparent-borders .left { background-color: rgba(255, 255, 255, 0.6); }
#window .transparent-borders .bottom { background-color: rgba(0, 0, 0, 0.7); }

#illustration-box .content .description { font-style: italic; font-family: Georgia; font-size: 15px; line-height: 21px; }

#recipe-list .recipe { position: relative; overflow: hidden; margin: 20px 0 50px 0; }
#recipe-list .recipe .name { font-size: 24px; }
#recipe-list .recipe .image-box { float: left; width: 290px; text-align: center; margin-top: 40px; }
#recipe-list .ingredients { overflow: hidden; width: 600px; margin: 35px 0 0 305px; }
#recipe-list .ingredients .ingredient-preview { float: left; margin: 0 20px 20px 0; cursor: pointer; }
#recipe-list .instructions { margin: 0 0 0 305px; width: 500px; }
#recipe-list .instructions .head { margin-bottom: 10px; font-weight: bold; font-size: 14px; }
#recipe-list .instructions .instruction { list-style: decimal; margin: 0 0 5px 0; color: #ccc; }
#recipe-list .instructions .instruction .text { color: #000 }

#advice-list .advice .name { font-size: 24px; line-height: 24px; }
#advice-list .advice .image { margin: 20px 0; }


#cocktail-plan { margin: 15px 0; }
#cocktail-plan .head { font-size: 22px; }
html.msie-6 #cocktail-plan .head *,
html.msie-7 #cocktail-plan .head * { display: inline !important; }
#cocktail-plan .head .people .count { width: 50px; font-size: 25px; text-align: center; }
#cocktail-plan .body .cocktails { overflow: hidden; padding: 5px 0; }
#cocktail-plan .body .cocktails .portion { float: left; width: 220px; margin-right: 10px; }
#cocktail-plan .body .cocktails .portion .control { font-size: 22px; text-align: center; line-height: 24px; margin: 15px 0 0 0; }
#cocktail-plan .body .cocktails .portion .control .count { width: 50px; font-size: 24px; text-align: center; margin-right: 10px; }

#cocktail-plan .cocktail-preview { text-align: center; }
#cocktail-plan .cocktail-preview .link,
#cocktail-plan .cocktail-preview .link .image { display: block; }
#cocktail-plan .cocktail-preview .link .image { margin: 0 auto; margin-bottom: -20px;  }
#cocktail-plan .cocktail-preview .link { font-size: 16px; text-shadow: 0 0 2px #fff; }

.serviette { position: relative; margin: 24px 0; padding: 20px; background: url(serviette.png) -962px 0; min-height: 150px; }
.serviette:before,
.serviette:after { position: absolute; left: 0; width: 962px; height: 12px; background-image: url(serviette.png); content: ''; }
.serviette:before { top: -12px; background-position: 0 0; }
.serviette:after { bottom: -12px; background-position: 0 -13px; }
.common-box .serviette { margin-left: -19px; margin-right: -19px; }

.ingredient-preview { width: 100px; height: 100px; background-color: #eee; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; position: relative; }
html.msie-8 .ingredient-preview:before,
html.opera-10-0 .ingredient-preview:before,
html.opera-10-1 .ingredient-preview:before { position: absolute; left: 0; top: 0; display: block; height: 100px; width: 100px; content: ''; background: url(/t/ingredient/preview-mask.png); }
html.msie-6 .ingredient-preview,
html.msie-7 .ingredient-preview { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/t/ingredient/preview-mask.png",sizingMethod="crop"); }

#purchase-plan { margin-top: 25px; }
#purchase-plan .head { font-size: 22px; }

.common-box { margin-bottom: 30px; }


.transparent-borders .top,
.transparent-borders .right,
.transparent-borders .bottom,
.transparent-borders .left { position: absolute; z-index: 1; }
.transparent-borders .top,
.transparent-borders .bottom { height: 1px; }
.transparent-borders .right,
.transparent-borders .left { width: 1px; }
.transparent-borders .top { top: 0; left: 1px; right: 1px; }
.transparent-borders .right { right: 0; top: 0; bottom: 0; }
.transparent-borders .bottom { bottom: 0; left: 1px; right: 1px; }
.transparent-borders .left { left: 0; top: 0; bottom: 0; }

.hidden { visibility: hidden; position: absolute; top: -20000px !important; }

<!--# include virtual="/t/popup.css" -->
<!--# include virtual="/t/ingredient-popup.css" -->
