#common-main-wrapper { z-index: 1; font-size: 13px; }

#main-column .common-title { position: relative; }
#main-column .common-title .navigation { position: absolute; right: 0; bottom: 15px; font-size: 11px; }
#main-column .common-title .navigation a.hidden { cursor: default; color: #ccc; }
#main-column .common-title .navigation li { display: inline; margin: 0 4px; vertical-align: middle; }

#main-column .description { font-size: 17px; margin: 10px 0 15px 0; line-height: 24px; color: #666; }

#plan { margin: 15px 0; }
#plan .head { font-size: 22px; }
#plan .head .people .count { display: inline-block; min-width: 10px; min-height: 1em; font-size: 25px; color: #000; border-bottom: 2px solid; text-align: center; cursor: pointer; vertical-align: baseline; }
#plan .head .people .count br,
#plan .head .people .count p { display: none; }
#plan .head .people .count.focused { border-color: transparent; cursor: default; outline: none; }


html.msie-6 .photos .disabled { background-position-y: -60px; }
html.msie-6 .photos .prev { background-position-x: -60px; }
html.msie-6 .photos .next { display: block; }
html.msie-6 .photos .prev,
html.msie-6 .photos .next { display: block; background-image: url(../common/photos-buttons.8.png); }
