@media screen {

body { font-size: 14px; }

#common-main-wrapper { z-index: 1; }

#window { position: relative; width: 962px; height: 450px; background-color: #eee; }
#window.loading .layer { visibility: hidden; }
#window.loading .stub { display: block; background: center; }
html.msie-7 #window.rendering,
html.msie-8 #window.rendering,
html.msie-9 #window.rendering { visibility: hidden; }
#window .stub { display: none; width: 100%; height: 100%; }
#window .stub .label { position: absolute; left: 50%; bottom: 10px; margin-left: -40px; color: #fff; font-size: 16px; letter-spacing: 0.1em; }
#window .stub .label .back { opacity: 0.2; text-shadow: 0 0 4px #000; }
#window .stub .label .bar { position: absolute; left: 0; overflow: hidden; width: 0%; opacity: 0.5; }
#window .layer { overflow: hidden; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
#window .layer .surface { height: 100%; }
#window .layer img { display: block; margin: 0 auto; }
#window .transparent-borders .top,
#window .transparent-borders .right,
#window .transparent-borders .left,
#window .transparent-borders .bottom { background-color: rgba(0, 0, 0, 0.4); }

#illustration-box .content .description { padding: 20px; font-style: italic; font-family: Georgia; font-size: 17px; line-height: 25px; }

#recipe-list .recipe { position: relative; overflow: hidden; margin: 20px 0 50px 0; }
#recipe-list .recipe:last-child { margin-bottom: 20px; }
#recipe-list .recipe .name { font-size: 24px; }
#recipe-list .recipe .image-box { float: left; width: 290px; text-align: center; margin-top: 40px; }
#recipe-list .ingredients { overflow: hidden; width: 600px; margin: 35px 0 0 305px; }
html.opera-10-0 #recipe-list .ingredients { margin-left: 15px; }
html.opera-10-1 #recipe-list .ingredients { margin-left: 15px; }
#recipe-list .ingredients .ingredient-preview { float: left; margin: 0 17px 17px 0; cursor: pointer; }
#recipe-list .instructions { margin: 0 0 0 305px; width: 600px; }
#recipe-list .instructions .head { margin-bottom: 10px; font-weight: bold; font-size: 14px; }
#recipe-list .instructions .instruction { list-style: decimal; margin: 0 0 7px 0; color: #ccc; }
#recipe-list .instructions .instruction .text { color: #000; }
#recipe-list .instructions .instruction a { color: #000; }
#recipe-list .instructions .instruction a:hover { color: #ec118f; text-decoration: none; }

#advice-list .advice { margin: 30px 0 75px; }
#advice-list:last-child .advice { margin: 30px 0 0; }
#advice-list .advice .name { font-size: 24px; line-height: 24px; margin-bottom: 20px; }
#advice-list .advice .image { display: block; margin: 10px auto; }


#cocktail-plan { margin: 15px -20px 15px 0; }
#cocktail-plan .head { font-size: 22px; }
#cocktail-plan .head .people .value { width: 50px; font-size: 25px; text-align: center; }
#cocktail-plan .body .portions { overflow: hidden; padding: 5px 0; }
#cocktail-plan .body .portions .portion { float: left; position: relative; width: 450px; height: 120px; margin: 30px 20px 10px 0; }
#cocktail-plan .body .portions .portion .name { margin-left: 100px; min-height: 35px; width: 240px; font-size: 18px; }
#cocktail-plan .body .portions .portion .image-box { position: absolute; left: 0; top: 0; width: 90px; text-align: center; }
#cocktail-plan .body .portions .portion .image-box .image { max-width: 90px; max-height: 120px; }
#cocktail-plan .body .portions .portion .count { position: absolute; left: 340px; top: 0; }
#cocktail-plan .body .portions .portion .count .value { width: 30px; padding: 0 3px 2px 3px; text-align: right; }
#cocktail-plan .body .portions .portion .ingredients { margin: 3px 0 0 100px; width: 310px; font-size: 12px; }
#cocktail-plan .body .portions .portion .ingredients .ingredient { display: inline; cursor: pointer; }
#cocktail-plan .body .portions .portion .ingredients .ingredient:hover { color: #ec118f; }
#cocktail-plan .body .portions .portion .ingredients .ingredient:after { content: ', '; }
#cocktail-plan .body .portions .portion .ingredients .ingredient:last-child:after { content: ''; }

.serviette { position: relative; margin: 12px 0 24px 0; padding: 20px; background: url(serviette.png) -962px 0; min-height: 150px; }
.serviette:before,
.serviette:after { position: absolute; left: 0; width: 962px; height: 12px; background-image: url(serviette.png); content: ''; }
.serviette:before { top: -12px; background-position: 0 0; }
.serviette:after { bottom: -12px; background-position: 0 -13px; }
.common-box .serviette { margin-left: -19px; margin-right: -19px; }

.ingredient-preview { width: 100px; height: 100px; background-color: #eee; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; position: relative; }
.ingredient-preview .name { display: block; margin-top: 105px; text-align: center; word-wrap: break-word; hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; }
html.msie-8 .ingredient-preview:before,
html.opera-10-0 .ingredient-preview:before,
html.opera-10-1 .ingredient-preview:before { position: absolute; left: 0; top: 0; display: block; height: 100px; width: 100px; content: ''; background: url(/t/ingredient/preview-mask.png); }
html.msie-6 .ingredient-preview,
html.msie-7 .ingredient-preview { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/t/ingredient/preview-mask.png",sizingMethod="crop"); }

#lists-box { position: relative; margin-bottom: 58px; }

#ingredients-part,
#tools-part,
#things-part { overflow: hidden; margin-bottom: 10px; }
#things-part { margin-bottom: 0; padding-bottom: 3px; }

#purchase-plan .table .head { font-size: 18px; font-weight: bold; padding: 0 0 10px 0; border-bottom: 2px solid #777; text-indent: -1px; }
#purchase-plan .table .list .ingredient { position: relative; padding: 9px 0 10px 0; border-bottom: 1px solid #f2f2f2; }
#purchase-plan .table .list .ingredient:last-child { border-bottom: none; }
#purchase-plan .table .list .ingredient .name { cursor: pointer; }
#purchase-plan .table .list .ingredient .name:hover { color: #ec118f; }
#purchase-plan .table .list .ingredient .amount { position: absolute; left: 295px; bottom: 3px; }
#purchase-plan .table .list .ingredient .amount .value { width: 40px; padding: 0 3px 2px 3px; text-align: right; }
#purchase-plan .table .list .ingredient .unit { color: #ccc; left: 325px; }
#purchase-plan .table .list .ingredient .cost { position: absolute; right: 7px; }
#purchase-plan .parts-list { margin-bottom: 20px; }
#purchase-plan .total { position: absolute; bottom: -48px; font-size: 18px; width: 450px; }
#purchase-plan .total .head { font-weight: bold; display: inline; }
#purchase-plan .total .body {  width: 500px; font-weight: bold; display: inline; }
#purchase-plan .total .body .per-person { font-size: 12px; color: #888; }

#purchase-plan .preview-list { float: right; width: 468px; margin-bottom: -15px; margin-top: 30px; }
#purchase-plan .preview-list .item { float: left; margin: 0 0 48px 17px; }
#purchase-plan .preview-list .ingredient-preview { cursor: pointer; font-size: 12px; }
#purchase-plan .preview-list .ingredient-preview:hover { color: #ec118f; }
#purchase-plan .preview-list .ingredient-preview .image { display: none; }

#purchase-plan .parts-list { width: 450px; float: left; }

#links-box { position: relative; }
#links-box .share-box { position: absolute; right: 15px; top: 0; }

.common-box { margin-bottom: 30px; }

#links-box .block { margin-top: 5px; }
#links-box .block .label { display: inline-block; height: 20px; vertical-align: middle; }
#links-box .block .button { vertical-align: middle; color: inherit; text-decoration: none; }
#links-box .block .button .name { display: inline-block; height: 12px; vertical-align: middle; }

#party-list-box { display: none; }

.transparent-borders .top,
.transparent-borders .right,
.transparent-borders .bottom,
.transparent-borders .left { position: absolute; z-index: 1; }
.transparent-borders .top,
.transparent-borders .bottom { height: 1px; }
.transparent-borders .right,
.transparent-borders .left { /* hide for now: */ display: none; width: 1px; }
.transparent-borders .top { top: 0; left: 0; right: 0; }
.transparent-borders .right { right: 0; top: 1px; bottom: 1px; }
.transparent-borders .bottom { bottom: 0; left: 0; right: 0; }
.transparent-borders .left { left: 0; top: 1px; bottom: 1px; }

#print-logo-hd { display: none; } 

} /* @media screen */


@media print {

html { font-size: 14px; }

/* very much fixed width */
html,
body,
#common-main-wrapper { width: 962px; }

#common-main-wrapper { overflow: hidden; position: relative; margin: 0 auto; }

#window,
#illustration-box .content,
#advice-list,
#links-box,
#recipes-box .common-title { display: none; }

#party-name { font-size: 25px; width: 730px; }

#recipes-box { margin-bottom: 50px; overflow: hidden; }

#recipe-list .recipe { margin: 30px 0; overflow: hidden; }
#recipe-list .recipe .name { font-size: 20px; }
#recipe-list .recipe .image-box { float: left; width: 290px; text-align: center; margin-top: 20px; }
#recipe-list .ingredients { display: none; }
#recipe-list .instructions { margin: 20px 0 0 305px; width: 600px; }
#recipe-list .instructions .head { margin-bottom: 10px; font-weight: bold; font-size: 14px; }
#recipe-list .instructions .instruction { list-style: decimal; margin: 0 0 7px 0; }
#recipe-list .instructions .instruction a { color: #000; }
#recipe-list .instructions .instruction a:hover { color: #ec118f; text-decoration: none; }

#plan-box .common-title { margin-bottom: 10px; }
#plan-box .common-title .common-name { font-size: 20px; }
#cocktail-plan { margin-bottom: 10px; }
#cocktail-plan .head { display: none; }
#cocktail-plan .portions .portion .name .image { display: none; }
#cocktail-plan .portions .portion .name .link { color: inherit; }
#cocktail-plan .portions .portion .count .value { width: 25px; margin-left: 10px; text-align: center; color: #ec118f; font-size: 20px; }
#cocktail-plan .portions .portion .name:after { content: ':' }
#cocktail-plan .portions .portion .name,
#cocktail-plan .portions .portion .count { display: inline; }
#cocktail-plan .portions .portion .ingredients { display: none; }

#lists-box { position: relative; margin-bottom: 58px; }

#ingredients-part,
#tools-part,
#things-part { overflow: hidden; margin-bottom: 10px; }
#things-part { margin-bottom: 0; }

#purchase-plan .table .head { font-size: 18px; font-weight: bold; padding: 0 0 10px 0; border-bottom: 2px solid #777; text-indent: -1px; }
#purchase-plan .table .list .ingredient { position: relative; padding: 9px 0 10px 0; border-bottom: 1px solid #f2f2f2; }
#purchase-plan .table .list .ingredient:last-child { border-bottom: none; }
#purchase-plan .table .list .ingredient .name { cursor: pointer; }
#purchase-plan .table .list .ingredient .name:hover { color: #ec118f; }
#purchase-plan .table .list .ingredient .amount { position: absolute; left: 295px; bottom: 3px; }
#purchase-plan .table .list .ingredient .amount .value { width: 40px; padding: 0 3px 2px 3px; text-align: right; }
#purchase-plan .table .list .ingredient .unit { color: #ccc; left: 325px; }
#purchase-plan .table .list .ingredient .cost { position: absolute; right: 7px; }
#purchase-plan .parts-list { margin-bottom: 20px; }
#purchase-plan .total { position: absolute; bottom: -48px; font-size: 18px; width: 450px; }
#purchase-plan .total .head { font-weight: bold; display: inline; }
#purchase-plan .total .body {  width: 500px; font-weight: bold; display: inline; }
#purchase-plan .total .body .per-party .cost { color: #ec118f; }
#purchase-plan .total .body .per-person { font-size: 12px; color: #888; }

#purchase-plan .preview-list { float: right; width: 468px; margin-bottom: -15px; margin-top: 30px; }
#purchase-plan .preview-list .item { float: left; margin: 0 0 48px 17px; }
#purchase-plan .preview-list .ingredient-preview { cursor: pointer; font-size: 12px; }
#purchase-plan .preview-list .ingredient-preview:hover { color: #ec118f; }

#purchase-plan .parts-list { width: 450px; float: left; }

.ingredient-preview { width: 80px; height: 80px; }
.ingredient-preview .image { width: 80px; height: 80px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.ingredient-preview .name { display: block; margin-top: 5px; text-align: center; font-size: 10px; }

#print-logo-hd { position: absolute; top: 0; right: 0; width: 150px; }

} /* @media print */

<!--# include virtual="/t/parties/party-list.css" -->

<!--# include virtual="/t/ingredient-popup.css" -->
