#common-main-wrapper { z-index: 1; font-size: 13px; }

#main-column .common-title { position: relative; }
#main-column .common-title .navigation { position: absolute; right: 0; bottom: 15px; font-size: 11px; }
#main-column .common-title .navigation a.hidden { cursor: default; color: #ccc; }
#main-column .common-title .navigation li { display: inline; margin: 0 4px; vertical-align: middle; }

#main-column .description { font-size: 14px; margin: 10px 0 15px 0; line-height: 18px; }

.photos .viewport .point { float: left; width: 590px; height: 242px; }


#map { height: 330px; position: relative; overflow: hidden; background-color: gray !important; }

#map .point { position: absolute; }
#map .point.selected { z-index: 4; }
#map .point:hover { z-index: 5; }
#map .point .icon { position: absolute; left: -10px; top: -24px; width: 21px; height: 25px; background-position: -75px 0; cursor: pointer; }
#map .point.selected .icon { width: 30px; height: 30px; background-position: -75px -25px; cursor: default; }
#map .point .title { display: none; position: absolute; z-index: 10; left: -94px; top: 10px; min-width: 170px; padding: 10px; font-size: 13px; line-height: 17px; color: #fff; background: #000; background: rgba(0,0,0,0.85); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; white-space: nowrap; }
#map .point:hover .title { display: block; }
#map .point .point-name { display: block; font-size: 15px; margin: 0 0 0.5em; color: #f43f3f; }
#map .point.selected .point-name { color: #f47901; }


.position-control { display: none; }
#map .position-control { display: block; position: absolute; left: 20px; top: 20px; width: 61px; height: 106px; background-position: 0 0; }
#map .position-control .to-top,
#map .position-control .to-right,
#map .position-control .to-bottom,
#map .position-control .to-left,
#map .position-control .to-plus,
#map .position-control .to-minus { position: absolute; width: 15px; height: 15px; cursor: pointer; }
#map .position-control .to-top { left: 23px; top: 8px; }
#map .position-control .to-right { left: 32px; top: 26px; }
#map .position-control .to-bottom { left: 23px; top: 44px; }
#map .position-control .to-left { left: 14px; top: 26px; }
#map .position-control .to-plus { left: 23px; top: 62px; }
#map .position-control .to-minus { left: 23px; top: 80px; }

html.msie-6 #common-main-wrapper { width: 630px; overflow: hidden; }
html.msie-6 #main-column .atmosphere,
html.msie-6 #main-column .info { zoom: 1; }
html.msie-6 #main-column .atmosphere .part { width: 240px; }
html.msie-6 .photos .disabled { background-position-y: -60px; }
html.msie-6 .photos .prev { background-position-x: -60px; }
html.msie-6 .photos .next { display: block; }
html.msie-6 .photos .prev,
html.msie-6 .photos .next { display: block; background-image: url(../common/photos-buttons.8.png); }

html.msie-7 #main-column .info .about .contacts,
html.msie-8 #main-column .info .about .contacts { bottom: -1em; }
