#common-main-wrapper { font-size: 16px; }
#branded-image-holder { display: none; }

/* COMMON */
.common-name { line-height: 34px; }
.common-name span { font-size: 32px; vertical-align: top; }
.common-content { margin: 0 0 30px; }
#cocktails { padding: 30px 0 0; border-top: 1px solid #ccc; background: linear-gradient(to bottom, #e0e0e0 0%, rgba(255,255,255,0) 40px); }
#cocktails .common-content-area { padding: 20px 40px; }
#cocktails .title { text-align: center; font-size: 24px; line-height: 31px; letter-spacing: 1px; }
/* END COMMON */

/* COCKTAILS */
#coctails { margin: 10px 0 49px; }
#coctails li { display: inline-block; text-align: center; vertical-align: top; width: 200px; height: 217px; margin: 65px 20px 10px; font-size: 14px; }
#coctails li a { color: #000; }
#coctails li .image { height: 166px; margin: 0 0 10px; text-align: center; position: relative; }
#coctails li .image img { position: absolute; left: 0; right: 0; bottom: 0; margin: 0 auto; max-width: 55%; }
/* END COCKTAILS */

.carousel { background: #444; position: relative; height: 374px; }
.carousel .slides { width: 962px; height: 374px; overflow: hidden; }
.carousel .slides li { float: left; }

<!--# include virtual="we-have-more.css" -->
<!--# include virtual="promo.css" -->

/* MAP */
<!--# include virtual="map.css" -->
#map { display: block; }
#map .close { display: none; }
/* END MAP */

#promo { padding-top: 0; margin: 0;}
