#map
{
  display: none;
}
#map .map
{
  position: absolute; top: 0; left: 0; height: 100%; width: 100%;
}
#map .map .point .icon
{
  left: -20px; top: -60px; width: 40px; height: 60px;
  background: url(icon-map-point.png) 0 0;
}
#map .close
{
  position: absolute; right: 15px; top: 15px;
  width: 40px; height: 40px;
  background: #000;
  text-align: center; font-size: 30px;
  border-radius: 25px; opacity: 0.5;
}
#map .close:hover
{
  opacity: 1; text-decoration: none;
}
