#map
{
  display: none;
}
#map .map
{
  position: absolute; top: 0; left: 0; height: 100%; width: 100%;
}
#map .map .point .icon
{
  left: -20px; top: -60px; width: 40px; height: 60px;
  background: url(icon-map-point.png) 0 0;
}
