.we-have-more { text-align: center; }
.we-have-more .in-stock-item { width: 280px; white-space: normal; display: inline-block; vertical-align: top; margin: 80px 0 0; text-decoration: none; }
.we-have-more .in-stock-item:hover .picture
{
  -webkit-filter: saturate(2.0) brightness(1.25) contrast(1.1);
}
.we-have-more .in-stock-item .picture { display: inline-block; width: 198px; height: 170px; border: 6px solid #fff; border-radius: 2px; box-shadow: 0 1px 10px #000, inset 0 1px 10px #000; margin-bottom: 23px; }
.we-have-more .in-stock-item .name,
.we-have-more .in-stock-item .price
{ display: block; text-shadow: 0 1px 2px #000; color: #fff; }
.we-have-more .in-stock-item .name { font-size: 26px; line-height: 35px; letter-spacing: 2px; }
.we-have-more .in-stock-item .price { margin-top: 15px; font-size: 33px; font-weight: bold; }
.we-have-more .in-stock-item:nth-child(3n+2)
{
  margin-left:  60px;
  margin-right: 60px;
}
.we-have-more .in-stock-item:nth-child(6n+1) .picture
{
  -webkit-transform: rotate(-2.5deg);
     -moz-transform: rotate(-2.5deg);
      -ms-transform: rotate(-2.5deg);
       -o-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg);
}
.we-have-more .in-stock-item:nth-child(6n+2) .picture
{
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}
.we-have-more .in-stock-item:nth-child(6n+3) .picture
{
  -webkit-transform: rotate(-2.3deg);
     -moz-transform: rotate(-2.3deg);
      -ms-transform: rotate(-2.3deg);
       -o-transform: rotate(-2.3deg);
          transform: rotate(-2.3deg);
}
.we-have-more .in-stock-item:nth-child(6n+4) .picture
{
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}
.we-have-more .in-stock-item:nth-child(6n+5) .picture
{
  -webkit-transform: rotate(-2.5deg);
     -moz-transform: rotate(-2.5deg);
      -ms-transform: rotate(-2.5deg);
       -o-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg);
}
.we-have-more .in-stock-item:nth-child(6n+6) .picture
{
  -webkit-transform: rotate(3.2deg);
     -moz-transform: rotate(3.2deg);
      -ms-transform: rotate(3.2deg);
       -o-transform: rotate(3.2deg);
          transform: rotate(3.2deg);
}
