.we-have-more { text-align: center; }
.we-have-more .in-stock-item { width: 280px; white-space: normal; display: inline-block; vertical-align: top; margin: 80px 0 0; text-decoration: none; }
.we-have-more .in-stock-item .picture { display: inline-block; width: 198px; height: 170px; border: 6px solid #fff; border-radius: 2px; box-shadow: 0 1px 10px #000, inset 0 1px 10px #000; margin-bottom: 23px; }
.we-have-more .in-stock-item .name { display: block; font-size: 24px; line-height: 1.5; text-transform: uppercase; letter-spacing: 2px; color: #fff; text-shadow: 0 1px 3px #000; }
.we-have-more .in-stock-item .price { display: block; font-size: 33px; font-weight: 700; color: #000; text-shadow: 0 -1px 2px rgba(255,255,255,0.25); }
.we-have-more .in-stock-item:nth-child(3n+2)
{
  margin-left:  60px;
  margin-right: 60px;
}
.we-have-more .in-stock-item:nth-child(6n+1) .picture
{
  -webkit-transform: rotate(-2.5deg);
     -moz-transform: rotate(-2.5deg);
      -ms-transform: rotate(-2.5deg);
       -o-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg);
}
.we-have-more .in-stock-item:nth-child(6n+2) .picture
{
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}
.we-have-more .in-stock-item:nth-child(6n+3) .picture
{
  -webkit-transform: rotate(-2.3deg);
     -moz-transform: rotate(-2.3deg);
      -ms-transform: rotate(-2.3deg);
       -o-transform: rotate(-2.3deg);
          transform: rotate(-2.3deg);
}
.we-have-more .in-stock-item:nth-child(6n+4) .picture
{
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}
.we-have-more .in-stock-item:nth-child(6n+5) .picture
{
  -webkit-transform: rotate(-2.5deg);
     -moz-transform: rotate(-2.5deg);
      -ms-transform: rotate(-2.5deg);
       -o-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg);
}
.we-have-more .in-stock-item:nth-child(6n+6) .picture
{
  -webkit-transform: rotate(3.2deg);
     -moz-transform: rotate(3.2deg);
      -ms-transform: rotate(3.2deg);
       -o-transform: rotate(3.2deg);
          transform: rotate(3.2deg);
}
