.shop-any-banner { margin-top: 30px; }

.shop-any-banner .title .cards
{
  position: absolute; top: 0; right: 0; width: 200px; height: 100%;
  background: url(/w/shop-any-banner/cards.png) center center no-repeat;
}
.shop-any-banner.common-column-2n .title .long
{
  display: none;
}
.shop-any-banner.common-column-2n .title .cards { right: -25px; }

.shop-any-banner h1 a { text-shadow: none; }

.shop-any-banner .image
{
  display: block; height: 374px;
  background: #ccc url(/w/shop-club-banner/promo-wide.jpg) top center;
}
.shop-any-banner.common-column-2n .image
{
  background-image: url(/w/shop-club-banner/promo.jpg);
}

.shop-any-banner .map { height: 374px; }
.shop-any-banner .map .point .icon { background-image: url(/w/shop-any-banner/icon-map-point.png); }
.shop-any-banner .map .point .icon { left: -19px; top: -60px; width: 40px; height: 60px; background-position: 0 0; }

.shop-any-banner .the-body { background-color: #000; }
.shop-any-banner .info { overflow: hidden; color: #fff; font-size: 16px; min-height: 61px; border-top: 1px solid #313131; white-space: nowrap; line-height: 54px; padding: 15px 15px 15px 15px; }
.shop-any-banner .info > div { display: inline-block; vertical-align: middle; padding-left: 40px; position: relative; white-space: normal; }
.shop-any-banner .info .icon { position: absolute; left: 0; top: 50%; margin-top: -15px; background: url(/w/shop-any-banner/icons-info.png) no-repeat; overflow: hidden; display: inline-block; width: 31px; height: 31px; }
.shop-any-banner .info p { line-height: 1.3; }
.shop-any-banner .info .location { line-height: 1.1; width: 150px; }
.shop-any-banner .info .location .icon { background-position: 0 0; }
.shop-any-banner .info .phone { min-width: 131px; }
.shop-any-banner .info .phone .icon { background-position: -31px 0; }
.shop-any-banner .info .phone p { margin-left: -5px; }
.shop-any-banner .info .time { min-width: 142px; }
.shop-any-banner .info .time .icon { background-position: -62px 0; }
.shop-any-banner .info .parking { width: 80px; }
.shop-any-banner .info .parking .icon { background-position: -93px 0; }

.shop-any-banner .info .location,
.shop-any-banner .info .phone,
.shop-any-banner .info .time
{ margin-right: 85px; }
.shop-any-banner.column-main .info .location,
.shop-any-banner.column-main .info .phone,
.shop-any-banner.column-main .info .time
{ margin-right: 22px; }


@media print {

.shop-any-banner { display: none; }

} /* @media print */