#main-box { margin-bottom: 30px; }

#party-list { overflow: hidden; width: 944px; margin: 6px 0 -12px 0; }
#party-list .item { float: left; margin: 0 20px 19px 0; }
#party-list .party { position: relative; display: block; width: 452px; height: 280px; color: #fff; border-radius: 4px; -moz-border-radius: 4px; background: center 0 no-repeat; }
#party-list .party .name { position: absolute; left: 0; bottom: 0; width: 432px; height: 44px; padding: 20px 0 0 20px; background-color: rgba(0,0,0,0.65); font-size: 18px; border-radius: 4px; border-top-left-radius: 0; border-top-right-radius: 0; -moz-border-radius: 4px; -moz-border-radius-topleft: 0; -moz-border-radius-topright: 0; text-shadow: 1px 1px 2px #000, -1px -1px 2px #000; }
#party-list .party.big { width: 924px; height: 450px; }
#party-list .party.big .name { width: 904px; height: 53px; font-size: 26px; }
html.msie-8 #party-list .party .name { background-color: #222; filter: alpha(opacity=85); }
