#top,
#top .logo,
#top .link { background-image: url(top.png); }

#top { border-bottom-color: #fff; background-color: #000; }
#top .link { color: #fff; }
#top .link:hover { border-bottom-color: #c00; }

/* common.css */
#spotlighted,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
button.rounded { background-repeat: no-repeat; background-image: url(common.png); }
#spotlighted { width: 53px; height: 50px; right: 0px; top: -14px; }
#bottom .alcohol-harm { background-repeat: no-repeat; background-image: url(alcohol-harm.png); }
#branded-image { background-repeat: no-repeat; background-image: url(image.jpg); width: 410px; height: 530px; left: 147px; bottom: -700px; }
#branded-image-holder { height: 970px; }
a { color: #000; }
#bottom { color: #444; text-shadow: 2px 0px 2px #000, 0px 2px 2px #000, -2px 0px 2px #000, 0px -2px 2px #000; }
#bottom .link { color: #c00; }
html { background-color: #fff; } /* fixes centered body bg */
body { background: #000 url(bg.jpg) center 20px repeat; }
button.rounded b,
button.strong b { text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
button.rounded b { color: #fff; }
button.strong b { color: #000; }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-repeat: no-repeat; background-image: url(common.png); }
#b-bill dt { color: #fff; font-weight: bold; }
#b-bill dd input { background-color: #eee; }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-repeat: no-repeat; background-image: url(common.png); }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.search-control { background-repeat: no-repeat; background-image: url(cocktails.png); }
#results_display a {}
#letters_all,
#alphabetical-ru a { color: #fff; }
#alphabetical-ru a.selected-button { color: #000; }
#search_tabs li { color: #000; }
#search_tabs li.selected { color: #fff; }
.pager-big .prev,
.pager-big .next { width: 23px; height: 25px; }
.b-content .pager .p-list a { padding: 2px 6px 3px; margin-right: -3px; }
.b-content .pager .p-list a.two { padding: 2px 3px 3px; margin-right: 0; }
.b-content .pager .p-list .selected-button { color: #fff; }
#b-bill dd li b { color: #888; }
.search-form input { color: #000; }

/* cocktail.css */
#top-menu .border-links a:hover,
#b-more dt,
#b-more dt b { background-color: #222; }
#b-more dt b { color: #fff; }
#main-content .description .summary i { background-repeat: no-repeat; background-image: url(common.png); }

/* combinator.css */
#output .help-line .hint.single { color: #c00; }
#output .help-line .hint.double { color: #c00; }
