/* skin.css */
@media screen {

html.cocktails-section,
html.combinator-section,
html.ratings-section,
html.academy-section,
html.bars-section,
html.mybar-section,
html.cocktail-groups-section
{ background: #223757 url(/skin/2014.04/bg.jpg) center 65px; }

#spotlighted i
{
  display: block;
  width: 65px; height: 65px; right: -10px; top: 5px;
  background: url(/skin/2014.04/logo.png) center center no-repeat;
}
#combinator-page #spotlighted i
{
  background: url(/skin/2014.04/logo.png) center center no-repeat;
}

#branded-image-holder
{
  height: 956px; position: absolute; top: 154px; bottom: auto;
}
#branded-image
{
  display: block;
  width: 315px; height: 450px; right: 0; top: 23px;
  background: url(/skin/2014.04/image.png) center no-repeat;
  box-shadow: none;
}

#cocktail-page #branded-image-holder,
#cocktails-page #branded-image-holder,
#academy-page #branded-image-holder,
#bar-page #branded-image-holder
{ display: block; }

} /* @media screen */
