#common-main-wrapper { font-size: 13px; }

#main-column { width: 627px; position: relative; z-index: 1; }
.common-box .common-content { overflow: hidden; }

#main-column .common-title { position: relative; }
#main-column .common-title .navigation { position: absolute; right: 0; bottom: 15px; font-size: 11px; }
#main-column .common-title .navigation a.hidden { cursor: default; color: #ccc; }
#main-column .common-title .navigation li { display: inline; margin: 0 4px; vertical-align: middle; }

#main-column .content { padding: 18px; }

#main-column .description { font-size: 14px; margin: 0 0 15px 0; line-height: 18px; }

#main-column .atmosphere { overflow: hidden; margin-top: 12px; }
#main-column .atmosphere .part { width: 250px; float: left; }
#main-column .atmosphere .part dt,
#main-column .atmosphere .part dd { display: inline; }
#main-column .atmosphere .feature { margin-left: 10px; }
#main-column .atmosphere .people { margin-left: 75px; }

#main-column .info { overflow: hidden; margin-top: 25px; position: relative; }
#main-column .info .block { float: left; width: 265px; }
#main-column .info .block .head { height: 31px; padding: 0 10px; line-height: 28px; color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#main-column .info .block .body { padding: 0 10px; }

#main-column .info .hit .cocktail-preview { width: 200px; min-height: 390px; margin: 0 auto; }
#main-column .info .hit .cocktail-preview .link { display: block; text-align: center; }
#main-column .info .hit .cocktail-preview .link .image { display: block; }

#main-column .info .about { margin-left: 60px; }
#main-column .info .about .part { margin-bottom: 1em; }
#main-column .info .about .part:last-child { margin-bottom: 0; }
#main-column .info .about .part dt,
#main-column .info .about .part dd { display: inline; }
#main-column .info .about .part dt { font-weight: bold; display: block; }
#main-column .info .about .part dd { line-height: 18px; }
#main-column .info .about .contacts { position: absolute; bottom: 0; width: 250px; }
#main-column .info .about .index { font-size: 48px; margin: 15px 0 20px -3px; }

#bar-on-map { position: relative; z-index: 1; width: 630px; margin-top: 20px; }
#bar-on-map .head { height: 31px; padding: 0 20px; position: relative; line-height: 28px; color: #fff; }
#bar-on-map .body { border: 1px solid #564; border-top: none; }
#bar-on-map .head .taxi { position: absolute; right: 20px; top: 0; display: none; }
#bar-on-map .head .taxi .name i { display: inline-block; width: 15px; height: 6px; margin: 1px 2px; background-image: url(chequered-pattern.png); }
#bar-on-map .head .taxi .name { color: #e6d408; }
#bar-on-map .head .taxi .code { color: #999; }

.photos .viewport,
.photos { overflow: hidden; position: relative; }

.photos .viewport { cursor: -moz-grab; cursor: -webkit-grab; cursor: grab; }
.photos .viewport.grabbing { cursor: -moz-grabbing; cursor: -webkit-grabbing; cursor: grabbing; }
.photos .viewport .point { float: left; }
.photos .viewport .surface { width: 20000px; padding: 0; margin: 0; }
.photos .prev,
.photos .next { position: absolute; z-index: 10; width: 60px; height: 60px; display: none; background: url(photos-buttons.png); }
.photos:hover .prev,
.photos:hover .next { display: block; }
.photos .prev { left: 0; background-position: -60px 0; }
.photos .next { right: 0; background-position: 0 0; }
.photos .prev.disabled { background-position: -60px -60px; cursor: default; }
.photos .next.disabled { background-position: 0 -60px; cursor: default; }

.photos.geometry-small .viewport .point,
.photos.geometry-small { width: 590px; height: 242px; }
.photos.geometry-small .prev,
.photos.geometry-small .next { top: 98px; }

.photos.geometry-big .viewport .point,
.photos.geometry-big { width: 590px; height: 320px; }
.photos.geometry-big .prev,
.photos.geometry-big .next { top: 132px; }


#share-box { position: absolute; right: 0; top: 0; }

#map { height: 330px; position: relative; overflow: hidden; background-color: gray !important; }

#map .point { position: absolute; }
#map .point.selected { z-index: 4; }
#map .point:hover { z-index: 5; }
#map .point .icon { position: absolute; left: -10px; top: -24px; width: 21px; height: 25px; background-position: -75px 0; cursor: pointer; }
#map .point.selected .icon { width: 30px; height: 30px; background-position: -75px -25px; cursor: default; }
#map .point .title { display: none; position: absolute; z-index: 10; left: -94px; top: 10px; min-width: 170px; padding: 10px; font-size: 13px; line-height: 17px; background: #000; background: rgba(0,0,0,0.85); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; white-space: nowrap; }
#map .point:hover .title { display: block; }
#map .point .point-name { display: block; font-size: 15px; margin: 0 0 0.5em; }
#map .point.selected .point-name {  }


.position-control { display: none; }
#map .position-control { display: block; position: absolute; z-index: 1; left: 10px; top: 10px; width: 61px; height: 106px; background-position: 0 0; opacity: 0.2 }
#map .position-control:hover { opacity: 1 }
#map .position-control .to-top,
#map .position-control .to-right,
#map .position-control .to-bottom,
#map .position-control .to-left,
#map .position-control .to-plus,
#map .position-control .to-minus { position: absolute; width: 15px; height: 15px; cursor: pointer; }
#map .position-control .to-top { left: 23px; top: 8px; }
#map .position-control .to-right { left: 32px; top: 26px; }
#map .position-control .to-bottom { left: 23px; top: 44px; }
#map .position-control .to-left { left: 14px; top: 26px; }
#map .position-control .to-plus { left: 23px; top: 62px; }
#map .position-control .to-minus { left: 23px; top: 80px; }

html.msie-6 #common-main-wrapper { width: 630px; overflow: hidden; }
html.msie-6 #main-column .atmosphere,
html.msie-6 #main-column .info { zoom: 1; }
html.msie-6 #main-column .atmosphere .part { width: 240px; }
html.msie-6 .photos .disabled { background-position-y: -60px; }
html.msie-6 .photos .prev { background-position-x: -60px; }
html.msie-6 .photos .next { display: block; }

html.msie-7 #main-column .info .about .contacts,
html.msie-8 #main-column .info .about .contacts { bottom: -1em; }
