html { overflow-y: scroll; }

#main-column { font-size: 14px; }
#main-column .title h1 { display: inline; font-size: 21px; }
#main-column .about { line-height: 20px; }
#main-column .about .facts { width: 960px; margin: 0 0 25px; line-height: 21px; counter-reset: fact; }
#main-column .about .facts .column { width: 426px; margin: 0 22px; display: inline-block; vertical-align: top; }
#main-column .about .facts li { margin: 0 0 7px 0; clear: both; list-style: none; counter-increment: fact; }
#main-column .about .facts li:before { display: inline-block; width: 20px; padding-right: 5px; margin-left: -25px; text-align: right; content: counter(fact) "."; }
#main-column .about .facts li img { float: left; width: 90px; margin: 8px 10px 4px 0; border-radius: 7px; }
#main-column .about .facts li:nth-child(1) img { float: right; margin: 8px 0 4px 10px; }

#branded-image-holder { display: none; }

#groups-list { overflow: hidden; border-top: 1px solid #eee; margin: 20px 0 10px 0; padding-top: 20px; font-size: 20px; }
#groups-list .item { float: left; margin: 0 60px 25px 0; }
#groups-list .item:nth-child(3n) { margin-right: 0; }
#groups-list .item .group { display: block; position: relative; width: 260px; height: 50px; padding: 425px 0 0 0; text-align: center; }
#groups-list .item .group .image-box { position: absolute; bottom: 45px; left: 0; right: 0; text-align: center; }
#groups-list .item .group .name .count { font-size: 11px; color: #aaa; margin-left: 5px;  position: absolute; }
#groups-list .item .group:hover .name .count { text-decoration: none; }

html.loading #cocktail-list { display: none; }
#cocktail-list { border-top: 1px solid #eee; margin: 20px 0 10px 0; padding-top: 20px; }


.ingrediented-cocktail-list .group { margin: 0 0 50px 0; }
.ingrediented-cocktail-list .group.collapsed { margin: 0 0 20px 0; }
.ingrediented-cocktail-list .group:before, .ingrediented-cocktail-list .group:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.ingrediented-cocktail-list .group:after { clear: both; }

.ingrediented-cocktail-list .group.collapsed .row { display: none; }
.ingrediented-cocktail-list .group .group-name { font-size: 35px; }
.ingrediented-cocktail-list .group .group-name:first-letter { text-transform: uppercase; }
.ingrediented-cocktail-list .group .group-name .count { position: relative; top: -15px; padding: 0 0.4em; font-size: 0.45em; color: #ccc; }

.ingrediented-cocktail-list .row { margin: 50px 0 0 0; position: relative; border-bottom: 1px solid #eee; }
.ingrediented-cocktail-list .row:last-child { border-bottom: none; }
.ingrediented-cocktail-list .row.lazy { background: #f4f4f4; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; }
.ingrediented-cocktail-list .row.lines-0 { height: 155px; }
.ingrediented-cocktail-list .row.lines-1 { height: 155px; }
.ingrediented-cocktail-list .row.lines-2 { height: 310px; }
.ingrediented-cocktail-list .row.lines-3 { height: 465px; }
.ingrediented-cocktail-list .row.lines-4 { height: 620px; }
.ingrediented-cocktail-list .row.lines-5 { height: 775px; }

.ingrediented-cocktail-list .row .operator { float: left; vertical-align: middle; line-height: 98px; font-size: 34px; color: #aaa; }

.ingrediented-cocktail-list .row .head { width: 200px; position: absolute; }
.ingrediented-cocktail-list .row .head .cocktail-preview .image { max-width: 120px; }
.ingrediented-cocktail-list .row .head .operator { margin: 0; }

.ingrediented-cocktail-list .row .body { overflow: hidden; width: 800px; left: 150px; position: relative; }
.ingrediented-cocktail-list .row .body .operator { color: #ccc; }
.ingrediented-cocktail-list .row .body .ingredient-preview { margin: 0 15px 55px 15px; }

.ingrediented-cocktail-list .row.odd { float: left; width: 451px; margin: 0; border: none; }
.ingrediented-cocktail-list .row.even { float: right; width: 451px; margin: 0; border: none; }

.ingrediented-cocktail-list .row.odd .image,
.ingrediented-cocktail-list .row.even .image { width: 60px; height: 113px; }

.ingrediented-cocktail-list .row.odd .cocktail-name,
.ingrediented-cocktail-list .row.even .cocktail-name { font-size: 18px; }

.ingrediented-cocktail-list .row.odd .cocktail-recipe,
.ingrediented-cocktail-list .row.even .cocktail-recipe { padding: 3px 0px 0px 1px; font-size: 10px; }

.ingrediented-cocktail-list .row.odd .body,
.ingrediented-cocktail-list .row.even .body{ width: 341px; left: 80px; top: 40px; }

.ingrediented-cocktail-list .cocktail-preview { float: left; margin-top: -55px;  width: 112px; text-align: center; font-size: 12px; }
.ingrediented-cocktail-list .cocktail-preview .link { text-shadow: #fff 1px 1px 2px, #fff 1px -1px 2px, #fff -1px -1px 2px, #fff -1px 1px 2px; }
.ingrediented-cocktail-list .cocktail-preview .image { display: block; margin: 0 auto -10px; height: 170px; }
.ingrediented-cocktail-list .cocktail-preview.lazy .image { background-color: #f4f4f4; }


.ingredient-preview { display: block; float: left; }
.ingredient-preview,
.ingredient-preview .image { width: 100px; height: 100px; }
.ingredient-preview .image { background-color: #eee; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.ingredient-preview .name { display: block; margin: 5px 0 0 0; text-align: center; font-size: 12px;}

html.opera-9 .ingredient-preview .image:before,
html.opera-10-0 .ingredient-preview .image:before,
html.opera-10-1 .ingredient-preview .image:before,
html.msie-8 .ingredient-preview .image:before,
html.firefox-2 .ingredient-preview .image:before { display: block; height: 100px; width: 100px; content: ''; background: url(/t/ingredient/preview-mask.png); }

html.firefox-2 .ingredient-preview .image { -moz-border-radius: 0; }

html.msie-6 .ingredient-preview .image,
html.msie-7 .ingredient-preview .image { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/t/ingredient/preview-mask.png",sizingMethod="crop"); }

<!--# include virtual="/t/popup.css" -->
<!--# include virtual="/t/ingredient-popup.css" -->
