body,table,
h1,h2,h3,h4,
p,form,
fieldset,legend,
ol,ul,li,dl,dt,dd{margin:0;padding:0;border:0;font-weight:normal;list-style:none;}
h2,h3,h4,h5,h6{font-weight:normal;font-size:16px;}
td{font-size:1em;vertical-align:top;}
img{vertical-align:middle;}
a { cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
a img{border:0;}
input,select,textarea,button{font-family:Tahoma,Arial,sans-serif;}
input,select,textarea{font-size:1.1em;}
input[type="password"],
input[type="text"]{margin:0;}
ul{list-style-type:none;}
table{border:0;border-collapse:collapse;}
table td{padding:0;}
.to-print{display:none;}

html{background-color:#fff;}
body{font:10px Tahoma,Arial,sans-serif;color:#343b40;position:relative;min-height:100%;padding:0 0 35px 0;}

/* navigation.css */
#top { position: relative; z-index: 5; height: 60px; width: 100%; font-size: 12px; margin: 0 auto 39px; border-bottom: 5px solid #fff; background: #000 url(top-gradient-v.png) repeat-x scroll 0 0; }
#top #top-content {position: relative; margin: 0 auto; width: 960px; }
#top h2 { position: absolute; left: -9px; top: 3px; }
#top .nav { position: absolute; left: 190px; top: 0; /*height: 65px;*/ width: 786px; overflow: hidden; font-weight: bold; }
#top .nav li{float:left;margin-right:16px;}
#top .nav .link { display: block; display: inline-block; height: 37px; font-size: 14px; text-decoration: none; color: #fff; border-bottom: 5px solid #fff; /*line-height: 48px;*/ padding: 23px 18px 0px; }
#top .nav .link:hover{border-bottom: 5px solid;}
#top .nav .blog { position: absolute; right: 0px; }
#top .logo { width: 147px; height: 60px; background-position: -250px 0; display: block; text-indent: 200px; overflow: hidden; }
#index-page #top .logo { cursor: default; }

#bottom { position: relative; width: 960px; padding-top: 40px; margin: 0 auto; z-index: 1; font-size: 11px; line-height: 17px; }
#bottom a { padding: 7px; }
#bottom .main-menu { float: right; }
#bottom .left-menu { margin-left: -7px; }
#bottom .alcohol-harm { margin-top: 30px; width: 960px; height: 60px; background-position: 0 0; }

#branded-image-holder { position: absolute; z-index: 0; right: 0; bottom: 0; width: 100%; overflow: hidden; background-position: 0 0; }
#branded-image-holder .center { width: 1px; height: 1px; margin: 0 auto; position: relative; }
#branded-image { display: block; position: absolute; }

#spotlighted { position: absolute; background-position: 0px -100px; text-decoration: none; }

/* really common rules */
#common-main-wrapper { margin: 0 auto; width: 962px; }
.common-box { box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); border-radius: 7px; }
.common-box .common-title { padding: 22px 22px 22px 22px; background: url(common.png) 0 0; border: 1px solid rgba(255, 250, 250, 0.65); border-bottom: 1px solid #000; border-radius: 7px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.common-box .common-title .common-name { color: #fff; font-size: 24px; font-weight: bold; text-shadow: 0 0 3px #fff, 1px 1px 0px #000; }
.common-box .common-content { padding: 14px 18px 14px 18px; background: #fff url(common.png) 0 -75px repeat-x; border: 1px solid #fff; border-radius: 7px; border-top-left-radius: 0; border-top-right-radius: 0; }

.cocktail-list .prev,
.cocktail-list .next { position: absolute; top: 54px; height: 14px; width: 14px; z-index: 2; }
.cocktail-list .prev { background-position: -500px 0; left: 0px; }
.cocktail-list .next { background-position: -525px 0; right: -2px; }
.cocktail-list .prev.disabled { background-position: -500px -25px; cursor: default; }
.cocktail-list .next.disabled { background-position: -525px -25px; cursor: default; }

#share-box .button { display: inline-block; width: 30px; height: 30px; }
#share-box .button i { display: block; margin: 7px 0 0 7px; width: 16px; height: 16px; }
#share-box .button.facebook i { background-position: -150px 0; }
#share-box .button.facebook:hover i { background-position: -175px 0; }
#share-box .button.twitter i { background-position: -150px -25px; }
#share-box .button.twitter:hover i { background-position: -175px -25px; }
#share-box .button.vkontakte i { background-position: -150px -50px; }
#share-box .button.vkontakte:hover i { background-position: -175px -50px; }
