#friends-club-info
{
  height: 640px; margin-top: -38px; padding-top: 130px;
  border-bottom: solid 10px #fff;
  background: #444 url(promo.jpg) center top; text-shadow: 1px 1px 1px #000;
}

#friends-club-info .container
{
  margin: 0 auto; width: 850px; color: #fff; font-size: 200%;
}

#friends-club-info .container h1 { font-size: 300%; font-weight: bold; margin-bottom: 1em; }
#friends-club-info li { background: url(list-heart.png) no-repeat left 8px; padding: 3px 0px 3px 55px; list-style: none; margin: 0; margin-bottom: 1.2em; }

#the-form
{
  margin-top: 100px;
}
#the-form .content
{
  overflow: hidden;
}
#the-form iframe
{
  width: 100%; height: 940px;
}
