/* common.css */
#top .logo,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
.win-shop .content .less i,
.win-shop .content form dl dt i,
.win-shop .content .more i,
button.rounded { background-repeat: no-repeat; background-image: url(common.png); }
#alcohol-harm { background-repeat: no-repeat; background-image: url(alcohol-harm.png); }
#branded-image { display: none; }
a { color: #0392f1; }
#top .nav a:hover { border-bottom-color: #8dd013; }
#bottom { color: #788894; }
#bottom a {}
html { background: #fff url(/t/grey-gradient-v.png) repeat-x center top; }
button.rounded b { text-shadow: 1px 1px 0 #576d1d; }
button.strong b { text-shadow: 1px 1px 0 #8f2b47; }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-repeat: no-repeat; background-image: url(common.png); }
#cart_draghere b { color: #7ca527; }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-repeat: no-repeat; background-image: url(common.png); }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.b-title #spotlighted,
.search-control { background-repeat: no-repeat; background-image: url(cocktails.png); }
#spotlighted { display: none; }
#letters_all,
#alphabetical-ru a { color: #fff; }
#alphabetical-ru a.selected-button { color: #ec118f; }
#search_tabs li { color: #fff; }
#search_tabs li.selected {}
#ingredients_list,
.ingreds-list a { color: #fff; }
.pager-big .prev,
.pager-big .next { width: 23px; height: 24px; }
.b-content .pager .p-list a { margin-right: 0px; padding: 1px 5px 2px; }
.b-content .pager .p-list a.two { padding: 1px 2px 2px; margin-right: 5px; }
.b-content .pager .p-list a.selected-button { color: #fff; }
#b-bill dd li b {}
.search-form input {}
.b-search .groups dd { color: #0392f1; }
.b-search .groups dd.selected-button { color: #fff; }
.b-search .groups dd.disabled { color: #999; }
.autocomplete { left: -1px; top: 22px; width: 579px; background-color: #fff; color: #000; border: solid #94ba0b; }
.autocomplete .item.selected { background-color: #cede97; }

/* cocktail.css */
.b-more dt,
.b-more dt b { background-repeat: no-repeat; background-image: url(cocktail.png); background-color: #77a300; }
.b-more dt b { color: #fff; }
.hreview .desc h2 i { background-repeat: no-repeat; background-image: url(common.png); }

/* matching.css */
.you-choise a,
.top-alphabetical .now,
.count-cocktails { background-repeat: no-repeat; background-image: url(ingredients.png); }
.count-cocktails strong { color: #eb1c57; }

/* about.css */
#form_success i { background-repeat: no-repeat; background-image: url(common.png); }


<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
/* common.css */
#top .logo,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
.win-shop .content .less i,
.win-shop .content form dl dt i,
.win-shop .content .more i,
button.rounded { background-repeat: no-repeat; background-image: url(common.8.png); }
#alcohol-harm { background-repeat: no-repeat; background-image: url(alcohol-harm.8.png); }
#branded-image { background-repeat: no-repeat; background-image: url(image.8.png); }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-repeat: no-repeat; background-image: url(common.8.png); }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-repeat: no-repeat; background-image: url(common.8.png); }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.b-title #spotlighted,
.search-control { background-repeat: no-repeat; background-image: url(cocktails.8.png); }

/* cocktail.css */
.b-more dt,
.b-more dt b { background-repeat: no-repeat; background-image: url(cocktail.8.png); }
.hreview .desc h2 i { background-repeat: no-repeat; background-image: url(common.8.png); }

/* matching.css */
.you-choise a,
.top-alphabetical .now,
.count-cocktails { background-repeat: no-repeat; background-image: url(ingredients.8.png); }
<!--# endif -->