From: Cocktail site Inshaker <event@inshaker.ru>
To: <%=@email%>
Subject: I Неофициальный форум коммерческой недвижимости | 1st Annual Commercial Real Estate networking gala
Content-Type: text/html; charset=UTF-8

<p><b>Поздравляем!</b></p>
<p>Вы стали зарегистрированным гостем 1-го неофициального форума коммерческой недвижимости!</p>
<p>Мероприятие пройдет в знаменитом клубе Pacha Moscow, 29 октября! До события еще целый месяц, а количество участников уже превысило 500 человек и стремительно растет. Клуб Pacha вместителен, однако места для всех желающих может не хватить, поэтому на форум смогут попасть только зарегистрированные гости, принадлежащие к группе участников рынка коммерческой недвижимости. </p>
<p>Регистрация продлится <b>до 19 октября</b>, поэтому торопитесь позвать своих друзей и коллег, чтобы <a href="http://www.inshaker.ru/events/moskva/realestate-forum">успеть внести себя в списки и попасть на форум!</a></p>
<p>Последние 12 месяцев были трудными и, похоже, ситуация меняется к лучшему, поэтому приходите и получайте удовольствие — вы этого заслуживаете! </p>
<p>И пожалуйста, не забывайте о том, что этот форум не состоялся бы без наших спонсоров и партнеров:</p>
<p><b>Генеральный партнер</b></p>
<p><a href="http://www.interkom-m.com/">Интерком-М</a></p>
<p><b>Официальные партнеры</b></p>
<p><a href="http://www.whitegardens.ru/">Офисный комплекс White Gardens</a></p>
<p><a href="http://www.theconcept.r/">Concept</a></p>
<p><a href="http://www.sawatzky.ru/">The Sawatzky</a></p>
<p><b>Партнер</b></p>
<p><a href="http://www.skolkovo.ru/content/view/310/344/lang,ru/">SKOLKOVO EMBA</a></p>
<p><b>При поддержке</b></p>
<p>Генеральный интернет партнер - <span class="s4"><a href="http://www.arendator.ru/"><span class="s5">www.arendator.ru</span></a></span></p>
<p>Генеральный информационный партнер - <span class="s4"> <a href="http://www.cre.ru/"><span class="s5">CRE Magazine</span><span class="s6"> </span></a></span></p>
<p>Стратегический информационный партнер - <a href="http://www.vedomosti.ru/"><span class="s7">Ведомости</span></a><span class="s8"> </span></p>
<p>Надеемся на скорую встречу,<br/>Стивен О'Коннор, Роман Фотиев и Коктейльный сайт <a href="http://www.inshaker.ru/"><span class="s9">Inshaker.ru</span></a></p>
<p>PS Детальная информация о форуме будет отправлена ближе к дате проведения мероприятия.</p>
<p> </p>
<p> </p>
<p><b>Congratulations!</b></p>
<p>You now are an officially registered guest of 1st Real Estate Networking Gala!</p>
<p>The event will take place in famous Pacha Club Moscow on October 29! We already have more than 500 guests and this number is rapidly increasing. Pacha is spacious, however it will not accommodate each and every one, therefore only registered guests will be admitted.</p>
<p>Registration <b>will be closed on October 19</b>, therefore invite your friends and colleagues <a href="http://www.inshaker.ru/events/moscow/realestate-forum-eng">to register (who belong to Commercial Real Estate group) now</a>!</p>
<p>The last 12 months were hard and the situation appears to be turning, so come an enjoy yourself - you deserve it! We wish to thank our sponsor partners in advance, because without them none of this would be possible.</p>
<p><b>General Partner</b></p>
<p><a href="http://www.interkom-m.com/">Интерком-М</a></p>
<p><b>Official Partners</b></p>
<p><a href="http://www.whitegardens.ru/">White Gardens</a></p>
<p><a href="http://www.theconcept.r/">Concept</a></p>
<p><a href="http://www.sawatzky.ru/">The Sawatzky</a></p>
<p><b>Partner</b></p>
<p><a href="http://www.skolkovo.ru/content/view/310/344/lang,ru/">SKOLKOVO EMBA</a></p>
<p><b>Supported by</b></p>
<p>General internet partner — <span class="s4"> <a href="http://www.arendator.ru/"><span class="s5">www.arendator.ru</span></a></span></p>
<p>General information partner — <span class="s4"> <a href="http://www.cre.ru/"><span class="s5">CRE Magazine</span><span class="s6"> </span></a></span></p>
<p>Strategy partner — <a href="http://www.vedomosti.ru/"><span class="s7">Vedomosti</span></a><span class="s8"> </span></p>
<p><br></p>
<p>Sincerely,<br/>Stephen O'Connor, Roman Fotiev &amp; <a href="http://Inshaker.ru/"><span class="s12">Inshaker.ru</span></a></p>
<p>P.S. Detailed informaion regarding entrance procedure will be sent to your email closer to the date of the event.</p>
