#top,
#top .logo,
#top .link { background-image: url(top.png); }

#top { border-bottom-color: #fff; background-color: #000; }
#top .link { color: #fff; }
#top .link:hover { border-bottom-color: #2e63c1; }

/* common.css */
#spotlighted i,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
button.rounded { background-repeat: no-repeat; background-image: url(common.png); }
#spotlighted i { position: absolute; width: 88px; height: 42px; right: 10px; top: 6px; }
#common-footer .alcohol-harm { background-repeat: no-repeat; background-image: url(alcohol-harm.png); }
#branded-image { background-repeat: no-repeat; background-image: url(image.png); width: 500px; height: 520px; top: 20px; left: 140px; cursor: default; }
#branded-image-holder { height: 780px; position: absolute; top: 85px; bottom: auto; }
html.float-fixed #branded-image-holder { position: fixed; top: 0; bottom: auto; }
html.stick-bottom #branded-image-holder { top: auto; bottom: 0; }
a { color: #2e63c1; }
#common-footer { color: #888; }
#common-footer .link { color: #2e63c1; }
html { background: #fff url(bg.png) repeat-x center 60px; }
button.rounded b { text-shadow: 1px 1px 0 #000; color: #fff; }
button.strong b { text-shadow: 1px 1px 0 #ccc; color: #000; }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-repeat: no-repeat; background-image: url(common.png); }
#b-bill dt { color: #fff; font-weight: bold; }
#b-bill dd input { background-color: #eee; }
#cart_draghere b { color: #2e63c1; }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-repeat: no-repeat; background-image: url(common.png); }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.search-control { background-repeat: no-repeat; background-image: url(cocktails.png); }
#results_display a {}
#letters_all,
#alphabetical-ru a { color: #fff; }
#alphabetical-ru a.selected-button { color: #000; }
#search_tabs li { color: #000; }
#search_tabs li.selected { color: #fff; }
.ingreds-list a { color: #fff; }
.pager-big .prev,
.pager-big .next { width: 23px; height: 25px; }
.b-content .pager .p-list a { padding: 2px 6px 3px; margin-right: -3px; }
.b-content .pager .p-list a.two { padding: 2px 3px 3px; margin-right: 0; }
.b-content .pager .p-list .selected-button { color: #f3ede3; }
#b-bill dd li b { color: #888; }
.search-form input { color: #362313; }
.b-search .groups dd { color: #231f20; }
.b-search .groups dd.selected-button { color: #f1ece3; }
.b-search .groups dd.disabled { color: #999; }
.autocomplete { left: 0; top: 21px; width: 577px; background-color: #fff; color: #000; border: solid #570709; }
.autocomplete .item.selected { background-color: #d2d2d2; }

/* cocktail.css */
.b-more dt,
.b-more dt b { background-repeat: no-repeat; background-image: url(cocktail.png); }
.b-more dt b { color: #fff; }
.hreview .desc h2 i { background-repeat: no-repeat; background-image: url(common.png); }
