#poll-popup .popup-controls,
#poll-popup .popup-window { width: 430px; margin: 0 auto; top: 40px; position: relative; }
#poll-popup .popup-controls { height: 10px; }
#poll-popup .popup-controls .cross { position: absolute; z-index: 100; right: -18px; top: -5px; }

#poll-popup .poll-window { position: relative; min-height: 150px; padding: 30px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; background-color: #fff; box-shadow: 0 0 20px -3px #ffb; font-size: 15px; }
#poll-popup .poll-window h4 { font-size: 20px; margin-bottom: 15px; }
#poll-popup .poll-window .variants li { display: block; margin: 0 0 10px 0; }
#poll-popup .poll-window .variants .control { margin: 0 10px 0 0; }
#poll-popup .poll-window .confirm { font-size: 17px; margin: 22px 0 0; text-align: center; }

#poll-popup .poll-window .thank-you { display: none; position: absolute; top: 50%; left: 0; width: 100%; margin-top: -0.65em; font-size: 35px; text-align: center; }
#poll-popup .poll-window.done .thank-you { display: block; }
#poll-popup .poll-window.done .poll-form { visibility: hidden; }

#bottom .copyright .poll-show { cursor: pointer; }