#top,
#top .logo,
#top .link { background-image: url(top.png); }

#top { border-bottom-color: #fff; background-color: #000; }
#top .link { color: #fff; }
#top .link:hover { border-bottom-color: #d00; }

/* common.css */
#spotlighted,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
button.rounded,
#share-box .button i { background-repeat: no-repeat; background-image: url(common.png); }
#spotlighted { width: 67px; height: 40px; right: 18px; top: 6px; }
html.msie-6 #spotlighted { width: 45px; height: 43px; right: 6px; top: 6px; }
#bottom .alcohol-harm { background-repeat: no-repeat; background-image: url(alcohol-harm.png); }
#branded-image { background-repeat: no-repeat; background-image: url(image.jpg); width: 440px; height: 670px; top: 30px; left: 110px; }
#branded-image-holder { height: 960px; min-width: 985px; position: absolute; top: 85px; bottom: auto; }
html.msie-6 #branded-image-holder { position: absolute !important; }
html.float-fixed #branded-image-holder { position: fixed; top: 0; bottom: auto; }
html.stick-bottom #branded-image-holder { top: auto; bottom: 0; }
a { color: #c00; }
#bottom { color: #bbb; }
#bottom .link { color: #c00; }
html { background-color: #fff; }
body { background: #000 url(bg.jpg) no-repeat center 65px; }
html.float-fixed,
html.stick-bottom { background-attachment: fixed; background-position: center -20px; }
html#bars-page { background-attachment: fixed; background-position: center 0; }
button.rounded b { text-shadow: 1px 1px 0 #000; color: #fff; }
button.strong b { text-shadow: 1px 1px 0 #ccc; color: #000; }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-repeat: no-repeat; background-image: url(common.png); }
#b-bill dt { color: #fff; font-weight: bold; }
#b-bill dd input { background-color: #eee; }
#cart_draghere b { color: #e75930; }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-repeat: no-repeat; background-image: url(common.png); }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.search-control { background-repeat: no-repeat; background-image: url(cocktails.png); }
#results_display a {}
#letters_all,
#alphabetical-ru a { color: #fff; }
#alphabetical-ru a.selected-button { color: #000; }
#search_tabs li { color: #000; }
#search_tabs li.selected { color: #fff; }
.ingreds-list a { color: #fff; }
.pager-big .prev,
.pager-big .next { width: 23px; height: 25px; }
.b-content .pager .p-list a { padding: 2px 6px 3px; margin-right: -3px; }
.b-content .pager .p-list a.two { padding: 2px 3px 3px; margin-right: 0; }
.b-content .pager .p-list .selected-button { color: #f3ede3; }
#b-bill dd li b { color: #888; }
.search-form input { color: #362313; }
.b-search .groups dd { color: #231f20; }
.b-search .groups dd.selected-button { color: #fff; }
.b-search .groups dd.disabled { color: #999; }
.autocomplete { left: 0; top: 21px; width: 577px; background-color: #fff; color: #000; border: solid #000; }
.autocomplete .item.selected { background-color: #ccc; }

/* cocktail.css */
.b-more dt,
.b-more dt b { background-repeat: no-repeat; background-image: url(cocktail.png); }
.b-more dt b { color: #fff; }
.hreview .desc h2 i { background-repeat: no-repeat; background-image: url(common.png); }


/* bars.css */
.bar-mini a { background-image: url(bars-mask-full.png); }
#sort-menu .bars-select dt,
#sort-menu .bars-select dd ul li.selected,
#sort-menu .bars-select dd ul li:hover { color: #d33; }
#map .point .icon,
#map .position-control,
#mobile-bar { background-image: url(bars-common.png); }
#map .point .title { color: #fff; }
#map .point .point-name { color: #d33; }
#map .point.selected .point-name { color: #e64518; }

/* bar.css */
#main-column .info .block .head a { color: #d33; }
