@media screen {

#b-more {margin-top:20px;width:630px;height: 151px;}
#b-more .b-more-cocktails { width:397px;}
#b-more .common-box { float: left; }
#b-more dl{font-size:120%;height:150px;}
#b-more dt{ border-bottom: 1px solid #dbdbdb;}
#b-more dt b{padding:0 10px 0 20px; line-height:34px; font-size:15px; font-weight:normal; display:block; height:31px;}
#b-more dd{line-height:1.17;position:relative;}
#b-more .b-more-rec .point{width:210px; display:block}
#b-more .b-more-rec {width:210px;margin-right:20px;}
#b-more .b-more-rec li{width:130px;}
#b-more.wide .b-more-rec { display: none; }
#b-more.wide .b-more-similar { width: 628px; }
.b-more-cocktails .viewport{overflow:hidden;position:relative;height:120px;}
.b-more-cocktails .surface{width:20000px;height: 140px;}
.b-more-cocktails .point{height:140px;width:330px;float:left;}
.b-more-cocktails ul{padding-top:5px;}
.b-more-cocktails li{width:8em;text-align:center;float:left;width:110px;}
.b-more-cocktails img{display:block;margin:0 auto 5px;}
.b-more-cocktails .prev,
.b-more-cocktails .next{position:absolute;top:54px;height:14px;width:14px;z-index:2;}
.b-more-cocktails .prev{background-position:-500px 0;left:0px;}
.b-more-cocktails .next{background-position:-525px 0;right:-2px;}
.b-more-cocktails .prev.disabled{background-position:-500px -25px;cursor:default;}
.b-more-cocktails .next.disabled{background-position:-525px -25px;cursor:default;}
.b-more-cocktails .cocktail-list .prev,
.b-more-cocktails .cocktail-list .next{position:absolute;top:54px;height:14px;width:14px;z-index:2;}
.b-more-cocktails .cocktail-list .prev{background-position:-500px 0;left:0px;}
.b-more-cocktails .cocktail-list .next{background-position:-525px 0;right:-2px;}
.b-more-cocktails .cocktail-list .prev.disabled{background-position:-500px -25px;cursor:default;}
.b-more-cocktails .cocktail-list .next.disabled{background-position:-525px -25px;cursor:default;}
#related .viewport { margin: -4px auto 0; }
#related .prev { left: 14px; }
#related .next { right: 14px; }

.cocktail-preview .link { display: block; width: 105px; margin: 0 auto; color: inherit; }

/* that great buttons */
button.rounded { position: relative; margin: 0; padding: 0; border: 0; width: 145px; height: 24px; overflow: hidden; color: #fff; cursor: pointer; background: none; }
button.rounded b { position: relative; left: 1px; top: 0px; font-size: 11px; line-height: 12px; letter-spacing: 0.1em; font-weight: normal; }
button.tiny { width: 110px; background-position: 0 -25px; }
button.strong { background-position: 0 -50px; }
html.msie-6 button.rounded b,
html.msie-7 button.rounded b,
html.msie-8 button.rounded b { font-weight: bold; top: 5px; }
html.msie-7 button.rounded b,
html.msie-8 button.rounded b { display: inline-block; letter-spacing: 0.1px; filter: Shadow(Color=#333333,Direction=135,Strength=1); padding-bottom: 1px; }
html.msie-8 button.rounded b { top: -2px; }
html.firefox button.rounded b {  top: -2px; }
html.safari button.rounded b { top: -1px; }


.column-main { width: 627px; }

.common-title { position: relative; }
.common-title h1 { position: relative; }
.common-title .hrefs { display: none; position: absolute; right: 0; top: 31px; font-size: 12px; color: #fff }
.common-title h1,
.common-title .hrefs { z-index: 10; }

.b-content { position: relative; }
.b-content .viewport{height:560px;overflow:hidden;position:relative;}
.b-content .surface{padding:500px;width:10000px;}

.common-box { position: relative; z-index: 1; }

.square-list .next,
.square-list .prev { display: block; width: 20px; height: 20px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.square-list .prev { background-position: -450px 0; }
.square-list .next { background-position: -475px 0; }
.square-list .prev.disabled,
.square-list .next.disabled { cursor:default; }
.square-list .prev.disabled { background-position: -450px -25px; }
.square-list .next.disabled { background-position: -475px -25px; }

#top-menu { height: 152px; border-top: 2px solid #000; background-color: #433; }
#top-menu .poster
{
  position: absolute; top: -74px; left: 0; width: 627px; height: 228px;
  background-repeat: no-repeat; background-position: center bottom;
  background-size: 640px 228px;/* 640x228 fixes blury upper border */;
}

#content { position: relative; min-height: 190px; }

#cocktail-image { position: absolute; left: 13px; bottom: -33px; z-index: 1; }

#main-content,
#view-legend,
#view-recipe,
#top-menu .poster,
#cocktail-image { display: none; }

.hreview.state-initial #main-content,
.hreview.state-initial #cocktail-image,
.hreview.state-initial #top-menu .poster { display: block; }

.hreview.state-recipe #view-recipe,
.hreview.state-recipe #cocktail-image { display: block; }

.hreview.state-legend #view-legend,
.hreview.state-legend #top-menu .poster { display: block; }

#show-legend { cursor: pointer; }

#main-content { padding: 20px 35px 0 225px; }
#main-content .description { font-size: 120%; line-height: 1.25; }
#main-content .description .summary { position: relative; font-size: 14px; font-weight: bold; padding: 0 0 12px 16px; margin-left: -16px; }
#main-content .description .summary i { position: absolute; left: -5px; top: 4px; width: 16px; height: 10px; background-position: -420px -25px; }
#main-content .author { font-size: 110%; padding: 20px 0 5px 0; }
#main-content .tags { font-size: 110%; padding: 0 0 50px 0; }
#main-content .tags .tag { text-transform: lowercase; }
#main-content .tags .tag:after { content: ',' }
#main-content .tags .tag:last-child:after { content: '.' }
#main-content .buttons { position: absolute; bottom: 0; left: 245px; right: 30px; z-index: 1; text-align: center; }
#main-content .buttons button { margin: 0 8px; }
#main-content .buttons button .the-name { display: none; }

#main-content .buttons .bt-want-slap { overflow: hidden; }

#view-legend { font-size: 120%; line-height: 1.5; padding: 17px 22px 0; overflow: hidden; }
#view-legend h3 { font-size: 150%; margin-bottom: 10px; }
#view-legend button { display: block; margin: 2em auto 0; }

#view-recipe .ingredients{ background-color: #f4f8f9; height: 152px; width: 100%; position: absolute; top: -152px; }
#view-recipe .ingredients .viewport { position: absolute; top: 26px; left: 0; width: 100%; height: 120px; z-index: 1; }
#view-recipe .ingredients .surface{width:5000px;height:120px;padding:0}
#view-recipe .ingredients .surface .image { float: left; width: 100px; height: 100px; margin-left: 20px; cursor: pointer; background-color: #eee; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
#view-recipe .ingredients .surface .image img { display: none; }
html.msie-8 #view-recipe .ingredients .surface .image:before,
html.opera-10-0 #view-recipe .ingredients .surface .image:before,
html.opera-10-1 #view-recipe .ingredients .surface .image:before { display: block; height: 100px; width: 100px; content: ''; background: url(/t/ingredient/preview-mask.png); }
html.msie-6 #view-recipe .ingredients .surface .image,
html.msie-7 #view-recipe .ingredients .surface .image { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/t/ingredient/preview-mask.png",sizingMethod="crop"); }

#view-recipe .ingredients .point{width:360px;height:120px;float:left;padding: 0 25px 0 204px;}
#view-recipe .next,
#view-recipe .prev { position: absolute; z-index: 2; right: 20px; }
#view-recipe .prev { top: 83px; }
#view-recipe .next { top: 48px; }

#view-recipe .recipe { font-size:120%; padding: 20px 15px 40px 225px; }
#view-recipe .recipe ul { line-height: 1.5; margin-left: 1.5em; }
#view-recipe .recipe ul li { list-style: decimal; }
#view-recipe .recipe dt { font-size: 14px; font-weight: bold; padding: 0 0 12px 16px; margin-left: -16px; }
#view-recipe .buttons { position: absolute; bottom: 0; left: 245px; right: 30px; z-index: 1; text-align: center; }
#view-recipe .buttons button { margin: 0 8px; }


.what-need { overflow: hidden; font-size: 120%; padding: 35px 22px 12px; }
.what-need dl{float:left;width:23em;margin-bottom:-1px;}
.what-need .tools{float:right;}
.what-need dt{border-bottom:3px solid #5c5c5c;font-weight:bold;margin-bottom:10px;padding-bottom:6px;}
.what-need dd{color:#343b40;line-height:2.3;background:url(/t/light/header-dots-v.png) repeat-x 0 100%;height:2.5em;}
.what-need dd:last-child{background:none;}
.what-need dd a{float:left;padding-right:5px;}
.what-need strong{font-weight:normal;display:block;float:right;width:25%;}
.what-need dd .brand { display: none; }

#recommendations .point { line-height: 116px; text-align: center; }
#recommendations .point img { display: inline; vertical-align: middle; }

.client-storage, .storage-helper { visibility: hidden; width: 1px; height: 1px; position: absolute; top: -100px; }

/* skin.css */
#cocktail-page button.rounded,
#cocktail-page .square-list .prev,
#cocktail-page .square-list .next { background-repeat: no-repeat; background-image: url(cocktail.png); }
#cocktail-page button.rounded b,
#cocktail-page button.strong b { text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
#cocktail-page button.rounded b { color: #fff; }
#cocktail-page button.strong b { color: #fff; }

#apps
{
  padding: 10px 20px;
  border-top: 1px solid #eee;
  opacity: 0.5;
  text-align: center;
}
#apps:hover
{
  opacity: 1;
}
#apps .appstore,
#apps .play
{
  margin: 0 60px;
}
#apps .appstore img
{
  height: 45px;
}
#apps .play img
{
  height: 46px;
}


#print-logo-hd { display: none; } 

} /* @media screen */


@media print {

html { font-size: 14px; }

/* very much fixed width */
html,
body,
#common-main-wrapper { width: 800px; min-width: 800px; }

#common-main-wrapper { overflow: hidden; position: relative; margin: 0; }


#b-bill { display: none; }
#top-menu { display: none; }

.common-box { border: none; }
.common-box .hrefs { display: none; }
.common-box .common-title { float: right; width: 557px; margin-right: 110px; }
.common-box .common-title .common-name { font-size: 24px; font-weight: bold; }

.common-box .common-content { padding: 0; }

#cocktail-image { height: 210px; float: left; }

#main-content { display: none; }
#view-legend { display: none; }

#view-recipe .buttons { display: none; }

#view-recipe .ingredients { min-height: 210px; margin-left: 130px; }
#view-recipe .ingredients .surface .image img { display: block; float: left; width: 60px; height: 60px; margin: 13px 13px 13px 0; border-radius: 5px; }

#view-recipe .recipe dt,
.what-need dt,
.what-need dt { font-weight: bold; margin-top: 20px; line-height: 25px; border-bottom: 3px #5C5C5C solid; }

#view-recipe .recipe ul { font-size: 90%; margin-top: 12px; margin-left: 25px; }
#view-recipe .recipe ul li { list-style: decimal; padding-bottom: 5px; }

.what-need dl { width: 100%;}
.what-need dd { font-size: 90%; border-bottom: 1px black dashed; overflow: hidden; padding: 12px 0; display: list-item; list-style: square inside; }
.what-need dd:last-child { border: none; }
html.msie-6 .what-need dd { zoom: 1; }

.what-need dd strong { float: right; text-align: right; font-weight: normal; }
.what-need dd .brand { display: inline; color: black; }

#b-more { display: none; }

input { border: none; background: none; }

#print-logo-hd { position: absolute; top: 0; right: 0; width: 100px; }

} /* @media print */

<!--# include virtual="/t/ingredient-popup.css" -->

<!--# include virtual="/w/shop-any-banner/shop-any-banner.css" -->
