.ppk_popup {position:fixed; left: 0; right: 0; top: 0; bottom: 0; visibility: hidden;}
.ppk_popup_overlay {position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,0.9); opacity: 0; transition:opacity 0.6s; -webkit-transition:opacity 0.6s;}
.ppk_popup_content {width: 545px; height: 314px; position: absolute; left: 50%; top:30%; margin:-157px 0 0 -272px; background: url(/w/ppk_popup/sprite.png) no-repeat 0 0; opacity: 0; transition:opacity 0.6s, top:0.6s; -webkit-transition:opacity 0.6s, top:0.6s;}
.ppk_popup_btn {background: url(/w/ppk_popup/sprite.png) no-repeat 0 0; width: 218px; height: 89px; position: absolute; top:180px;}
.ppk_popup_btn_left {background-position: 0 -350px; left: 45px;}
.ppk_popup_btn_left:hover {background-position: -0 -450px;}
.ppk_popup_btn_right {background-position: -250px -350px; left: 260px;}
.ppk_popup_btn_right:hover {background-position: -250px -450px;}
.ppk_popup_close {background: url(/w/ppk_popup/sprite.png) no-repeat -500px -350px; position: absolute; right: 20px; top:20px; width: 24px; height: 24px;}
.ppk_popup_close:hover {background-position: -500px -450px;}

.ppk_popup.open {visibility: visible; z-index: 100;}
.ppk_popup.open .ppk_popup_overlay {opacity: 1;}
.ppk_popup.open .ppk_popup_content {opacity: 1; top:50%;}

.ppk_popup.close {visibility: visible;}
.ppk_popup.close .ppk_popup_overlay {opacity: 0;}
.ppk_popup.close .ppk_popup_content {opacity: 0; top:30%;}
