From: Коктейльный сайт <lawyer.event.c@inshaker.ru>
To: <%=@email%>
Subject: Приглашение на юридический форум
Content-Type: text/html; charset=utf-8

<p>Здравствуйте,<br/>
Возможно вы не получили персональное приглашение на I Неофициальный юридический форум. Вы сможете пройти по спискам, назвав свои имя и фамилию или попробуйте запросить приглашение повторно, ответив, на это письмо.</p>

<p>С наилучшими пожеланиями,<br/>
Команда форума</p>