html { min-height: 100%; overflow-y: scroll; position: relative; background: #444; }

html.loading .please-wait { display: block; }
html.loading .main-box { display: none; }
.please-wait { display: none; }

.please-wait .load-bar
{
	background: url("/t/mybar/mybar.png") no-repeat scroll -599px -149px transparent;
	height: 15px;
	left: -2px;
	margin: 0 auto;
	position: relative;
	top: 13px;
	width: 155px;
}

.hidden { visibility: hidden; position: absolute !important; top: -20000px !important; }

.main-box .section-head
{
	height: 85px;
	width: 982px;
	position: relative;
	left: -11px;
	background: url('/t/mybar/mybar.png') 0px 0px no-repeat;
}

.main-box .section-head h2
{ 
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	padding: 33px 0 0 32px;
	text-shadow: 0 0 3px #FFFFFF;
}

.main-box .section-bottom 
{
	height: 15px;
	width: 982px;
	position: relative;
	left: -11px;
	background: url('/t/mybar/mybar.png') 0px -85px no-repeat;
}

.ingredients-box, .cocktails-box, .share-box, .recommends-box { margin: 20px 0px; }

.main-box .section-wrapper { background-color: #fff; position: relative; }

.main-box .section-wrapper .left-shadow, .main-box .section-wrapper .right-shadow { position: absolute; width: 11px; height: 100%; background: url('/t/mybar/mybar.png') repeat-y; }

.main-box .section-wrapper .left-shadow { left: -11px; background-position: -1079px 0px; }

.main-box .section-wrapper .right-shadow { right: -11px; background-position: -1090px 0px; }

.main-box .section-wrapper .content { border: 1px solid #fff; background: url("/t/common/content-gradient-v.png") repeat-x scroll 0 0 #FFFFFF; }

.main-box .share-box, .please-wait { height: 42px; background: url("/t/mybar/mybar.png") no-repeat -11px -103px transparent; }


/*ingredient-previews*/
.main-box .ingredient-preview
{
	display: block;
	font-size: 12px;
	text-align: center;
	position: relative;
	height: 100px;
	width: 100px;
	color: #000;
}

.main-box .ingredient-preview .image
{
	height: 100px;
	height: 100px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: #EEEEEE;
}

.main-box .ingredient-preview .name
{
	display: block;
	left: -10px;
	position: relative;
	width: 120px;
}

.main-box .ingredient .control
{
	position: absolute;
	width: 32px;
	height: 32px;
	background: url("/t/mybar/mybar.png") no-repeat -984px -417px transparent;
	left: -16px;
	top: -3px;
	display: none;
	cursor: pointer;
}

.main-box .ingredient:hover .control { display: block; }

/*coctail-previews*/
.main-box .cocktail-preview
{
	font-size: 12px;
	text-align: center;
	height: 120px;
	position: relative;
	width: 100px;
}

.main-box .cocktail-preview a { display: block; width: 100px; color: #000; }
.main-box .cocktail-preview img
{
	display: block;
	height: 80px;
	margin: 0 auto;
	padding-bottom: 7px;
}

.main-box .cocktail-preview .control
{
	position: absolute;
	width: 32px;
	height: 32px;
	background: url("/t/mybar/mybar.png") no-repeat -984px -417px transparent;
	left: 10px;
	top: -3px;
	cursor: pointer;
	display: none;
}

/*ingredients-box*/

.main-box .ingredients-box .search-box
{
	margin-top: 30px;
	margin-left: 14px;
	position: relative;
	color: #000;
	font-size: 18px;
}

.main-box .ingredients-box .search-box button
{
	color: #3c3c3c;
	font-size: 14px;
	background: url("/t/mybar/mybar.png") no-repeat -905px -454px transparent;
	border-color: #ccc #999 #999 #ccc;
	border-style: solid;
	border-width: 1px;
	height: 32px;
	display: block;
	position: absolute;
	top: 5px;
	padding-bottom: 3px;
	cursor: pointer;
}

.main-box .ingredients-box .search-box .search-button { right: 131px; width: 64px; }
.main-box .ingredients-box .search-box .lucky-button { right: 20px; width: 107px; }

.main-box .ingredients-box .search-box .autocomplete
{
	display: none;
	z-index: 1;
	position: absolute;
	top: 36px;
	left: 5px;
	width: 698px;
	border-color: #ccc #999 #999 #ccc;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	background: #fff;
	box-shadow: 1px 1px 0 rgb(231, 231, 231);
	box-shadow: 1px 1px 0 rgba(231, 231, 231, 0.5);
	-webkit-box-shadow: 1px 1px 0 rgba(231, 231, 231, 0.5);
	-moz-box-shadow: 1px 1px 0 rgba(231, 231, 231, 0.5);
}
.main-box .ingredients-box .search-box .autocomplete.focused { display: block; }
.main-box .ingredients-box .search-box .autocomplete .empty-message { display: none; }
.main-box .ingredients-box .search-box .autocomplete.empty .empty-message { display: block; }
.main-box .ingredients-box .search-box .autocomplete .item { padding: 2px 0 4px 5px; cursor: pointer; }
.main-box .ingredients-box .search-box .autocomplete .item.selected { background-color: #e5e5e5; color: #ec118f; }
.main-box .ingredients-box .search-box .autocomplete .item .substr { font-weight: bold; }
.main-box .ingredients-box .search-box .autocomplete .item .hint { font-size: 0.6em; color: #aaa; vertical-align: middle; }
.main-box .ingredients-box .search-box .autocomplete .empty-message { display: none; color: #000; }
.main-box .ingredients-box .search-box .query
{
	border-color: #ccc #999 #999 #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	font-size: inherit;
	margin: 5px;
	padding: 4px 4px 5px;
	width: 690px;
	box-shadow: 1px 1px 0 rgb(231, 231, 231);
	box-shadow: 1px 1px 0 rgba(231, 231, 231, 0.5);
	-webkit-box-shadow: 1px 1px 0 rgba(231, 231, 231, 0.5);
	-moz-box-shadow: 1px 1px 0 rgba(231, 231, 231, 0.5);
}

.main-box .ingredients-box .ingredients-list { margin: 20px 0 10px 2px; }

.main-box .ingredients-box .ingredients-list ul.by-list { padding-top: 10px; }

.main-box .ingredients-box .ingredients-list dt.group-name { overflow: hidden; margin: 0 0 10px; position: relative; left: -40px; }
.main-box .ingredients-box .ingredients-list dt.group-name .name-wrapper
{
	position: relative;
	float: left;
	height: 37px;
	color: #fff;
	font-size: 14px;
	background: url("/t/mybar/mybar.png") no-repeat -295px -490px transparent;
	padding: 0 4px 0px 12px;
	margin-right: 8px;
	line-height: 31px;
}
.main-box .ingredients-box .ingredients-list dt.group-name .name-wrapper i
{
	position: absolute;
	display: block;
	width: 8px;
	height: 40px;
	right: -8px;
	top: 0;
	background: url("/t/mybar/mybar.png") no-repeat -537px -490px transparent;
}

.main-box .ingredients-box .ingredients-list dd.group { margin-bottom: 35px; }

.main-box .ingredients-box .ingredients-list ul { overflow: hidden; }

.main-box .ingredients-box .ingredients-list .ingredient
{
	float: left;
	margin: 0 0 28px 17px;
	padding-top: 12px;
	position: relative;
}

.main-box .ingredients-box .ingredient:hover .control { display: block; }
.main-box .ingredients-box .ingredient:hover .control:hover { background-position: -1021px -417px; }

.main-box .ingredients-box .empty-box { overflow: hidden; margin: 15px 0px; }

.main-box .ingredients-box .empty-box .tell-about-ingredients 
{
	background: url("/t/mybar/mybar.png") no-repeat 3px -146px transparent;
	float: left;
	height: 266px;
	width: 176px;
	margin-left: 47px;
}

.main-box .ingredients-box .empty-box .explore-cocktails
{
	background: url("/t/mybar/mybar.png") no-repeat -172px -146px transparent;
	float: left;
	height: 266px;
	width: 209px;
	margin-left: 135px;
}
.main-box .ingredients-box .empty-box .print-cocktail-cart
{
	background: url("/t/mybar/mybar.png") no-repeat -382px -146px transparent;
	float: left;
	height: 266px;
	width: 202px;
	margin-left: 135px;
}

.main-box .ingredients-box .switcher { position: absolute; width: 40px; height: 84px; right: -40px; top: 116px; }
.main-box .ingredients-box .switcher div { cursor: pointer; height: 42px;  background: url("/t/mybar/mybar.png") no-repeat -984px -44px transparent; }
.main-box .ingredients-box .switcher .by-list { background-position: -984px -1px; }
.main-box .ingredients-box .switcher .by-groups { background-position: -984px -44px; }
.main-box .ingredients-box .switcher.by-list .by-list,
.main-box .ingredients-box .switcher .by-list:hover
{
	background-position: -1026px -1px;
}
.main-box .ingredients-box .switcher.by-groups .by-groups,
.main-box .ingredients-box .switcher .by-groups:hover
{
	background-position: -1026px -44px;
}

/*cocktails-box*/
.main-box .cocktails-box .section-head h2 .have-no-cocktails,
.main-box .cocktails-box .section-head h2.zero-cocktails .have-cocktails
{
	display: none;
}
.main-box .cocktails-box .section-head h2.zero-cocktails .have-no-cocktails,
.main-box .cocktails-box .section-head h2 .have-cocktails
{
	display: inline;
}

.main-box .cocktails-box .visible-cocktails ul.by-pics { overflow: hidden; margin: 25px 0 0 29px; }
.main-box .cocktails-box .by-pics .cocktail-preview
{
	padding: 20px 24px;
	float: left;
}

.main-box .cocktails-box .empty-box {
	font-family: Georgia;
	font-size: 18px;
	font-style: italic;
	margin: 50px 0 50px 20px;
}

.main-box .cocktails-box .cocktail-preview:hover .control { display: block; }
.main-box .cocktails-box .visible-cocktails .cocktail-preview:hover .control:hover { background-position: -1021px -417px; }

.main-box .cocktails-box .hidden-cocktails .cocktail-preview .control { background-position: -984px -488px; }
.main-box .cocktails-box .cocktail-preview:hover .control { display: block; }
.main-box .cocktails-box .visible-cocktails .cocktail-preview:hover .control:hover { background-position: -1021px -417px; }

.main-box .cocktails-box .hidden-cocktails { margin-top: 30px; }
.main-box .cocktails-box .hidden-cocktails .list { overflow: hidden; margin: 25px 0 0 29px; opacity: 0.5; }
.main-box .cocktails-box .hidden-cocktails:hover .list { opacity: 1; }
.main-box .cocktails-box .hidden-cocktails dt { overflow: hidden; position: relative; left: -40px; }
.main-box .cocktails-box .hidden-cocktails dt .name-wrapper
{
	position: relative;
	float: left;
	height: 37px;
	color: #fff;
	font-size: 14px;
	background: url("/t/mybar/mybar.png") no-repeat -295px -490px transparent;
	padding: 0 4px 0px 12px;
	margin-right: 8px;
	line-height: 31px;
}

.main-box .cocktails-box .hidden-cocktails dt .name-wrapper i
{
	position: absolute;
	display: block;
	width: 8px;
	height: 40px;
	right: -8px;
	top: 0;
	background: url("/t/mybar/mybar.png") no-repeat -537px -490px transparent;
}

.main-box .cocktails-box .switcher { position: absolute; width: 40px; height: 84px; right: -40px; top: 48px; }
.main-box .cocktails-box .switcher div { cursor: pointer; height: 42px;  background: url("/t/mybar/mybar.png") no-repeat -984px -44px transparent; }
.main-box .cocktails-box .switcher .by-pics { background-position: -984px -1px; }
.main-box .cocktails-box .switcher .by-ingredients { background-position: -984px -44px; }
.main-box .cocktails-box .switcher.by-pics .by-pics,
.main-box .cocktails-box .switcher .by-pics:hover
{
	background-position: -1026px -1px;
}
.main-box .cocktails-box .switcher.by-ingredients .by-ingredients,
.main-box .cocktails-box .switcher .by-ingredients:hover
{
	background-position: -1026px -44px;
}

/*combinator's ingrediented cocktails*/
.main-box .cocktails-box .visible-cocktails .ingredient-preview { float: left; }
.main-box .cocktails-box .visible-cocktails .group { margin: 60px 18px 0px 18px; }
.main-box .cocktails-box .visible-cocktails .group.collapsed { margin: 0 0 20px 0; }
.main-box .cocktails-box .visible-cocktails .group.collapsed .row { display: none; }
.main-box .cocktails-box .visible-cocktails .group .group-name { font-size: 24px; }
.main-box .cocktails-box .visible-cocktails .group .group-name:first-letter { text-transform: uppercase; }
.main-box .cocktails-box .visible-cocktails .group .group-name .count { position: relative; top: -15px; padding: 0 0.4em; font-size: 0.45em; color: #ccc; }
.main-box .cocktails-box .visible-cocktails .row { margin: 50px 0 0 0; position: relative; }
.main-box .cocktails-box .visible-cocktails .row.lazy { background: #f4f4f4; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; }
.main-box .cocktails-box .visible-cocktails .row.lines-0 { height: 155px; }
.main-box .cocktails-box .visible-cocktails .row.lines-1 { height: 155px; }
.main-box .cocktails-box .visible-cocktails .row.lines-2 { height: 310px; }
.main-box .cocktails-box .visible-cocktails .row.lines-3 { height: 465px; }
.main-box .cocktails-box .visible-cocktails .row.lines-4 { height: 620px; }
.main-box .cocktails-box .visible-cocktails .row.lines-5 { height: 775px; }
.main-box .cocktails-box .visible-cocktails .row .operator { float: left; vertical-align: middle; line-height: 98px; font-size: 34px; color: #aaa; }
.main-box .cocktails-box .visible-cocktails .row .head { width: 200px; position: absolute; }
.main-box .cocktails-box .visible-cocktails .row .head .operator { margin: 0; }
.main-box .cocktails-box .visible-cocktails .row .body { overflow: visible; width: 800px; left: 150px; position: relative; }
.main-box .cocktails-box .visible-cocktails .row .body .operator { color: #ccc; }
.main-box .cocktails-box .visible-cocktails .row .body .ingredient-preview { margin: 0 15px 55px 15px; }
.main-box .cocktails-box .visible-cocktails .row .body .ingredient-preview .add-ingredient { top: -20px; right: 0px; }
.main-box .cocktails-box .visible-cocktails .row .body .ingredient-preview:hover { text-decoration: none; }
.main-box .cocktails-box .visible-cocktails .row .body .ingredient-preview:hover .name { text-decoration: underline; }
.main-box .cocktails-box .visible-cocktails .row .cocktail-preview { float: left; margin-top: -55px;  width: 112px; text-align: center; font-size: 12px; position: relative;}
.main-box .cocktails-box .visible-cocktails .row .cocktail-preview .image { display: block; margin: 0 auto -10px; height: 170px; }
.main-box .cocktails-box .visible-cocktails .row .cocktail-preview.lazy .image { background-color: #f4f4f4; }
.main-box .cocktails-box .visible-cocktails .row .cocktail-preview a { color: #000; }

/*share-box*/
.main-box .share-box { position: relative; }
.main-box .share-box .share-wrapper { overflow: hidden; padding: 4px; }
.main-box .share-box .share-wrapper .share-label
{
	width: 124px;
	height: 8px;
	float: left;
	background: url("/t/mybar/mybar.png") no-repeat -548px -424px transparent;
	margin: 14px 19px 0 16px;
}

.main-box .share-box .share-wrapper .facebook-share,
.main-box .share-box .share-wrapper .twitter-share,
.main-box .share-box .share-wrapper .email-share,
.main-box .share-box .share-wrapper .web-share
{
	width: 32px;
	height: 32px;
	float: left;
	margin-left: 4px;
	background: url("/t/mybar/mybar.png") no-repeat -838px -411px transparent;
	cursor: pointer;
}

.main-box .share-box .share-wrapper .twitter-share { background-position: -874px -411px; }
.main-box .share-box .share-wrapper .email-share { background-position: -911px -411px; }
.main-box .share-box .share-wrapper .web-share { background-position: -948px -411px; }

.main-box .share-box .share-wrapper .facebook-share:hover { background-position: -695px -411px; }
.main-box .share-box .share-wrapper .twitter-share:hover { background-position: -731px -411px; }
.main-box .share-box .share-wrapper .email-share:hover { background-position: -768px -411px; }
.main-box .share-box .share-wrapper .web-share:hover { background-position: -805px -411px; }

.main-box .share-box .email-share-popup
{
	background: url("/t/mybar/mybar.png") no-repeat -588px -166px transparent;
	height: 244px;
	left: 12px;
	position: absolute;
	top: -243px;
	width: 486px;
	z-index: 1;
}

.main-box .share-box .web-share-popup
{
	background: url("/t/mybar/mybar.png") no-repeat -647px -447px transparent;
	height: 49px;
	left: 162px;
	position: absolute;
	top: -49px;
	width: 257px;
	z-index: 1;
}

/*recommends-box*/

.main-box .recommends-box .tags-wrapper { overflow: hidden; margin: 24px 0 24px 5px; }
.main-box .recommends-box .tags-wrapper .tags-list { overflow: hidden; position: relative; top: 1px; }
.main-box .recommends-box .tags-wrapper .tags-list li
{
	float: left;
	margin-bottom: 1px;
	font-size: 14px;
	color: #000;
	position: relative;
	cursor: pointer;
	margin-left: 22px;
}

.main-box .recommends-box .tags-wrapper .tags-list li div
{
	line-height: 27px;
	width: 207px;
	height: 29px;
}

.main-box .recommends-box .tags-wrapper .tags-list li.active div,
.main-box .recommends-box .tags-wrapper .tags-list li:hover.active div
{
	background: url("/t/mybar/mybar.png") no-repeat -753px -498px transparent;
	color: #fff;
	cursor: default;
}

.main-box .recommends-box .tags-wrapper .tags-list li.active,
.main-box .recommends-box .tags-wrapper .tags-list li:hover
{
	margin-top: -1px;
	border-top: 1px solid #fff;
}

.main-box .recommends-box .tags-wrapper .tags-list li:hover div { background: url("/t/mybar/mybar.png") no-repeat -546px -498px transparent; }
.main-box .recommends-box .tags-wrapper .tags-list li .name { padding-left: 13px; }
.main-box .recommends-box .tags-wrapper .tags-list li .amount { float: right; color: #b1b1b1; font-size: 10px; padding-right: 13px; }
.main-box .recommends-box .tags-wrapper .tags-list li.active .amount { color: #fff; }
.main-box .recommends-box .tags-wrapper .tags-list li.active b, .main-box .recommends-box .tags-wrapper .tags-list li:hover b { display: none; }
.main-box .recommends-box .tags-wrapper .tags-list li b { display: block; width: 180px; border-bottom: 1px solid #e1e1e1; position: absolute; bottom: -1px; left: 13px; }

.main-box .recommends-box .recommends-wrapper { margin-bottom: 30px; min-height: 500px; }
.main-box .recommends-box .ingredient
{
	float: left;
	position: relative;
	margin: 0 0 28px 17px;
	padding-top: 12px;
}

.main-box .recommends-box .ingredient.no-have .control { background-position: -984px -488px; }
.main-box .recommends-box .ingredient.have .control,
.main-box .recommends-box .cocktail-preview.have .control { display: block; background-position: -1021px -488px; }
.main-box .recommends-box .cocktail-preview .control { left: -4px; top: -18px; }

.main-box .recommends-box .recommends-list .advice
{
	border-top: 1px solid #E5E5E5;
	font-family: Georgia;
	font-size: 18px;
	font-style: italic;
	margin: 0 17px 17px;
	padding-top: 26px;
	color: #2b2b2b;
}

.main-box .recommends-box .recommends-list .advice .ingredient-link,
.main-box .recommends-box .recommends-list .advice .cocktail-link { color: #ec118f; cursor: pointer; white-space: nowrap; }
.main-box .recommends-box .recommends-list .advice .ingredient-link:hover { text-decoration: underline; }
.main-box .recommends-box .recommends-list .recommend { overflow: hidden; }
.main-box .recommends-box .recommends-list .recommend .head { float: left; }

.main-box .recommends-box .recommends-list .recommend .eq
{
	color: #7F7F7F;
	float: left;
	font-size: 52px;
	font-weight: bold;
	margin: 28px 4px 0 30px;
	position: relative;
}
.main-box .recommends-box .recommends-list .recommend .body { float: left; }
.main-box .recommends-box .recommends-list .recommend .body .cocktail-preview { margin: 15px 17px 10px 0; float: left; }

.main-box .recommends-box .must-have-list .row
{
	overflow: hidden;
	padding-top: 26px;
	position: relative;
}

.main-box .recommends-box .must-have-list .row .ingredient { margin: 0 17px 0px 17px; }

.main-box .recommends-box .must-have-list .row .description
{
	float: left;
	font-family: georgia;
	font-size: 16px;
	font-style: italic;
	padding: 17px 0 0 10px;
	width: 750px;
	color: #2b2b2b;
}

/*fixes*/
html.opera-9 .ingredient-preview .image:before,
html.opera-10-0 .ingredient-preview .image:before,
html.opera-10-1 .ingredient-preview .image:before,
html.msie-8 .ingredient-preview .image:before,
html.firefox-2 .ingredient-preview .image:before { display: block; height: 100px; width: 100px; content: ''; background: url('/t/ingredient/preview-mask.png'); }

html.firefox-2 .ingredient-preview .image { -moz-border-radius: 0; }

html.msie-6 .ingredient-preview .image,
html.msie-7 .ingredient-preview .image { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/t/ingredient/preview-mask.png",sizingMethod="crop"); }

/*Popup*/
<!--# include virtual="/t/ingredient-popup.css" -->
