html { min-height: 100%; height: 100%; overflow-y: scroll; }
.cocktail-preview a { color: inherit; }
.ingredient-preview { color: inherit; }

#the-main-menu { position: absolute; z-index: 1; left: 0; top: 65px; right: 0; height: 33px; background-color: #222; background-color: rgba(0,0,0,0.8); box-shadow: 0 0 15px #000; }
#the-main-menu .link { color: #888; }
#the-main-menu .link:hover { color: #fff; }
#the-main-menu.state-up,
#the-main-menu.state-down,
#the-main-menu.state-fixed { z-index: 10; }
#the-main-menu.state-up .link,
#the-main-menu.state-down .link,
#the-main-menu.state-fixed .link { color: #fff; }
#the-main-menu .nav,
#the-main-menu .tools { position: absolute; top: 7px; font-size: 14px; }
#the-main-menu .nav { left: 0; }
#the-main-menu .tools { right: 0; }
#the-main-menu.zero-cocktails .tools .print { display: none; }
#the-main-menu .nav .link { margin-right: 20px; }
#the-main-menu .nav .link .count { vertical-align: super; font-size: 8px; margin-left: 3px; text-decoration: none; }
#the-main-menu .center { position: relative; width: 922px; margin: 0 auto; }
#the-main-menu.fixed { position: fixed; }

#the-main-menu .nav .link.shop { color: #EC5197; }


html.loading .please-wait { display: block; }
html.loading .main-box { display: none; }
.please-wait { display: none; text-align: center; font-size: 19px; line-height: 39px; color: #fff; }
.hidden { visibility: hidden; position: absolute !important; top: -20000px !important; background: none !important; }
.main-box .wrapper-box { margin: 0 0 20px 0; }
.main-box .wrapper-box .section-wrapper { padding: 20px; position: relative; }
.main-box .wrapper-box .section-head { position: relative; }
.main-box .wrapper-box .section-head .links { position: absolute; right: 28px; top: 8px; }
.single-box { margin: 0 0 20px 0; height: 42px; position: relative; background: url("mybar.png") no-repeat -11px -103px transparent; }

/*ingredient-previews*/
.main-box .ingredient-preview { display: block; font-size: 12px; text-align: center; position: relative; width: 100px; height: 100px; }
.main-box .ingredient-preview .image { width: 100px; height: 100px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; background-color: #eee; margin-bottom: 5px; }
.main-box .ingredient-preview .name { -ms-word-wrap: break-word; word-wrap: break-word; }
.main-box .ingredient .control { position: absolute; width: 32px; height: 32px; background: url("mybar.png") no-repeat -984px -417px transparent; left: -15px; top: -15px; display: none; cursor: pointer; }
.main-box .ingredient:hover .control { display: block; }

/*coctail-previews*/
.main-box .cocktail-preview { font-size: 12px; text-align: center; height: 120px; position: relative; width: 100px; }
.main-box .cocktail-preview a { display: block; color: #000; }
.main-box .cocktail-preview img { display: block; height: 80px; margin: 0 auto; padding-bottom: 7px; }
.main-box .cocktail-preview .control { position: absolute; width: 32px; height: 32px; background: url("mybar.png") no-repeat -984px -417px transparent; left: 10px; top: -3px; cursor: pointer; display: none; }

/*ingredients-box*/
.main-box .ingredients-box .section-head .bar-name-editable { position: relative; top: -1px; background: none; border: medium none; outline: none; color: inherit; display: block; float: left; font-size: inherit; color: #fff; font-weight: bold; text-shadow: inherit; width: 600px; }
.main-box .ingredients-box .section-head .bar-name-editable:hover { outline: 2px dashed #f48; }
.main-box .ingredients-box .section-head .advice { font-size: 10px; font-weight: normal; position: absolute; top: 32px; left: 140px; }
.main-box .ingredients-box .search-box { height: 45px; position: relative; z-index: 5; margin-right: -10px; }
.main-box .ingredients-box .search-box button { font-size: 14px; height: 35px; vertical-align: middle; }
.main-box .ingredients-box .search-box .search-button { width: 87px; }
.main-box .ingredients-box .search-box .lucky-button { width: 107px; display: none; }
.main-box .ingredients-box .search-box .autocomplete { display: none; border: solid #ddd; border-width: 0px 1px 1px 1px; background: #fff; background: rgba(255,255,255,0.9); font-size: 20px; }
.main-box .ingredients-box .search-box .autocomplete.focused { display: block; }
.main-box .ingredients-box .search-box .autocomplete .empty-message { display: none; }
.main-box .ingredients-box .search-box .autocomplete.empty .empty-message { display: block; }
.main-box .ingredients-box .search-box .autocomplete .item { padding: 2px 0 4px 5px; cursor: pointer; }
.main-box .ingredients-box .search-box .autocomplete .item.selected { background-color: #e5e5e5; }
.main-box .ingredients-box .search-box .autocomplete .item .substr { font-weight: bold; }
.main-box .ingredients-box .search-box .autocomplete .item .hint { font-size: 0.6em; color: #aaa; vertical-align: middle; }
.main-box .ingredients-box .search-box .autocomplete .empty-message { display: none; color: #000; }
.main-box .ingredients-box .search-box .query { width: 830px; height: 35px; box-sizing: border-box; -moz-box-sizing: border-box; font-size: 24px; vertical-align: middle; color: inherit; }
.main-box .ingredients-box .ingredients-list,
.main-box .maybe-have-box .ingredients-list { margin: 20px 0 0 0; }
.main-box .ingredients-box .ingredients-list ul.by-list { position: relative; }
.main-box .ingredients-box .ingredients-list dt.group-name { overflow: hidden; margin: 0 0 10px; position: relative; left: -40px; }
.main-box .ingredients-box .ingredients-list dt.group-name .name-wrapper { position: relative; float: left; height: 37px; color: #fff; font-size: 14px; background: url("mybar.png") no-repeat -295px -490px transparent; padding: 0 4px 0px 12px; margin-right: 8px; line-height: 31px; }
.main-box .ingredients-box .ingredients-list dt.group-name .name-wrapper i { position: absolute; display: block; width: 8px; height: 40px; right: -8px; top: 0; background: url("mybar.png") no-repeat -537px -490px transparent; }
.main-box .ingredients-box .ingredients-list dd.group { margin-bottom: 35px; }
.main-box .ingredients-box .ingredients-list ul,
.main-box .maybe-have-box .ingredients-list ul { overflow: hidden; margin-left: -15px; padding-left: 15px; }
.main-box .ingredients-box .ingredients-list ul { padding-top: 10px; }
html.msie-7 .main-box .ingredients-box .ingredients-list ul { padding-bottom: 30px; }
.main-box .ingredients-box .ingredients-list .ingredient,
.main-box .maybe-have-box .ingredients-list .ingredient { float: left; height: 140px; margin: 0 17px 17px 0; position: relative; }
.main-box .ingredients-box .ingredient:hover .control,
.main-box .maybe-have-box .ingredient:hover .control { display: block; }
.main-box .ingredients-box .empty-box .image { display: block; margin: 0 auto; }
.main-box .ingredients-box .switcher { position: absolute; width: 40px; height: 84px; right: -40px; top: 116px; }
.main-box .ingredients-box .switcher div { cursor: pointer; height: 42px;  background: url("mybar.png") no-repeat -984px -44px transparent; }
.main-box .ingredients-box .switcher .by-list { background-position: -984px -1px; }
.main-box .ingredients-box .switcher .by-groups { background-position: -984px -44px; }
.main-box .ingredients-box .switcher.by-list .by-list,
.main-box .ingredients-box .switcher .by-list:hover { background-position: -1026px -1px; }
.main-box .ingredients-box .switcher.by-groups .by-groups,
.main-box .ingredients-box .switcher .by-groups:hover { background-position: -1026px -44px; }
.main-box .ingredients-box .section-head .links .purchase-plan-link { display: block; width: 80px; height: 52px; background: url("mybar.png") no-repeat -114px -472px transparent; }
.main-box .ingredients-box .section-head .links .purchase-plan-link:hover { background-position: -114px -416px; }

html.chrome .main-box .ingredients-box .section-head .bar-name-editable,
html.safari .main-box .ingredients-box .section-head .bar-name-editable { top: -3px; }

/*maybe-have-box*/
.main-box .maybe-have-box .ingredient.have .control { display: block; background-position: -1021px -488px; }
.main-box .maybe-have-box .ingredient.no-have .control { background-position: -984px -488px; }

/*cocktails-box*/
.main-box .cocktails-box .section-head h2 .have-no-cocktails,
.main-box .cocktails-box.zero-cocktails .section-head h2 .have-cocktails { display: none; }
.main-box .cocktails-box.zero-cocktails .section-head h2 .have-no-cocktails,
.main-box .cocktails-box .section-head h2 .have-cocktails { display: inline; }
.main-box .cocktails-box ul.by-pics { overflow: hidden; }
.main-box .cocktails-box .by-pics .cocktail-preview { padding: 5px 24px 20px 24px; float: left; }

.main-box .cocktails-box .empty-notice { display: none; font-family: Georgia; font-size: 18px; font-style: italic; padding: 50px 0 50px 20px; text-align: center; }
.main-box .cocktails-box.zero-cocktails .empty-notice { display: block; }

.main-box .cocktails-box .cocktail-preview:hover .control { display: block; }
.main-box .cocktails-box .hidden-cocktails .cocktail-preview .control { background-position: -984px -488px; }
.main-box .cocktails-box .cocktail-preview:hover .control { display: block; }
.main-box .cocktails-box .hidden-cocktails { margin-top: 30px; }
.main-box .cocktails-box .hidden-cocktails .list { overflow: hidden; margin: 25px 0 0 29px; opacity: 0.5; }
.main-box .cocktails-box .hidden-cocktails:hover .list { opacity: 1; }
.main-box .cocktails-box .hidden-cocktails dt { overflow: hidden; position: relative; left: -40px; }
.main-box .cocktails-box .hidden-cocktails dt .name-wrapper { position: relative; float: left; height: 37px; color: #fff; font-size: 14px; background: url("mybar.png") no-repeat -295px -490px transparent; padding: 0 4px 0px 12px; margin-right: 8px; line-height: 31px; }
.main-box .cocktails-box .hidden-cocktails dt .name-wrapper i { position: absolute; display: block; width: 8px; height: 40px; right: -8px; top: 0; background: url("mybar.png") no-repeat -537px -490px transparent; }
.main-box .cocktails-box .switcher { position: absolute; width: 40px; height: 84px; right: -40px; top: 48px; }
.main-box .cocktails-box.zero-cocktails .switcher { display: none; }
.main-box .cocktails-box .switcher div { cursor: pointer; height: 42px;  background: url("mybar.png") no-repeat -984px -44px transparent; }
.main-box .cocktails-box .switcher .by-pics { background-position: -984px -1px; }
.main-box .cocktails-box .switcher .by-ingredients { background-position: -984px -44px; }
.main-box .cocktails-box .switcher.by-pics .by-pics,
.main-box .cocktails-box .switcher .by-pics:hover { background-position: -1026px -1px; }
.main-box .cocktails-box .switcher.by-ingredients .by-ingredients,
.main-box .cocktails-box .switcher .by-ingredients:hover { background-position: -1026px -44px; }
.main-box .cocktails-box .section-head .links .cocktails-cart-link { display: block; width: 110px; height: 52px; background: url("mybar.png") no-repeat 0px -472px transparent; }
.main-box .cocktails-box .section-head .links .cocktails-cart-link:hover { background-position: 0px -416px; }
.main-box .cocktails-box.zero-cocktails .section-head .links .cocktails-cart-link { display: none; }

/*combinator's ingrediented cocktails*/
.main-box .cocktails-box .visible-cocktails .ingredient-preview { float: left; }
.main-box .cocktails-box .visible-cocktails .group.collapsed { margin: 0 0 20px 0; }
.main-box .cocktails-box .visible-cocktails .group.collapsed .row { display: none; }
.main-box .cocktails-box .visible-cocktails .group .group-name { font-size: 24px; }
.main-box .cocktails-box .visible-cocktails .group .group-name:first-letter { text-transform: uppercase; }
.main-box .cocktails-box .visible-cocktails .group .group-name .count { position: relative; top: -15px; padding: 0 0.4em; font-size: 0.45em; color: #ccc; }
.main-box .cocktails-box .visible-cocktails .row { padding: 25px 0; position: relative; }
.main-box .cocktails-box .visible-cocktails .row.lazy { background: #f4f4f4; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; }
.main-box .cocktails-box .visible-cocktails .row.lines-0 { height: 155px; }
.main-box .cocktails-box .visible-cocktails .row.lines-1 { height: 155px; }
.main-box .cocktails-box .visible-cocktails .row.lines-2 { height: 310px; }
.main-box .cocktails-box .visible-cocktails .row.lines-3 { height: 465px; }
.main-box .cocktails-box .visible-cocktails .row.lines-4 { height: 620px; }
.main-box .cocktails-box .visible-cocktails .row.lines-5 { height: 775px; }
.main-box .cocktails-box .visible-cocktails .row .operator { float: left; vertical-align: middle; line-height: 98px; font-size: 34px; color: #aaa; }
.main-box .cocktails-box .visible-cocktails .row .head { width: 200px; position: absolute; }
.main-box .cocktails-box .visible-cocktails .row .head .operator { margin: 0; }
.main-box .cocktails-box .visible-cocktails .row .body { overflow: visible; width: 800px; left: 150px; position: relative; }
.main-box .cocktails-box .visible-cocktails .row .body .operator { color: #ccc; }
.main-box .cocktails-box .visible-cocktails .row .body .ingredient-preview { margin: 0 15px 55px 15px; }
.main-box .cocktails-box .visible-cocktails .row .body .ingredient-preview .add-ingredient { top: -20px; right: 0px; }
.main-box .cocktails-box .visible-cocktails .row .body .ingredient-preview:hover { text-decoration: none; }
.main-box .cocktails-box .visible-cocktails .row .body .ingredient-preview:hover .name { text-decoration: underline; }
.main-box .cocktails-box .visible-cocktails .row .cocktail-preview { float: left; margin-top: -55px;  width: 112px; text-align: center; font-size: 12px; position: relative;}
.main-box .cocktails-box .visible-cocktails .row .cocktail-preview .image { display: block; margin: 0 auto -10px; height: 170px; width: 91px; }
.main-box .cocktails-box .visible-cocktails .row .cocktail-preview.lazy .image { background-color: #f4f4f4; }

/*share-box*/
.main-box .share-box { position: relative; color: #000; }
.main-box .share-box.zero-cocktails { display: none; }
.main-box .share-box .share-wrapper { overflow: hidden; padding: 4px; }
.main-box .share-box .share-wrapper .share-label { width: 124px; height: 8px; float: left; background: url("mybar.png") no-repeat -548px -424px transparent; margin: 14px 19px 0 16px; }
.main-box .share-box .share-wrapper .vkontakte-share,
.main-box .share-box .share-wrapper .facebook-share,
.main-box .share-box .share-wrapper .twitter-share,
.main-box .share-box .share-wrapper .email-share,
.main-box .share-box .share-wrapper .web-share,
.main-box .share-box .share-wrapper .menu-link { display: block; width: 32px; height: 32px; float: left; margin-left: 4px; background: url("mybar.png") no-repeat; cursor: pointer; overflow: hidden; text-indent: -300px; }
.main-box .share-box .share-wrapper .vkontakte-share { background-position: 0 -225px; }
.main-box .share-box .share-wrapper .vkontakte-share:hover { background-position: -50px -225px; }
.main-box .share-box .share-wrapper .facebook-share { background-position: -838px -411px; }
.main-box .share-box .share-wrapper .facebook-share:hover { background-position: -695px -411px; }
.main-box .share-box .share-wrapper .twitter-share { background-position: -874px -411px; }
.main-box .share-box .share-wrapper .twitter-share:hover { background-position: -731px -411px; }
.main-box .share-box .share-wrapper .email-share { display: none; background-position: -911px -411px; }
.main-box .share-box .share-wrapper .email-share:hover { background-position: -768px -411px; }
.main-box .share-box .share-wrapper .web-share { background-position: -948px -411px; }
.main-box .share-box .share-wrapper .web-share:hover { background-position: -805px -411px; }
.main-box .share-box .share-wrapper .menu-link { background-position: 0 -175px; }
.main-box .share-box .share-wrapper .menu-link:hover { background-position: -50px -175px; }
.main-box .share-box .web-share-popup { background: url("mybar.png") no-repeat -647px -447px transparent; width: 258px; height: 31px; padding: 8px 0; left: 163px; position: absolute; top: -49px; z-index: 1; text-align: center; }
.main-box .share-box .web-share-popup input { width: 211px; padding: 2px; font-size: 14px; }
.main-box .share-box .email-share-popup { background: url("mybar.png") no-repeat -588px -166px transparent; height: 244px; left: 12px; position: absolute; top: -243px; width: 486px; z-index: 1; }
.main-box .share-box .email-share-popup .email-form { margin: 26px 0px 0px 19px; }
.main-box .share-box .email-share-popup .email-form label { display: block; overflow: hidden; margin-bottom: 5px; }
.main-box .share-box .email-share-popup .email-form label * { display: block; float: left; }
.main-box .share-box .email-share-popup .email-form label b { width: 88px; height: 28px; line-height: 26px; font-size: 14px; font-weight: normal; }
.main-box .share-box .email-share-popup .email-form label input,
.main-box .share-box .email-share-popup .email-form label textarea { width: 335px; padding: 4px 8px; border: none; outline: none; font-size: 15px; background-color: #e6e6e6; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.main-box .share-box .email-share-popup .email-form label textarea { height: 75px; resize: none; }
.main-box .share-box .email-share-popup .send-button { position: absolute; top: 200px; right: 27px; font-size: 14px; text-decoration: underline; cursor: pointer; }
.main-box .share-box .email-share-popup .send-button.sending { cursor: default; color: #777; }
.main-box .share-box .email-share-popup .email-sended { position: absolute; top: 200px; right: 27px; font-size: 14px; }

/*recommends-box*/
.main-box .recommends-box .section-wrapper { padding: 0; }

.main-box .recommends-box .tags-wrapper { overflow: hidden; position: relative; padding: 24px 0 24px 5px; }
.main-box .recommends-box .tags-wrapper .tags-list { overflow: hidden; position: relative; top: 1px; }
.main-box .recommends-box .tags-wrapper .tags-list .item { float: left; width: 181px; height: 29px; margin-bottom: 1px; font-size: 14px; color: #000; position: relative; cursor: pointer; padding: 0 13px 0 13px; margin-left: 22px; line-height: 27px; }
.main-box .recommends-box .tags-wrapper .tags-list .item.active,
.main-box .recommends-box .tags-wrapper .tags-list .item.active:hover { background: url("mybar.png") no-repeat -753px -498px transparent; color: #fff; cursor: default; }
.main-box .recommends-box .tags-wrapper .tags-list .item.active,
.main-box .recommends-box .tags-wrapper .tags-list .item:hover { margin-top: -1px; border-top: 1px solid #fff; }
.main-box .recommends-box .tags-wrapper .tags-list .item:hover { background: url("mybar.png") no-repeat -546px -498px; }
.main-box .recommends-box .tags-wrapper .tags-list .item .name { display: block; height: 29px; border-bottom: 1px solid #eee; }
.main-box .recommends-box .tags-wrapper .tags-list .item:hover .name,
.main-box .recommends-box .tags-wrapper .tags-list .item.active .name { border-bottom: none; }
.main-box .recommends-box .tags-wrapper .tags-list .item .amount { position: absolute; right: 13px; top: 0px; color: #b1b1b1; font-size: 10px; line-height: 28px; }
.main-box .recommends-box .tags-wrapper .tags-list .item.active .amount { color: #fff; }

.main-box .recommends-box .recommends-wrapper { margin-bottom: 30px; }
.main-box .recommends-box .ingredient { float: left; position: relative; height: 140px; margin: 0 0 17px 17px; }
.main-box .recommends-box .ingredient.no-have .control { display: block; }
.main-box .recommends-box .ingredient.no-have .control { background-position: -984px -488px; }
.main-box .recommends-box .ingredient.have .control,
.main-box .recommends-box .cocktail-preview.have .control { display: block; background-position: -1021px -488px; }
.main-box .recommends-box .cocktail-preview .control { left: -4px; top: -18px; }

.main-box .recommends-box .recommends-list .advice { border-top: 1px solid #E5E5E5; font-family: Georgia; font-size: 18px; font-style: italic; margin: 0 17px 17px; padding-top: 26px; color: #2b2b2b; }
.main-box .recommends-box .recommends-list .advice .ingredient-link,
.main-box .recommends-box .recommends-list .advice .cocktail-link { white-space: nowrap; }
.main-box .recommends-box .recommends-list .advice .ingredient-link { text-transform: lowercase; }
.main-box .recommends-box .recommends-list .recommend { overflow: hidden; position: relative; padding-top: 12px; }
.main-box .recommends-box .recommends-list .recommend .head { float: left; }
.main-box .recommends-box .recommends-list .recommend .eq { color: #7F7F7F; float: left; font-size: 52px; font-weight: bold; margin: 16px 4px 0 30px; position: relative; }
.main-box .recommends-box .recommends-list .recommend .body { float: left; }
.main-box .recommends-box .recommends-list .recommend .body .cocktail-preview { margin: 0 17px 10px 0; float: left; }

.main-box .recommends-box .must-have-list .row { display: block; overflow: hidden; padding: 26px 0 18px; position: relative; }
html.msie-6 .main-box .recommends-box .must-have-list .row { clear: both; }
.main-box .recommends-box .must-have-list .row .ingredient { margin: 0 17px 0px 17px; }
.main-box .recommends-box .must-have-list .row .description {  font-family: georgia; font-size: 16px; font-style: italic; padding: 17px 0 0 10px; width: 750px; color: #2b2b2b; }

/*purchase-plan*/
.main-box .purchase-plan-box { color: #3c3c3c; }
.main-box .purchase-plan-box .purchase-table-wrapper { margin: 28px 0px 10px; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table { left: -1px; margin-bottom: 30px; position: relative; width: 960px; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table th { font-size: 24px; vertical-align: middle; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table td { font-size: 18px; vertical-align: middle; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table .tr-padding { width: 20px; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table thead th.tr-content { border-bottom: 2px solid #000; height: 48px; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody td.tr-content { border-top: 1px solid #e5e5e5; height: 43px; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody tr.last td { border-bottom: 1px solid #fff; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody .tr-padding { border-top: 1px solid #fff; }

.main-box .purchase-plan-box .purchase-table-wrapper .group-table .item-name { width: 640px; text-align: left; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table .item-name .link-to-popup { cursor: pointer; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table .item-name .link-to-popup:hover { text-decoration: underline; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table .item-name .name-wrapper { height: 43px; position: relative; line-height: 42px; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table .item-name .name-wrapper .edit-item { height: 45px; width: 40px; position: absolute; left: -61px; top: -1px; background: url("mybar.png") no-repeat -1024px -87px transparent; cursor: pointer; display: none; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tr.excluded .item-name .name-wrapper .edit-item { background-position: -984px -87px; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table .item-volume { width: 103px; text-align: left; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table .item-volume .volume-value { width: 63px; padding: 5px; margin: 0px 5px 0px 3px; border: none; background-color: #e5e5e5; text-align: right; font-size: 18px; color: #3c3c3c; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table .item-price { width: 175px; text-align: right; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table .item-price div { width: 175px; overflow: hidden; }

.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody tr:hover td,
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody tr.active td { background-color: #e5e5e5; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody tr:hover .name-wrapper .edit-item,
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody tr.active .name-wrapper .edit-item { display: block; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody tr:hover .volume-value,
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody tr.active .volume-value { background-color: #cecece; }
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody tr.excluded .link-to-popup,
.main-box .purchase-plan-box .purchase-table-wrapper .group-table tbody tr.excluded .link-to-popup:hover{ text-decoration: line-through; }

.main-box .purchase-plan-box .total-price-wrapper { margin: 0 20px 35px 0; text-align: right; font-size: 24px; font-weight: bold; }

.main-box .purchase-plan-box .section-head .links .mybar-link { display: block; width: 98px; height: 52px; background: url("mybar.png") no-repeat -195px -472px transparent; }
.main-box .purchase-plan-box .section-head .links .mybar-link:hover { background-position: -195px -416px; }
.main-box .print-link-box .print-link { position: absolute; left: 20px; top: 6px; height: 30px; width: 174px; background: url("mybar.png") no-repeat -298px -456px transparent; }
.main-box .print-link-box .print-link:hover { background-position: -298px -424px; }

/*foreign-page*/
.main-box .mybar-link-box .mybar-link { display: block; width: 169px; height: 18px; position: relative; left: -2px; top: 10px; margin: 0 auto; background: url("mybar.png") no-repeat scroll -470px -437px transparent; }
.main-box .mybar-link-box.newbie .mybar-link { background-position: -470px -457px;; width: 171px; }

/*fixes*/
html.firefox .main-box .purchase-plan-box .purchase-table-wrapper .group-table thead .tr-padding,
html.msie .main-box .purchase-plan-box .purchase-table-wrapper .group-table thead .tr-padding { border-bottom: 1px solid #fff; border-collapse: separate; }
html.msie .main-box .purchase-plan-box .purchase-table-wrapper .group-table .item-name .name-wrapper .edit-item { left: -62px; }

html.opera-9 .ingredient-preview .image:before,
html.opera-10-0 .ingredient-preview .image:before,
html.opera-10-1 .ingredient-preview .image:before,
html.msie-8 .ingredient-preview .image:before,
html.firefox-2 .ingredient-preview .image:before { display: block; height: 100px; width: 100px; content: ''; background: url('/t/ingredient/preview-mask.png'); }

html.firefox-2 .ingredient-preview .image { -moz-border-radius: 0; }

html.msie-6 .ingredient-preview .image,
html.msie-7 .ingredient-preview .image { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/t/ingredient/preview-mask.png",sizingMethod="crop"); }

<!--# include virtual="/t/ingredient-popup.css" -->
