/*Popup*/
<!--# include virtual="/t/ingredient-popup.css" -->

html { min-height: 100%; overflow-y: scroll; position: relative; }

html.loading .please-wait { display: block; }
html.loading .main-box { display: none; }
.please-wait { display: none; }

.hidden { visibility: hidden; position: absolute; top: -20000px !important; }

.main-box .section-head {
	height: 85px;
	width: 982px;
	position: relative;
	left: -11px;
	background: url('/t/mybar/mybar.png') 0px 0px no-repeat;
}

.main-box .section-head h2
{ 
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 24px;
    font-weight: bold;
    padding: 33px 0 0 32px;
    text-shadow: 0 0 3px #FFFFFF;
}

.main-box .section-bottom 
{
	height: 15px;
	width: 982px;
	position: relative;
	left: -11px;
	background: url('/t/mybar/mybar.png') 0px -85px no-repeat;
}

.ingredients-box, .cocktails-box, .share-box, .recommends-box { margin: 20px 0px; }

.main-box .section-wrapper { background-color: #fff; position: relative; }

.main-box .section-wrapper .left-shadow, .main-box .section-wrapper .right-shadow { position: absolute; width: 11px; height: 100%; background: url('/t/mybar/mybar.png') repeat-y; }

.main-box .section-wrapper .left-shadow { left: -11px; background-position: -982px 0px; }

.main-box .section-wrapper .right-shadow { right: -11px; background-position: -993px 0px; }

.main-box .section-wrapper .content { border: 1px solid #fff; background: url("/t/common/content-gradient-v.png") repeat-x scroll 0 0 #FFFFFF; }

/*ingredients-box*/

.main-box .ingredients-box .empty { overflow: hidden; margin: 15px 0px; }

.main-box .ingredients-box .empty .tell-about-ingredients 
{
    background: url("/t/mybar/mybar.png") no-repeat scroll 3px -146px transparent;
    float: left;
    height: 266px;
    width: 176px;
    margin-left: 47px;
}

.main-box .ingredients-box .empty .explore-cocktails
{
    background: url("/t/mybar/mybar.png") no-repeat scroll -172px -146px transparent;
    float: left;
    height: 266px;
    width: 209px;
    margin-left: 135px;
}
.main-box .ingredients-box .empty .print-cocktail-cart
{
    background: url("/t/mybar/mybar.png") no-repeat scroll -382px -146px transparent;
    float: left;
    height: 266px;
    width: 202px;
    margin-left: 135px;
}

/*cocktails-box*/

.main-box .cocktails-box .empty {
    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    margin: 50px 0 50px 20px;
}
