body,table,
h1,h2,h3,h4,
p,form,
fieldset,legend,
ol,ul,li,dl,dt,dd{margin:0;padding:0;border:0;font-weight:normal;list-style:none;}
h1,h2,h3,h4,h5,h6{font:inherit;}
td{font-size:1em;vertical-align:top;}
img{vertical-align:middle;}
a { cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
a img{border:0;}
input,select,textarea,button{font:inherit;}
input[type="password"],
input[type="text"]{margin:0;}
ul{list-style-type:none;}
table{border:0;border-collapse:collapse;}
table td{padding:0;}
html{font:10px Tahoma,Arial,sans-serif;}

/* fix window-html-body box model */
html { overflow-y: scroll; height: 100%; }
body { min-width: 985px; position: relative; min-height: 100%; }


/* art goes here */

body { color: #343b40; }

.hidden { visibility: hidden; position: absolute !important; top: -100000px !important; }

/* 0px to 10px rounded corners */
.rounding-corners .lt,
.rounding-corners .rt,
.rounding-corners .lb,
.rounding-corners .rb { position: absolute; width: 10px; height: 10px; background: url(rounded-corners-10px.png) no-repeat; }
.rounding-corners .lt { left: 0; top: 0; background-position: -9px -9px; }
.rounding-corners .rt { right: 0; top: 0; background-position: 0 -9px; }
.rounding-corners .lb { left: 0; bottom: 0; background-position: -9px 0; }
.rounding-corners .rb { right: 0; bottom: 0; background-position: 0 0; }

/* navigation.css */
#top { position: relative; z-index: 5; height: 60px; font-size: 12px; margin: 0 auto 39px; border-bottom: 5px solid; background-position: 0 -75px; }
#top .content { position: relative; width: 786px; height: 65px; padding-left: 174px; margin: 0 auto; }
#top .logo { position: absolute; left: -11px; top: 0; width: 150px; height: 65px; background-position: 0 0; text-indent: -1000px; overflow: hidden; }
#top .link { float: left; height: 37px; padding: 23px 18px 0 18px; margin-left: 16px; font-size: 14px; text-decoration: none; border-bottom: 5px solid transparent; background: repeat-x 0 -1000px; }
#top .link.blog { position: absolute; right: 0; }

#bottom { position: relative; width: 962px; height: 170px; margin: 25px auto 0 auto; z-index: 1; font-size: 11px; }
#bottom .link { padding: 7px; }
#bottom .link:first-child { padding-left: 0; }
#bottom .link:last-child { padding-right: 0; }
#bottom .main-menu { position: absolute; top: 18px; right: 0; }
#bottom .about-menu { position: absolute; top: 18px; left: 0; }
#bottom .copyright { position: absolute; top: 37px; left: 0; }
#bottom .alcohol-harm { position: absolute; top: 80px; left: 0; width: 960px; height: 60px; background-position: 0 0; text-indent: -1000px; overflow: hidden; }

#cocktail-club,
#cocktail-club-placeholder { height: 68px; }
#cocktail-club-placeholder { margin-top: 0px; }
#cocktail-club { position: absolute; bottom: 0; left: 0; right: 0; z-index: 1; overflow: hidden; background: #00549f; }
#cocktail-club .border { position: absolute; top: 0; left: 0; right: 0; height: 5px; background-color: #fff; box-shadow: 0 0 25px 1px #000; -moz-box-shadow: 0 0 25px 1px #000; -webkit-box-shadow: 0 0 25px 1px #000; }
#cocktail-club .imperative { position: relative; z-index: 1; width: 962px; margin: 20px auto 0; font-size: 28px; line-height: 28px; /*letter-spacing: 1px;*/ color: #fff; }
#cocktail-club .imperative .facebook,
#cocktail-club .imperative .vkontakte { white-space: nowrap; }
#cocktail-club .imperative .facebook .link,
#cocktail-club .imperative .vkontakte .link { display: inline-block; position: relative; vertical-align: top; overflow: hidden; text-indent: -1000px; background: url(/t/cocktail-club/logos.png) no-repeat; }
#cocktail-club .imperative .facebook .link { top: -5px; width: 135px; height: 33px; margin: 0 -4px 0 -5px; background-position: 0 0; }
#cocktail-club .imperative .vkontakte .link { top: -1px; width: 159px; height: 35px; margin: 0 -4px 0 -3px; background-position: -150px 0; }
#cocktail-club .imperative .facebook .link:hover { background-position: 0 -50px; }
#cocktail-club .imperative .vkontakte .link:hover { background-position: -150px -50px; }

/* menu tweks */
#index-page #top .logo { cursor: default; }

#cocktails-page #top .link.cocktails,
#cocktail-page #top .link.cocktails,
#matching-page #top .link.cocktails,
#ingredients-page #top .link.ingredients,
html.bars-section #top .link.bars,
#good-page #top .link.goods,
#event-page #top .link.events,
#academy-page #top .link.academy,
#combinator-page #top .link.combinator,
html.party-section #top .link.party,
#mybar-page #top .link.mybar,
html.blog-section #top .link.blog
{ cursor: default; border-bottom: none !important; background-position: 0 -150px; }

#index-page #bottom .main-menu .link.main,
#cocktails-page #bottom .main-menu .link.cocktails,
#cocktail-page #bottom .main-menu .link.cocktails,
html.bars-section #bottom .main-menu .link.bars,
#barman-page #bottom .main-menu .link.barmen,
#barmen-page #bottom .main-menu .link.barmen,
#good-page #bottom .main-menu .link.goods,
#event-page #bottom .main-menu .link.events,
#academy-page #bottom .main-menu .link.academy,
html.job-section #bottom .link.job,
html.about-page #bottom .link.about,
#combinator-page #bottom .main-menu .link.combinator,
html.party-section #bottom .main-menu .link.party,
html.blog-section #bottom .main-menu .link.blog,
html.cocktail-groups-section #bottom .main-menu .link.cocktail-groups
{ color: inherit; cursor: default; text-decoration: none !important; }


/* that great buttons */
button.rounded { position: relative; margin: 0; padding: 0; border: 0; width: 145px; height: 24px; overflow: hidden; color: #fff; cursor: pointer; background: none; }
button.rounded b { position: relative; left: 1px; top: 0px; font-size: 11px; line-height: 12px; letter-spacing: 0.1em; font-weight: normal; }
button.tiny { width: 110px; background-position: 0 -25px; }
button.strong { background-position: 0 -50px; }
html.msie-6 button.rounded b,
html.msie-7 button.rounded b,
html.msie-8 button.rounded b { font-weight: bold; top: 5px; }
html.msie-7 button.rounded b,
html.msie-8 button.rounded b { display: inline-block; letter-spacing: 0.1px; filter: Shadow(Color=#333333,Direction=135,Strength=1); padding-bottom: 1px; }
html.msie-8 button.rounded b { top: -2px; }
html.firefox button.rounded b {  top: -2px; }
html.safari button.rounded b { top: -1px; }


/* branding.css */
#branded-image-holder { position: absolute; z-index: 0; right: 0; bottom: 0; width: 100%; overflow: hidden; background-position: 0 0; }
#branded-image-holder .center { width: 1px; height: 1px; margin: 0 auto; position: relative; }
#branded-image { display: block; position: absolute; }

#spotlighted { position: relative; text-decoration: none; }
#spotlighted i { position: absolute; background-position: 0px -100px; }

/* really common rules */
#common-main-wrapper { margin: 0 auto; width: 962px; }
.common-box { border: 1px solid #c0c0c0; -moz-border-radius: 2px; border-radius: 2px; background-color: #c0c0c0; }
.common-box .common-content { padding: 14px 18px 14px 18px; border: 1px solid #fff; -moz-border-radius: 1px; border-radius: 1px; background: #fff url(content-gradient-v.png) repeat-x 0 0; }
.common-box .common-title { background:url(header-dots-v.png) repeat-x 0 100%; margin-bottom: 9px; padding-bottom: 11px; }
.common-box .common-title .common-name { font-size: 20px; margin-left: -1px; }

html.msie-6 .common-box .common-content { zoom: 1; }

.cocktail-list .prev,
.cocktail-list .next { position: absolute; top: 54px; height: 14px; width: 14px; z-index: 2; }
.cocktail-list .prev { background-position: -500px 0; left: 0px; }
.cocktail-list .next { background-position: -525px 0; right: -2px; }
.cocktail-list .prev.disabled { background-position: -500px -25px; cursor: default; }
.cocktail-list .next.disabled { background-position: -525px -25px; cursor: default; }

.square-list .next,
.square-list .prev { display: block; width: 20px; height: 20px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.square-list .prev { background-position: -450px 0; }
.square-list .next { background-position: -475px 0; }
.square-list .prev.disabled,
.square-list .next.disabled { cursor:default; }
.square-list .prev.disabled { background-position: -450px -25px; }
.square-list .next.disabled { background-position: -475px -25px; }

#share-box .button { display: inline-block; width: 30px; height: 30px; }
#share-box .button i { display: block; margin: 7px 0 0 7px; width: 16px; height: 16px; }
#share-box .button.facebook i { background-position: -150px 0; }
#share-box .button.facebook:hover i { background-position: -175px 0; }
#share-box .button.twitter i { background-position: -150px -25px; }
#share-box .button.twitter:hover i { background-position: -175px -25px; }
#share-box .button.vkontakte i { background-position: -150px -50px; }
#share-box .button.vkontakte:hover i { background-position: -175px -50px; }


#nojs-warning,
#ancient-browser-warning { display: none; position: absolute; top: -25px; height: 25px; width: 100%; background-color: #fa0; color: #000; font-size: 15px; line-height: 25px; text-align: center; text-decoration: none; }
#nojs-warning:hover,
#ancient-browser-warning:hover { background-color: #6b0; }
#nojs-warning .time,
#ancient-browser-warning .time { color: #fff; }
html.chrome-2 body,
html.chrome-10 body,
html.chrome-11 body,
html.chrome-12 body,
html.chrome-13 body,
html.opera-8 body,
html.opera-9 body,
html.opera-10-0 body,
html.opera-10-1 body,
html.firefox-1 body,
html.firefox-2 body,
html.msie-5 body,
html.msie-6 body,
html.msie-7 body { top: 25px; }
html.chrome-2 #ancient-browser-warning,
html.chrome-10 #ancient-browser-warning,
html.chrome-11 #ancient-browser-warning,
html.chrome-12 #ancient-browser-warning,
html.chrome-13 #ancient-browser-warning,
html.opera-8 #ancient-browser-warning,
html.opera-9 #ancient-browser-warning,
html.opera-10-0 #ancient-browser-warning,
html.opera-10-1 #ancient-browser-warning,
html.firefox-1 #ancient-browser-warning,
html.firefox-2 #ancient-browser-warning,
html.msie-5 #ancient-browser-warning,
html.msie-6 #ancient-browser-warning,
html.msie-7 #ancient-browser-warning { display: block; }


<!--# include virtual="/t/popup.css" -->
