From: Коктейльный сайт <event@inshaker.ru>
To: <%=@first%> <%=@second%> <<%=@email%>>
Subject: Приглашение на III Неофициальный банковский форум
Content-Type: text/html; charset=UTF-8

<p>Привет, <strong><%= @first %> <%= @second %></strong>,</p>

<p>Мы рады сообщить, что вы один из 2000 счастливчиков, которые успели зарегистрироваться на III Неофициальный банковский форум, который пройдет уже в этот четверг, 22 октября в клубе <a href="http://www.inshaker.ru/bars/moskva/pacha.html">Pacha Moscow</a>. Вечеринка стартует в 20:00.</p>

<p>Чтобы пройти строгий контроль (только для сотрудников ведущих банков) мы направляем вам персональный код по которому вы и только вы сможете попасть в клуб.</p>

<p><h2 style="font-weight:normal">Ваш секретный код: <strong><%= @code %></strong></h2></p>


<p>До скорой встречи!<br/>
Журнал «<a href="http://www.finansmag.ru/">ФИНАНС.</a>» и коктейльный сайт <a href="http://www.inshaker.ru/">Inshaker.ru</a></p>

<hr/>
<p>* вход бесплатный, строго по приглашениям, благодаря нашим партнерам:</p>

<p><b>Генеральный партнер</b>:<br/>
<a href="http://www.mosoblbank.ru/">МОСОБЛБАНК</a></p>

<p><b>Партнеры</b>:<br>
- <a href="http://www.aeg-electrolux.co.uk/index.asp">AEG Electrolux</a><br>
- <a href="http://www.diasoft.ru/live/">DIASOFT</a><br>
- <a href="http://www.cr2.com/">CR2</a></p>

<p><b>Медиа партнеры</b>:<br>
- <a href="http://Banki.ru/">Banki.ru</a><br>
- <a href="http://www.profile.ru/">Профиль</a><br>
- <a href="http://medved-magazine.ru/">Медведь</a><br>
- <a href="http://vashdosug.ru/">Ваш досуг</a></p>