#main-column h1 { font-size: 21px; }
#branded-image-holder { display: none; }

.b-content { padding: 20px 20px 0 20px; width: 100%; }

.barmen-list
{
	width: 103%;
	overflow: hidden; 
}
html.loading .barmen-list { display: none; }

.barmen-list .item,
.barmen-list .barman-preview
{
	width: 216px;
	height: 240px;
}

.barmen-list .item
{
	float: left;
	margin: 0 20px 20px 0;
}

.barmen-list .barman-preview
{
	overflow: hidden;
	position: relative;
	display: block;
	
	color: #fff;
	background: center center;
}

.barmen-list .barman-preview .mask
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	background-image: url(mask.png);
}

.barmen-list .barman-preview.lazy { background-color: #eee; }

.barmen-list .barman-preview .name
{
	position: absolute;
	top: 209px;
	width: 201px;
	height: 24px;
	padding: 7px 0 0 15px;
	
	font-size: 13px;
	line-height: 17px;
}

.please-wait { display: none; }
html.loading .please-wait { display: block; font-size: 16px; margin: 0; padding: 20px 0; text-align: center; color: #888; }

<!--# if expr="$HTTP_USER_AGENT = /MSIE 6\./" -->
.barmen-list .barman-preview .mask { display: none; }
.barmen-list .barman-preview .name { background-color: #222; }
<!--# endif -->
<!--# if expr="$HTTP_USER_AGENT = /MSIE [67]\./" -->
.barmen-list { margin: 5px 0 5px 0; }
<!--# endif -->
