#top,
#top .logo,
#top .link { background-image: url(top.png); }

#top { border-bottom-color: #fff; background-color: #000; }
#top .link { color: #fff; }
#top .link:hover { border-bottom-color: #fdea61; }

/* common.css */
#spotlighted i,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
button.rounded,
.common-share-box .button i { background-repeat: no-repeat; background-image: url(common.png); }
#spotlighted i { width: 103px; height: 37px; right: 0; top: -4px; }
#branded-image { background-repeat: no-repeat; background-image: url(image.png); width: 410px; height: 700px; left: 140px; bottom: -800px; }
#branded-image-holder { height: 1115px; position: absolute; top: 185px; bottom: auto; }
html.float-fixed #branded-image-holder { position: fixed; top: 0; bottom: auto; }
html.stick-bottom #branded-image-holder { top: auto; bottom: 0; }
a { color: #000; }
html { background: #000 url(bg.jpg) center -130px no-repeat; }
html.branding-short {  }
button.rounded b,
button.strong b { text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
button.rounded b { color: #fff; }
button.strong b { color: #000; }


/* footer */
#common-footer { color: #aaa; background-color: #000; box-shadow: 0 -8px 12px #000; }
#common-footer a { color: inherit; }
#common-footer a:hover { color: #fff; }
#common-footer .index { border-bottom: solid 1px #2a2929; }
#common-footer .index .theme .head { color: #eee; }
#common-footer .index .theme .head:after { background-image: url(common.png); }
#common-footer .bottom { box-shadow: 0 -50px 150px #1e1c1c; }
#common-footer .alcohol-harm { background-repeat: no-repeat; background-image: url(alcohol-harm.png); }

html.barmen-section #common-footer .about-menu .link.barmen,
html.job-section #common-footer .link.job,
html.about-page #common-footer .link.about,
html.cocktail-groups-section #common-footer .about-menu .link.cocktail-groups
{ color: #fff; cursor: default; text-decoration: none !important; }


/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-repeat: no-repeat; background-image: url(common.png); }
#b-bill dt { color: #fff; font-weight: bold; }
#b-bill dd input { background-color: #eee; }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-repeat: no-repeat; background-image: url(common.png); }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.search-control { background-repeat: no-repeat; background-image: url(cocktails.png); }
#letters_all,
#alphabetical-ru a { color: #fff; }
#alphabetical-ru a.selected-button { color: #890814; }
#search_tabs li { color: #000; }
#search_tabs li.selected { color: #fff; }
.ingreds-list a { color: #fff; }
.pager-big .prev,
.pager-big .next { width: 23px; height: 25px; }
.b-content .pager .p-list a { padding: 2px 6px 3px; margin-right: -3px; }
.b-content .pager .p-list a.two { padding: 2px 3px 3px; margin-right: 0; }
.b-content .pager .p-list .selected-button { color: #f3ede3; }
#b-bill dd li b { color: #888; }
.search-form input { color: #362313; }
.b-search .groups dd { color: #231f20; }
.b-search .groups dd.selected-button { color: #f1ece3; }
.b-search .groups dd.disabled { color: #999; }
#search_by_ingreds .autocomplete { left: 0; top: 21px; width: 577px; background-color: #fff; color: #000; border-color: #570709; }
#search_by_ingreds .autocomplete .item.selected { background-color: #d2d2d2; }

/* cocktail.css */
#top-menu .border-links a:hover,
#b-more dt,
#b-more dt b { background-color: #222; }
#b-more dt b { color: #fff; }
#main-content .description .summary i { background-repeat: no-repeat; background-image: url(common.png); }

/* combinator.css */
#output .help-line .hint { color: #000; }
