
#branded-image-holder { display: none; }

#spotlighted { position: absolute; right: 0px; top: 4px; }

.ratings-widget .head { position: relative; font-size: 24px; }
.ratings-widget .head .switch { text-decoration: none; border-bottom: 2px dashed; }
.ratings-widget .head .switch:hover { border: none; }
.ratings-widget .head .hint { color: #c2c2c2; font-size: 12px; text-shadow: none; vertical-align: top; }

.ratings-widget.state-total .head .switch.total,
.ratings-widget.state-tag .head .switch.tag,
.ratings-widget.state-ingredient .head .switch.ingredient { color: inherit; border: none; cursor: text; }
.ratings-widget.state-total .head .switch.tag,
.ratings-widget.state-total .head .switch.ingredient,
.ratings-widget.state-tag .head .switch.total,
.ratings-widget.state-tag .head .switch.ingredient,
.ratings-widget.state-ingredient .head .switch.total,
.ratings-widget.state-ingredient .head .switch.tag { text-shadow: none; }

.ratings-widget > .content { padding: 0 20px 15px; }

.ratings-widget .rating-ingredient,
.ratings-widget .rating-tag { width: 945px; }

.ratings-widget .rating-col { display: inline-block; width: 292px; margin: 40px 22px 0 0; vertical-align: top; }

.ratings-widget .rating-name { font-size: 18px; }
.ratings-widget .rating-name .count { font-size: 10px; color: #bbb; vertical-align: super; margin-left: 5px; }

.ratings-widget .ingredients-list .cocktail-ingredient { margin-right: 3px;  }
.ratings-widget .ingredients-list.overflowed .cocktail-ingredient:last-child:after { content: '…' !important; }
html.msie-8 .ratings-widget .ingredients-list.overflowed .cocktail-ingredient:first-child + a + a + a:after { content: '…' !important; }

.ratings-widget .rating-list .first-item { position: relative; height: 182px; border-top: 3px solid #e5e5e5; margin-top: 5px; text-align: right; }
.ratings-widget .rating-list .first-item img { height: 180px; float: left; }
.ratings-widget .rating-list .first-item h3 { padding-top: 20px; }
.ratings-widget .rating-list .first-item h3 .cocktail-name { color: #000; font-size: 16px; }
.ratings-widget .rating-list .first-item .ingredients-list { overflow: hidden; height: 56px; line-height: 13px; }
.ratings-widget .rating-list .first-item .cocktail { position: absolute; width: 180px; top: 80px; right: 0; }
.ratings-widget .rating-list .first-item .cocktail .cocktail-ingredient { font-size: 11px; }
.ratings-widget .rating-list .first-item .cocktail-position { color: #838383; }
.ratings-widget .rating-list .first-item .cocktail-position .arrow { margin-right: 3px; }
.ratings-widget .rating-list .first-item .cocktail-rating { position: absolute; right: 0; bottom: 0; font-size: 12px; margin-left: auto; }
.ratings-widget .rating-list .first-item .cocktail-rating .note { display: block; font-size: 9px; color: #838383; width: 100px; margin-left: auto; }
.ratings-widget .rating-list .first-item .cocktail-rating .arrow { margin-left: 5px; }

.ratings-widget .rating-list .item { display: block; position: relative; height: 46px; border-top: 1px solid #e5e5e5; padding-top: 8px; margin-top: 8px; }
.ratings-widget .rating-list .item .cocktail-position { position: absolute; top: 8px; left: 0; width: 20px; color: #838383; font-size: 12px; }
.ratings-widget .rating-list .item .ingredients-list { overflow: hidden; height: 27px; line-height: 13px; }
.ratings-widget .rating-list .item .cocktail { padding: 0 30px 0 20px; }
.ratings-widget .rating-list .item .cocktail-rating { position: absolute; top: 8px; right: 0; margin-left: auto; font-size: 12px; }
.ratings-widget .rating-list .item .cocktail-rating .arrow { margin-left: 5px; }
.ratings-widget .rating-list .item .cocktail h3 { padding-bottom: 3px; }
.ratings-widget .rating-list .item .cocktail h3 .cocktail-name { color: #000; font-size: 12px; }


.ratings-widget .rating-list .item .cocktail .cocktail-ingredient,
.ratings-widget .rating-list .first-item .cocktail .cocktail-ingredient { color: #4b4b4b; }

.ratings-widget .rating-list .item .cocktail .cocktail-ingredient:after,
.ratings-widget .rating-list .first-item .cocktail .cocktail-ingredient:after,
.ratings-widget .rating-total li .cocktail .cocktail-ingredient:after { content: ',' }
.ratings-widget .rating-list .item .cocktail .cocktail-ingredient:last-child:after,
.ratings-widget .rating-list .first-item .cocktail .cocktail-ingredient:last-child:after,
.ratings-widget .rating-total li .cocktail .cocktail-ingredient:last-child:after { content: '.' }


.ratings-widget .rating-list .item .cocktail-position .arrow,
.ratings-widget .rating-list .item .cocktail-rating .arrow,
.ratings-widget .rating-list .first-item .cocktail-rating .arrow,
.ratings-widget .rating-list .first-item .cocktail-position .arrow,
.ratings-widget .rating-total li .cocktail-position .arrow { background-image: url(arrows.png); }

.ratings-widget .rating-list .item .cocktail-position .arrow,
.ratings-widget .rating-list .first-item .cocktail-position .arrow { width: 6px; height: 6px; display: block; margin-top: 6px; background-position: -8px 0; }
.ratings-widget .rating-list .item .cocktail-position .arrow.up,
.ratings-widget .rating-list .first-item .cocktail-position .arrow.up { background-position: -8px -6px; }

.ratings-widget .rating-list .item .cocktail-rating .arrow,
.ratings-widget .rating-list .first-item .cocktail-rating .arrow,
.ratings-widget .rating-total li .cocktail-position .arrow { width: 8px; height: 9px; display: inline-block; background-position: 0 0; }
.ratings-widget .rating-list .item .cocktail-rating .arrow.up,
.ratings-widget .rating-list .first-item .cocktail-rating .arrow.up,
.ratings-widget .rating-total li .cocktail-position .arrow.up { background-position: 0 -9px; }

.ratings-widget .rating-list .first-item .cocktail-position .arrow { display: inline-block; }

.ratings-widget .rating-total li { position: relative; border-bottom: 1px solid #e5e5e5; margin-right: 18px; }
.ratings-widget .rating-total li:last-child { border-bottom: none; }

.ratings-widget .rating-total li .cocktail-position { position: absolute; top: 35px; left: 0; font-size: 14px; }
.ratings-widget .rating-total li .cocktail-position:after { content: '.'; }
.ratings-widget .rating-total li .cocktail-position .arrow { margin-right: 5px; }
.ratings-widget .rating-total li .cocktail-image { position: absolute; top: 10px; left: 55px; }
.ratings-widget .rating-total li .cocktail { padding-left: 160px; padding-top: 30px; padding-bottom: 36px; width: 550px; }
.ratings-widget .rating-total li .cocktail h3 { padding-bottom: 5px; }
.ratings-widget .rating-total li .cocktail h3 .cocktail-name { font-size: 18px; color: #000; }
.ratings-widget .rating-total li .cocktail .cocktail-ingredient { font-size: 11px; color: #505050; }

<!--# include virtual="/t/ingredient-popup.css" -->

<!--# include virtual="/w/shop-map-banner/shop-map-banner.css" -->

#cocktail-shop-banner
{
    margin-top: 20px;
}
#cocktail-shop-banner .common-title h1
{
    font-size: 23px;
}
#cocktail-shop-banner h1 a { color: #EC9340; }
#shop-map .info {
    padding: 15px 15px 15px 35px;
}
#shop-map .info .location
{
    width: 215px;
    margin-right: 0px;
}
#shop-map .info .phone
{
    min-width: 131px;
    margin-right: 60px;
}
#shop-map .info .parking
{
    width: 80px;
}
