.hidden { display: none; }

h1 a, h2 a, h3 a, dt.name a { color: inherit; }

html { background: url("../common/content-gradient-v.png") repeat-x 0 65px #fff; }

#common-main-wrapper { overflow: hidden; position: relative; }

#blog-head { margin: 0 0 30px 0; }
#blog-head .name { font-size: 28px; }
#blog-head .description { font-size: 14px; }

#blog-page #blog-head .name a { color: inherit; text-decoration: none; cursor: text; }

#fb-likebutton { position: absolute; right: 0; top: 28px; width: 150px; height: 21px; overflow: hidden; border: none; }

#big-banner { margin: 10px 0; padding: 20px 0; border-top: 1px solid #eee; position: relative; }

#sidebar { float: right; }
#small-banners { width: 304px; margin-right: -2px; padding: 20px 0 0 0; overflow: hidden; border-top: 1px solid #eee; }
#small-banners .head { font-size: 14px; line-height: 26px; margin-bottom: 10px; }
#small-banners .item { float: left; margin: 0 2px 2px 0; }

#editors { margin-top: 30px; font-size: 8px; }
#editors .head { font-weight: bold; }
#editors .body { margin-bottom: 8px; }

#posts-loop,
#the-one { border-top: 1px solid #eee; width: 590px; padding: 20px 0 10px 0; }

#posts-loop .post { display: none; }
#common-main-wrapper.show-all .post { display: block; }
#common-main-wrapper.show-all .tag.all .link { color: inherit; cursor: text; text-decoration: none; }

.post { position: relative; margin: 0 0 30px 0; padding: 0 0 30px 0; border-bottom: 1px dashed #bbb; }
.post .title { font-size: 22px; margin: 0 0 5px 0; }
.post .more { margin: 8px 0 0 0; font-size: 10px; color: #ccc; }
.post .more .deeper { color: inherit; margin: 0 20px 0 0; }
#the-one .post .more { margin-top: 30px; }
#the-one .post .more .date { position: absolute; right: 0; top: 7px; }
.post .more .tags { margin-bottom: 5px; color: #343B40; }
.post .more .tags .list { color: #888; }
.post .more .tags .list,
.post .more .tags .list .tag { display: inline; }
.post .more .tags .list .tag::after { content: ','; }
.post .more .tags .list .tag:last-child::after { content: '.' }
.post .more .tags .list .tag .link {  }
.post .body { font-size: 14px; line-height: 22px; }
.post .body .image-box { display: block; margin: 1em 0; }
.post .body .image-box .image { display: inline-block; }
.post .body .image-box .image.lazy { background-color: #eee; }
.post .body .crossed { text-decoration: line-through; }
.post .body hr { border: none; border-top: 1px solid #eee; margin: 25px 10px; }
.post .body h2 { margin: 15px 0 2px 0; font-size: 15px; }
.post .body p { margin: 10px 0; }

#tag-cloud { color: #343B40; font-size: 17px; width: 610px; }
#tag-cloud .list { color: #888; }
#tag-cloud .list,
#tag-cloud .list .tag { display: inline; }
#tag-cloud .list .tag::after { content: ','; }
#tag-cloud .list .tag:last-child::after { content: '.'; }
#tag-cloud .list .tag .link { white-space: nowrap; }


#bottom { border-top: 1px solid #eee; padding-top: 20px; margin-top: 40px; }
