.hidden { display: none; }

html { background: url("../common/content-gradient-v.png") repeat-x 0 65px #fff; }

#blog-head { margin: 0 0 10px 0; }
#blog-head .name { font-size: 25px; }
#blog-head .description { font-size: 10px; }

#blog-page #blog-head .name a { color: inherit; text-decoration: none; cursor: default; }

#big-banner { margin: 10px 0; padding: 20px 0; border: 1px solid #000; border-left: none; border-right: none; }
#small-banners { float: right; }

.post .body .image-box { display: block; margin: 1em 0; text-align: center; }
.post .body .image-box .image { margin: 0 auto; }