h1 a, h2 a, h3 a, dt.name a { color: inherit; }

html.branding-short { background: linear-gradient(to bottom, #e0e0e0 0%, rgba(255,255,255,0) 33px) center 60px; }

#common-main-wrapper { overflow: hidden; position: relative; }

#blog-head { margin: 0 0 30px 0; }
#blog-head .name { font-size: 28px; }
#blog-head .description { font-size: 14px; }

#blog-page #blog-head .name a { color: inherit; text-decoration: none; cursor: text; }

#fb-likebutton { position: absolute; right: 0; top: 28px; width: 150px; height: 21px; overflow: hidden; border: none; }

#big-banner { margin: 10px 0; padding: 20px 0; border-top: 1px solid #eee; position: relative; }

#sidebar { float: right; }
#small-banners { width: 304px; margin-right: -2px; padding: 20px 0 0 0; overflow: hidden; border-top: 1px solid #eee; }
#small-banners .head { font-size: 14px; line-height: 26px; margin-bottom: 10px; }
#small-banners .item { float: left; margin: 0 2px 2px 0; }

#editors { margin-top: 30px; font-size: 8px; }
#editors .head { font-weight: bold; }
#editors .body { margin-bottom: 8px; }

#posts-loop,
#the-one { border-top: 1px solid #eee; width: 590px; padding: 20px 0 0 0; }

#common-main-wrapper.show-tag-all .tag.all .link { color: inherit; cursor: text; text-decoration: none; }

.post { position: relative; margin: 0 0 30px 0; padding: 0 0 30px 0; border-bottom: 1px dashed #bbb; }
.post:last-child { border-bottom: none; margin-bottom: 0; }
.post .title { font-size: 22px; margin: 0 0 5px 0; }
.post .more { margin: 8px 0 0 0; font-size: 10px; color: #ccc; }
.post .more .deeper { color: inherit; margin: 0 20px 0 0; }
#the-one .post .more { margin-top: 30px; position: relative; }
#the-one .post .more .date { position: absolute; right: 0; top: 18px; }
.post .more .tags { margin-bottom: 5px; color: #343B40; }
.post .more .tags .list { color: #888; }
.post .more .tags .list,
.post .more .tags .list .tag { display: inline; }
.post .more .tags .list .tag::after { content: ','; }
.post .more .tags .list .tag:last-child::after { content: '.' }
.post .more .tags .list .tag .link {  }
.post .body { font-size: 14px; line-height: 22px; }
.post .body .image-box { display: block; margin: 1em 0; }
.post .body .image-box .image { display: inline-block; }
.post .body .image-box .image.lazy { background-color: #eee; }
.post .body .crossed { text-decoration: line-through; }
.post .body hr { border: none; border-top: 1px solid #eee; margin: 25px 10px; }
.post .body h2 { margin: 15px 0 2px 0; font-size: 15px; }
.post .body p { margin: 10px 0; }

#more { display: block; width: 590px; margin: 0 0 35px; text-align: center; }
#more .button { display: inline-block; padding: 5px 12px; border-radius: 5px; font-size: 20px; letter-spacing: 2px; background-color: #0392F1; color: #fff; }
#more .button:hover { text-decoration: none; background-color: #0372c1; }

#tag-cloud { color: #343B40; font-size: 17px; width: 610px; margin: 15px 0 0 0; }
#tag-cloud .list { color: #888; }
#tag-cloud .list,
#tag-cloud .list .tag { display: inline; }
#tag-cloud .list .tag::after { content: ','; }
#tag-cloud .list .tag:last-child::after { content: '.'; }
#tag-cloud .list .tag .link { white-space: nowrap; }

#share-box { position: absolute; right: -5px; top: -12px; }


/* hand-generated styles for future 31 tags :))) */

#common-main-wrapper.show-tag-0  .post.tag-0 ,
#common-main-wrapper.show-tag-1  .post.tag-1 ,
#common-main-wrapper.show-tag-2  .post.tag-2 ,
#common-main-wrapper.show-tag-3  .post.tag-3 ,
#common-main-wrapper.show-tag-4  .post.tag-4 ,
#common-main-wrapper.show-tag-5  .post.tag-5 ,
#common-main-wrapper.show-tag-6  .post.tag-6 ,
#common-main-wrapper.show-tag-7  .post.tag-7 ,
#common-main-wrapper.show-tag-8  .post.tag-8 ,
#common-main-wrapper.show-tag-9  .post.tag-9 ,
#common-main-wrapper.show-tag-10 .post.tag-10,
#common-main-wrapper.show-tag-11 .post.tag-11,
#common-main-wrapper.show-tag-12 .post.tag-12,
#common-main-wrapper.show-tag-13 .post.tag-13,
#common-main-wrapper.show-tag-14 .post.tag-14,
#common-main-wrapper.show-tag-15 .post.tag-15,
#common-main-wrapper.show-tag-16 .post.tag-16,
#common-main-wrapper.show-tag-17 .post.tag-17,
#common-main-wrapper.show-tag-18 .post.tag-18,
#common-main-wrapper.show-tag-19 .post.tag-19,
#common-main-wrapper.show-tag-20 .post.tag-20,
#common-main-wrapper.show-tag-21 .post.tag-21,
#common-main-wrapper.show-tag-22 .post.tag-22,
#common-main-wrapper.show-tag-23 .post.tag-23,
#common-main-wrapper.show-tag-24 .post.tag-24,
#common-main-wrapper.show-tag-25 .post.tag-25,
#common-main-wrapper.show-tag-26 .post.tag-26,
#common-main-wrapper.show-tag-27 .post.tag-27,
#common-main-wrapper.show-tag-28 .post.tag-28,
#common-main-wrapper.show-tag-29 .post.tag-29,
#common-main-wrapper.show-tag-30 .post.tag-30
{ display: block }

#common-main-wrapper.show-tag-all .tag.tag-all .link,
#common-main-wrapper.show-tag-0  .tag.tag-0  .link,
#common-main-wrapper.show-tag-1  .tag.tag-1  .link,
#common-main-wrapper.show-tag-2  .tag.tag-2  .link,
#common-main-wrapper.show-tag-3  .tag.tag-3  .link,
#common-main-wrapper.show-tag-4  .tag.tag-4  .link,
#common-main-wrapper.show-tag-5  .tag.tag-5  .link,
#common-main-wrapper.show-tag-6  .tag.tag-6  .link,
#common-main-wrapper.show-tag-7  .tag.tag-7  .link,
#common-main-wrapper.show-tag-8  .tag.tag-8  .link,
#common-main-wrapper.show-tag-9  .tag.tag-9  .link,
#common-main-wrapper.show-tag-10 .tag.tag-10 .link,
#common-main-wrapper.show-tag-11 .tag.tag-11 .link,
#common-main-wrapper.show-tag-12 .tag.tag-12 .link,
#common-main-wrapper.show-tag-13 .tag.tag-13 .link,
#common-main-wrapper.show-tag-14 .tag.tag-14 .link,
#common-main-wrapper.show-tag-15 .tag.tag-15 .link,
#common-main-wrapper.show-tag-16 .tag.tag-16 .link,
#common-main-wrapper.show-tag-17 .tag.tag-17 .link,
#common-main-wrapper.show-tag-18 .tag.tag-18 .link,
#common-main-wrapper.show-tag-19 .tag.tag-19 .link,
#common-main-wrapper.show-tag-20 .tag.tag-20 .link,
#common-main-wrapper.show-tag-21 .tag.tag-21 .link,
#common-main-wrapper.show-tag-22 .tag.tag-22 .link,
#common-main-wrapper.show-tag-23 .tag.tag-23 .link,
#common-main-wrapper.show-tag-24 .tag.tag-24 .link,
#common-main-wrapper.show-tag-25 .tag.tag-25 .link,
#common-main-wrapper.show-tag-26 .tag.tag-26 .link,
#common-main-wrapper.show-tag-27 .tag.tag-27 .link,
#common-main-wrapper.show-tag-28 .tag.tag-28 .link,
#common-main-wrapper.show-tag-29 .tag.tag-29 .link,
#common-main-wrapper.show-tag-30 .tag.tag-30 .link
{ color: inherit; cursor: text; text-decoration: none }
