<!DOCTYPE html>
<html id="bar-page" class="bars-section" lang="ru">
<head>
	<!--# include virtual="/inc/bars-head.html" -->
	<link rel="stylesheet" href="/t/bar/bar.css" media="screen"/>
	<title><%= @name %> — Бары — Inshaker</title>
</head>
<body>
<!--# include virtual="/inc/common-top.html" -->
<div id="common-main-wrapper">

<div id="main-column" class="common-box"><div class="common-content">
	<div class="common-title">
		<h1 id="bar-name" class="common-name fn org" data-value="<%= @name %>"><%= @name %></h1>
		<ul class="navigation"><li><a class="prev">←</a></li><li><a href="/bars.html#city=<%= @city %>" id="city-name" data-value="<%= @city %>"><%= @city %></a></li><li><a class="next">→</a></li></ul>
	</div>
	
	<div class="description"><%= @desc_start.gsub(/[\n\r]/, "<br/>") %></div>
	
	<div class="photos programica-rolling-images geometry-<%= @geometry %>">
		<div class="viewport">
			<ul class="surface">
				<% (1..@photos).each do |i| %>
				<li class="point"><img data-lazy-src="photo-<%= i %>.jpg"/></li>
				<% end %>
			</ul>
		</div>
		<a class="prev"></a><a class="next"></a>
	</div>
	
	<div class="atmosphere">
		<dl class="part feature">
			<dt>Тут можно:</dt>
			<dd>
				<% @format.each do |e| %>
				<a href="/bars.html#format=<%= e %>"><%= e %></a><%= "," unless e == @format.last %>
				<% end %>
			</dd>
		</dl>
		<dl class="part people">
			<dt>В компании:</dt>
			<dd>
				<% @feel.each do |e| %>
				<a href="/bars.html#feel=<%= e %>"><%= e %></a><%= "," unless e == @feel.last %>
				<% end %>
			</dd>
		</dl>
	</div>

	<div class="info">

		<dl class="block hit">
			<dt class="head"><a href="/combinator.html#q=%D0%90%D0%B2%D1%82%D0%BE%D1%80%D1%81%D0%BA%D0%B8%D0%B5%20%D1%85%D0%B8%D1%82%D1%8B">Коктейльный хит</a> в этом баре</dt>
			<dd class="body"></dd>
		</dl>
		
		<dl class="block about">
			
			<dt class="head block-header">Индекс <a href="/cocktail/rum_cola/">Ром кола</a> в этом баре</dt>
			<dd class="body">
				<div class="index"><%= @priceIndex %> руб.</div>
				
				<div class="contacts">
					<% if @chief %>
					<dl class="part barman">
						<dt>Главный бармен:</dt>
						<dd><a href="/barman/<%= @chief["name_eng"].dirify %>/"><%= @chief["name"] %></a></dd>
					</dl>
					<% end %>
					<dl class="part cookery">
						<dt>Кухня:</dt>
						<dd>
							<% @cuisine.each do |e| %>
							<%= e %><%= "," unless e == @cuisine.last %>
							<% end %>
						</dd>
					</dl>
					
					<% if @contacts %>
					
					<% if v = @contacts["hours"] %>
					<dl class="part hours">
						<dt>Часы работы:</dt>
						<dd>
							<%= v %>
						</dd>
					</dl>
					<% end %>
					
					<% if v = @contacts["entrance"] %>
					<dl class="part entrance">
						<dt>Вход:</dt>
						<dd>
							<%= v %>
						</dd>
					</dl>
					<% end %>
					
					<% if v = @contacts["tel"] %>
					<dl class="part telephone">
						<dt>Телефон:</dt>
						<dd>
							<%= v %>
						</dd>
					</dl>
					<% end %>
					
					<% if v = @contacts["address"] %>
					<dl class="part address">
						<dt>Адрес:</dt>
						<dd>
							<a class="adr" href="/bars.html#view=map&amp;city=<%= URI.escape(@city) %>&amp;bar=<%= URI.escape(@name) %>"><span class="street-address"><%= v %></span></a>
						</dd>
					</dl>
					<% end %>
					
					<% if v = @contacts["site"] %>
					<dl class="part site">
						<dt>Сайт:</dt>
						<dd>
							<a class="url" href="http://<%= v %>/"><%= v %></a>
						</dd>
					</dl>
					<% end %>
					
					<% end %>
				</div><!-- /contacts -->
			</dd>
		</dl>
	</div>

</div></div><!-- /common-box /common-content -->

<dl id="bar-on-map">
	<dt class="head">
		<span class="name">Бар на карте <%= @city_map_name %></span>
		<span class="taxi">
			<span class="name"><i></i>TAXI</span>
			<span class="phone"><span class="code">+7 (495)</span> <span class="number">728-81-76</span></span>
		</span>
		<span id="share-box">
			<a class="button vkontakte" href="http://vkontakte.ru/share.php?url=${url}"><i></i></a><a class="button facebook" href="http://www.facebook.com/sharer.php?u=${url}&t=${text}"><i></i></a><a class="button twitter" href="http://twitter.com/share?url=${url}&text=${text}&via=inshaker&related=inshaker&lang=ru"><i></i></a>
		</span>
	</dt>
	<dd class="body">
		<div id="map"><p class="loading">Загружаю карту…</p></div>
	</dd>
</dl>

</div><!-- /common-main-wrapper -->

<!--# include virtual="/inc/bar-footer.html" -->
</body>
</html>
