<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html id="bar-page" class="bars-page" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	<!--# include file="/inc/head.html" -->
	<link rel="stylesheet" type="text/css" href="/t/bar.css" media="screen"/>
	<title><%= @name %> — Бары — Inshaker</title>
</head>
<body>
<!--# include file="/inc/top-common.html" -->
<div id="main-wrapper">
	
	<div class="column-main-container">
		<div class="column column-main"><div class="body-wrapper">
			<div class="b-title">
				<h1 id="bar-name"><%= @name %></h1>
				<h2 id="city-name"><%= @city%></h2>
				<ul class="hrefs"><li><a class="prev">←</a></li><li><a href="/bars.html">все бары</a></li><li><a class="next">→</a></li></ul>
			</div>
			<div class="b-content">
				<div class="photos programica-rolling-images">
					<div class="viewport">
						<ul class="surface">
						<% (1..@photos).each do |i| %>
							<li class="point"><img src="photo-<%= i %>.jpg"/></li>
						<% end %>
						</ul>
					</div>
					<a class="prev"></a><a class="next"></a>
				</div>
				<div class="about">
					<% if @desc_end && !@desc_end.empty? %>
						<h2 class="show-more"><%= @desc_start.gsub(/[\n\r]/, "<br/>") %><a>…</a></h2>
						<p class="more"><%= @desc_end.gsub(/[\n\r]/, "<br/>") %></p>
					<% else %>
						<h2 class="show-more empty"><%= @desc_start.gsub(/[\n\r]/, "<br/>") %></h2>
					<% end %>
					
					<div class="info">
						<dl class="part feature">
							<dt>Тут можно:</dt>
							<dd>
								<% @format.each do |fmt| %>
								<a href="/bars.html#format=<%=fmt%>"><%=fmt%></a><%= (fmt == @format.last) ? "" : ", " %>
								<% end %>
							</dd>
						</dl>
						<dl class="part people">
							<dt>В компании:</dt>
							<dd>
								<% @feel.each do |fl| %>
								<a href="/bars.html#feel=<%=fl%>"><%=fl%></a><%= (fl == @feel.last) ? "" : ", " %>
								<% end %>
							</dd>
						</dl>
						
						<% if @chief %>
						<dl class="part barman">
							<dt>Главный бармен:</dt>
							<dd><a href="/barman/<%= @chief["name_eng"].dirify %>/"><%= @chief["name"] %></a></dd>
						</dl>
						<% end %>
						<dl class="part cookery">
							<dt>Кухня:</dt>
							<dd>
								<% @cuisine.each do |cu| %>
								<%= cu %><%= (cu == @cuisine.last) ? "" : ", " %>
								<% end %>
							</dd>
						</dl>
						
						<% if @contacts %>
						<div class="contacts">
							<% if v = @contacts["hours"] %>
							<dl class="part hours">
								<dt>Часы работы:</dt>
								<dd>
									<%= v %>
								</dd>
							</dl>
							<% end %>
							
							<% if v = @contacts["entrance"] %>
							<dl class="part entrance">
								<dt>Вход:</dt>
								<dd>
									<%= v %>
								</dd>
							</dl>
							<% end %>
							
							<% if v = @contacts["tel"] %>
							<dl class="part telephone">
								<dt>Телефон:</dt>
								<dd>
									<%= v %>
								</dd>
							</dl>
							<% end %>
							
							<% if v = @contacts["address"] %>
							<dl class="part address">
								<dt>Адрес:</dt>
								<dd>
									<a href="/bars.html#view=map&amp;city=<%= URI.escape(@city) %>&amp;bar=<%= URI.escape(@name) %>"><%= v %></a>
								</dd>
							</dl>
							<% end %>
							
							<% if v = @contacts["site"] %>
							<dl class="part site">
								<dt>Сайт:</dt>
								<dd>
									<a href="http://<%= v %>/"><%= v %></a>
								</dd>
							</dl>
							<% end %>
						</div>
						<% end %>
					</div>
					
				</div>
			</div>
		</div></div>
		
		<div class="b-more">
			<div class="column b-more-cocktails">
				<dl class="body-wrapper">
					<dt><b>Рекомендуем попробовать в этом баре</b></dt>
					<dd>
						<div class="programica-rolling-images" id="carte" pmc-animation-type="easeInOutCubic">
							<a class="prev"></a>
							<a class="next"></a>
							<div class="viewport">
								<div class="surface"></div>
							</div>
						</div>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	
	<div id="sidebar">
		<div class="map">
			<div class="column"><div class="body-wrapper">
			<div class="b-title"><h2>На карте <%= @city_map_name %></h2></div>
			<div id="map"><p class="loading">Загружаю карту…</p></div>
			</div></div>
		</div>
		
		<div class="whisky-index b-more">
			<div class="column b-more-cocktails">
				<dl class="body-wrapper">
					<dt><b>Индекс Виски Кола в этом баре</b></dt>
					<dd id="price-index">
						<%= @priceIndex %> р.
					</dd>
				</dl>
			</div>
		</div>
		
	</div>
</div>
<!--# include file="/inc/bar-footer.html" -->
</body>
</html>
