<!DOCTYPE html>
<html lang="ru" id="blog-page" class="blog-section">
<head>
	<!--# include virtual="/inc/blog-post-head.html" -->
	<title><%= @name %> — Суперблог — Inshaker</title>
</head>
<body>
<!--# include virtual="/inc/top-common.html" -->
<div id="common-main-wrapper">



</div id="common-main-wrapper">
<!--# include virtual="/inc/blog-post-footer.html" -->
</body>
</html>