<li class="post preview">
	<h2 class="title"><a href="/blog/<%= @href %>/"><%= @title %></a></h2>
	<div class="body">
		<%= @cut %>
	</div>
	<div class="more"><span class="date"><%= @date_ru %></span></div>
</li>
