<li class="post preview <%= @tags_keys.join(" ") %>">
	<h2 class="title"><a href="/blog/<%= @href %>/#the-one"><%= @title %></a></h2>
	<div class="body">
		<%= @cut %>
	</div>
	<div class="more">
		<div class="tags">
			Теги:
			<ul class="list">
				<% tags_name_with_key do |name, key| %>
				<li class="item"><a class="link" href="/blog/#tag=<%= key %>"><%= name %></a></li>
				<% end %>
			</ul>
		</div>
		<span class="date"><%= @date_ru %></span>
	</div>
</li>
