<!DOCTYPE html>
<html class="cocktail-groups-section loading" id="cocktail-group-page" lang="ru">
<head>
  <link rel="stylesheet" href="/t/common/common.css"/>
	<link rel="stylesheet" href="/t/cocktail-group/cocktail-group.css"/>
	<title><%= @entity.name %> — Группы коктейлей — Inshaker</title>
</head>
<body>
<!--# include virtual="/inc/common-top.html" -->
<div class="common-main-wrapper" id="main-column">

<div class="common-box box">
  <div class="common-title title">
    <h1 class="common-name"><%= @entity.name %></h1>
  </div>
	<div class="common-content common-bottom">
	<div class="b-content">
		<div class="about">
			<ol class="facts">
				<div class="column"><% @column_a.each do |fact| %>
				<li><%= fact %></li><% end %>
				</div>
				<div class="column"><% @column_b.each do |fact| %>
				<li><%= fact %></li><% end %>
				</div>
			</ol>
		</div>
	</div>
  </div>
</div>

<div class="common-box box">
  <div class="common-title title">
    <div class="common-name">
    <h2 id="group-name" data-name="<%= @entity.name %>"><%= @entity.name %></h2> / <a href="/gruppy-kokteyley/">Группы коктейлей</a>
    </div>
  </div>
  <ul class="common-content b-content ingrediented-cocktail-list" id="cocktail-list">
      <!--# include virtual="list.html" -->
  </ul class="common-content">
  <div class="common-content common-bottom common-more" id="more"><a class="button">еще 30 коктейлей</a></div>
</div class="common-box">

<!--# include virtual="/w/shop-map-banner/shop-product-banner.html" -->

</div id="common-main-wrapper">

<!--# include virtual="/inc/cocktail-group-footer.html" -->
</body>
</html>
