<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" id="event-page" class="loading <%= @href %> status-<%= @status %>">
<head>
	<!--# include file="/inc/head.html" -->
	<link rel="stylesheet" type="text/css" href="/t/event.css" media="screen"/>
	<title>Inshaker — <%= @name %></title>
</head>
<body>
<!--# include file="/inc/top-common.html" -->
<div id="main-wrapper">
	
	<div class="timeline column"><div class="body-wrapper">
		<div class="b-title">
			<h1>Events!</h1>
		</div>
		<div class="b-content">
			<div class="previews programica-rolling-images">
				<div class="viewport">
					<ul class="surface"><noscript><!--# include virtual="/events/links.html" --></noscript></ul>
				</div>
				<a class="prev disabled" disabled="true"></a><a class="next"></a>
			</div>
		</div>
	</div></div>
	
	<div id="both-wrapper">
		<div class="column-main-container">
			<div class="column column-main"><div class="body-wrapper">
				<div class="b-title">
					<h1 id="event-name"><%= @name %></h1>
					<h2><%= @header %></h2>
				</div>
				<div class="b-content">
					<div id="illustration"><img/></div>
					<div class="about">
						<% if @address %>
							<h2><%= @city %> — <a href="<%= @address %>"><%= @venue %></a>, <%= @adate || @date_ru %></h2>
						<% else %>
							<h2><%= @city %> — <%= @venue %>, <%= @adate || @date_ru %></h2>
						<% end %>
						<p class="parole"><%= @target %></p>
						
						<% if @status == "preparing" %>
							<a class="sign-on"><span>Register to be there!</span> →</a>
							<dl class="info">
								<% if @enter %>
									<dt>Entrance:</dt><dd><a id="invitations-only"><%= @enter %></a></dd>
								<% end %>
								<% if @address %>
									<dt>Address:</dt><dd><a href="<%= @address %>">how to get there</a></dd>
								<% end %>
							</dl>
						<% elsif @status == "holding" %>
							<dl class="info">
								<% if @enter %>
									<dt>Entrance:</dt><dd><span id="invitations-only"><%= @enter %></span></dd>
								<% end %>
								<% if @address %>
									<dt>Address:</dt><dd><a href="<%= @address %>">how to get there</a></dd>
								<% end %>
							</dl>
						<% elsif @status == "archive" %>
							<% if @photos %>
								<a href="<%= @photos %>" class="view-photos"><span>Event photos!</span> →</a>
							<% end %>
							<dl class="info">
								<% if @address %>
									<dt>Address:</dt><dd><a href="<%= @address %>">how to get there</a></dd>
								<% end %>
							</dl>
						<% end %>
					</div>
				</div>
			</div></div>
			<div id="medium-sponsors"></div>
		</div>
		
		<div id="sidebar">
			<div id="main-sponsors" class="column"><div class="body-wrapper">
				<% if @high_head %>
					<div class="b-title">
						<h3><%= @high_head %></h3>
						<h4></h4>
					</div>
				<% end %>
				<a class="banner"></a>
			</div></div>
			<div id="comming">
				<h2></h2>
				<dl class="rating"></dl>
				<a class="list-all">Entire list</a>
			</div>
		</div>
	</div>
	
	<div id="low-sponsors" class="b-more-cocktails">
		<div class="column"><div class="body-wrapper">
			<div class="b-title">
				<h3>Supported by</h3>
			</div>
			<div class="b-content"></div>
		</div></div>
	</div>
	
	<!--# include file="/inc/bottom-common.html" -->
</div>
<div id="promo-back" <%= @promo ? %Q{style="background-image:url(#{@imgdir}/promo-bg.png)"} : ''%>></div>
<div id="form-popup">
	<div id="overlay"></div>
	<div class="content">
		<p class="menu"><a class="button">X</a><a class="text">Close</a></p>
		<form action="/act/event-form.cgi" method="post" target="ajax">
			<div class="fields">
				<h2>I want to be there!</h2>
				<label>My city:<input type="text" name="city"/></label>
				<label>Name:<input type="text" name="first"/></label>
				<label>Surname:<input type="text" name="second"/></label>
				<label>E-mail:<input type="text" name="email"/></label>
				<div class="variable"></div>
				<p class="limit"><%= @form_hint %> <input type="submit" value="Register!"/></p>
				<input type="hidden" name="event"/>
				<input type="hidden" name="href"/>
			</div>
			<div class="thanks">Thank you!</div>
			<div class="holding">We are fully booked.</div>
		</form>
	</div>
</div>
<script type="text/javascript" src="/js/compiled/common.js"></script>
<script type="text/javascript" src="/js/event/event.js"></script>
<script type="text/javascript" src="/js/entities/Event.js"></script>
</body>
</html>
