<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html id="good-page" class="goods-page loading" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	<!--# include file="/inc/head.html" -->
	<link rel="stylesheet" type="text/css" href="/t/good.css" media="screen"/>
	<title><%= @name %> — Inshaker</title>
</head>
<body>
<!--# include file="/inc/top-common.html" -->
<div id="main-wrapper">	
	<div class="previews column"><div class="body-wrapper">
		<div class="b-title">
			<h2>Где купить коктейльные ингредиенты и штучки</h2>
		</div>
		<div class="b-content">
			<div class="goods-previews square-list">
				<div class="viewport">
					<ul class="surface">
						<!--# include virtual="/good/links.html" -->
					</ul>
				</div>
				<a class="prev"></a>
				<a class="next"></a>
			</div>
		</div>
	</div></div>
	
	<div class="promos column"><div class="body-wrapper">
		<div class="good-promos programica-rolling-images">
			<div class="viewport">
				<ul class="surface"></ul>
			</div>
			<a class="prev"></a>
			<a class="next"></a>
		</div>
		<% if @price %>
		<div id="price"><%= @price["phrase"] %> <span class="number"><%= @price["text"] %></span></div>
		<% end %>
		<div id="desc">
			<h1 class="name"><%= @name %></h1>
			<h2 class="full-name"><%= @name_full %></h2>
			<%= @desc %>
		</div>
		<div id="places">
			<% @places.each do |type| %>
				<dl class="type">
					<dt class="type-title"><%= type["name"] %></dt>
					<dd>
						<% type["places"].each do |place| %>
							<dl class="place">
								<dt class="title"><a href="<%= place["link"] %>"><%= place["name"] %></a></dt>
								<dd class="body">
									<span class="address"><%= place["address"] %></span>
									<span class="phone"><%= place["phone"] %></span>
									<span class="hours"><%= place["hours"] %></span>
								</dd>
							</dl>
						<% end %>
					</dd>
				</dl>
			<% end %>
		</div>
	</div></div>
</div>
</body>
<!--# include file="/inc/bottom-common.html" -->
<!--[if lte IE 7]><script type="text/javascript" src="/lib-0.3/core/fixes/trident3.js"></script><![endif]-->
<!--[if gte IE 8]><script type="text/javascript" src="/lib-0.3/core/fixes/trident4.js"></script><![endif]-->
<script type="text/javascript" src="/js/common/common-0.3.js"></script>
<script type="text/javascript" src="/js/entities/Good.js"></script>
<script type="text/javascript" src="/js/good/good.js"></script>
</html>