#top,
#top .logo,
#top .link { background-image: url(top.png); }

#top { border-bottom-color: #fff; background-color: #000; }
#top .link { color: #fff; }
#top .link:hover { border-bottom-color: #8dd013; }

/* common.css */
#spotlighted i,
.b-more-cocktails .prev,
.b-more-cocktails .next,
.cocktail-list .prev,
.cocktail-list .next,
button.rounded,
#share-box .button i { background-repeat: no-repeat; background-image: url(common.png); }
#common-footer .alcohol-harm { background-repeat: no-repeat; background-image: url(alcohol-harm.png); }
#branded-image { display: none; }
a { color: #0392f1; }
#common-footer { color: #788894; }
#common-footer a {}
html { background: #fff url(bg.png) repeat-x center top; }
html.branding-short { background: url(bg-short.png) repeat-x 0 65px #fff; }
button.rounded b { text-shadow: 1px 1px 0 #576d1d; }
button.strong b { text-shadow: 1px 1px 0 #8f2b47; }

/* calculator.css */
#b-bill dt,
#b-bill dd li button,
#b-bill .print-call i,
#cart_draghere i { background-repeat: no-repeat; background-image: url(common.png); }
#cart_draghere b { color: #7ca527; }

/* cocktails.css */
.square-list .prev,
.square-list .next { background-repeat: no-repeat; background-image: url(common.png); }
#search_tabs li,
#alphabetical-ru a.selected-button,
.ingreds-list,
.ingreds-list .rem,
.pager-big .prev,
.pager-big .next,
.b-content .pager .p-list a.selected-button,
#all_list i,
.b-search .groups dd.selected-button,
.b-title #spotlighted,
.search-control { background-repeat: no-repeat; background-image: url(cocktails.png); }
#spotlighted { display: none; }
#letters_all,
#alphabetical-ru a { color: #fff; }
#letters_all:hover,
#alphabetical-ru a:hover,
#alphabetical-ru a.selected-button { color: #ec118f; }
#search_tabs li { color: #fff; }
#search_tabs li.selected {}
#ingredients_list,
.ingreds-list a { color: #fff; }
.pager-big .prev,
.pager-big .next { width: 23px; height: 24px; }
.b-content .pager .p-list a { margin-right: 0px; padding: 1px 5px 2px; }
.b-content .pager .p-list a.two { padding: 1px 2px 2px; margin-right: 5px; }
.b-content .pager .p-list a.selected-button { color: #fff; }
#b-bill dd li b {}
.search-form input {}
.b-search .groups dd { color: #0392f1; }
.b-search .groups dd.selected-button { color: #fff; }
.b-search .groups dd.disabled { color: #999; }
.autocomplete { left: -1px; top: 22px; width: 579px; background-color: #fff; color: #000; border: solid #94ba0b; }
.autocomplete .item.selected { background-color: #cede97; }

/* cocktail.css */
.b-more dt,
.b-more dt b { background-color: #77a300; }
.b-more dt b { color: #fff; }
.hreview .desc h2 i { background-repeat: no-repeat; background-image: url(common.png); }

/* magazine.css */
#tags-list .item .icon { background-repeat: no-repeat; background-image: url(common.png); }

/* about.css */
#form_success i { background-repeat: no-repeat; background-image: url(common.png); }

/* bars.css */
.bar-mini a { background-image: url(bars-mask-full.png); }
#sort-menu .bars-select dt,
#sort-menu .bars-select dd ul li.selected,
#sort-menu .bars-select dd ul li:hover { color: #40aaf1; }
#map .point .icon,
#map .position-control,
#mobile-bar { background-image: url(bars-common.png); }
#map .point .title { color: #fff; }
#map .point .point-name { color: #ff4ea5; }
#map .point.selected .point-name { color: #ff2929; }

/* bar.css */
#main-column .info .block .head a {  }
