/* line 1, ../../../app/assets/stylesheets/partials/_map_widget.css.scss */
.inshaker-popup {
  min-width: 170px;
  padding: 10px;
  font-size: 13px;
  line-height: 17px;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  white-space: nowrap;
}
/* line 12, ../../../app/assets/stylesheets/partials/_map_widget.css.scss */
.inshaker-popup .title {
  color: #fb351b;
  font-size: 15px;
  margin: 0 0 0.5em;
  text-align: left;
}

/* line 19, ../../../app/assets/stylesheets/partials/_map_widget.css.scss */
.inshaker-controls {
  display: block;
  position: absolute;
  z-index: 10;
  left: 20px !important;
  top: 20px !important;
  width: 61px;
  height: 106px;
  background-position: 0 0;
  background-image: url(/t/branding/tasteit/bars-common.png);
}
/* line 34, ../../../app/assets/stylesheets/partials/_map_widget.css.scss */
.inshaker-controls .to-top,
.inshaker-controls .to-right,
.inshaker-controls .to-bottom,
.inshaker-controls .to-left,
.inshaker-controls .to-plus,
.inshaker-controls .to-minus {
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
/* line 35, ../../../app/assets/stylesheets/partials/_map_widget.css.scss */
.inshaker-controls .to-top {
  left: 23px;
  top: 8px;
}
/* line 36, ../../../app/assets/stylesheets/partials/_map_widget.css.scss */
.inshaker-controls .to-right {
  left: 32px;
  top: 26px;
}
/* line 37, ../../../app/assets/stylesheets/partials/_map_widget.css.scss */
.inshaker-controls .to-bottom {
  left: 23px;
  top: 44px;
}
/* line 38, ../../../app/assets/stylesheets/partials/_map_widget.css.scss */
.inshaker-controls .to-left {
  left: 14px;
  top: 26px;
}
/* line 39, ../../../app/assets/stylesheets/partials/_map_widget.css.scss */
.inshaker-controls .to-plus {
  left: 23px;
  top: 62px;
}
/* line 40, ../../../app/assets/stylesheets/partials/_map_widget.css.scss */
.inshaker-controls .to-minus {
  left: 23px;
  top: 80px;
}