/* skin.css */
@media screen {

#spotlighted i
{
  display: block;
  width: 53px; height: 40px; right: -6px; top: 16px;
  background: url(/skin/2013.11/spotlighted.png) 0 0;
}

#branded-image-holder
{
  height: 1320px; position: absolute; top: 154px; bottom: auto;
}
#branded-image
{
  display: block;
  width: 315px; height: 814px; right: 0; top: 23px;
  background: #fff url(/skin/2013.11/image.jpg) center no-repeat;
}

} /* @media screen */
