#main-column h1 { font-size: 21px; }

.border-links a { display: block; text-decoration: none; float: left; height: 1.64em; line-height: 1.5; padding: 1px 0; color: #fff; margin-right: 12px; }
.border-links a b { height: 1.64em; display: block; border: 0 solid transparent; border-width: 0 1px; position: relative; top: 1px; padding: 0 11px; margin: -1px; }
.border-links a.now, .border-links a.selected, .border-links a:hover { background: #0392f1; }
.border-links a.now b, .border-links a.selected b, .border-links a:hover b { border-color: #0392f1; }
.border-links a:hover { text-decoration:none}

.common-box .common-content { position: relative; }
.common-box .common-title { position: relative; }
.common-box .common-title .hrefs {position:absolute; right:0; bottom:15px; font-size:110%;}

.b-content .viewport { height: 450px; }
.b-content{min-height:46em;}
.b-content {width:590px;}
#poster {position:absolute;top:42px;}
.b-content .content ol {padding-left:18px;}
.b-content .content ol li {list-style-type:decimal; margin-bottom:3px;}
.b-content .content h3{font-size:18px;margin:1em 0;}
.view-stat {padding-bottom: 30px}
.view-stat .note {width: 300px; font-size: 12px; margin-left: 178px;}
.view-stat .stat{position:relative;width:580px;margin:0 auto;text-align:center;}
.view-stat .stat .viewport { width: 540px; overflow: hidden; margin-left: 20px;}
.view-stat .stat .surface { width: 520px; padding:0;}
.view-stat .stat .point { width: 510px; height: 560px; float: right;}
.view-stat .stat a { margin-top: 140px; z-index: 1;}
.view-stat .stat .prev,
.view-stat .stat .next{position:absolute;left:0;top:90px;}
.view-stat .stat .next{left:auto;right:0;}
.view-stat dl dt { font-size: 14px; padding-bottom: 4px; }
.view-stat ul { font-size: 12px;} 
.view-stat ul li { list-style: disc; margin: 0 20px; }

.common-content{min-height:505px;}
#body_wrapper{padding-bottom: 14px;}
#main-column { width: 628px; }
.b-content .top-menu{background: url(menu.png) repeat-x 0 0;position:relative;}
.b-content .top-menu img{position:absolute;bottom:0;left:0;}
.b-content .top-menu p{padding:10px 0 8px 9px;height:20px;overflow:hidden;margin-bottom:142px;font-size:110%;position:relative; z-index:2}
.b-content .top-menu p { margin-bottom: 0; padding-bottom: 10px; }
.b-content .top-menu .b:after { display: none; }
.b-content .content h3 { margin-top: 0; }
.b-content .content { padding-top: 158px; background: url(poster.jpg) center top no-repeat; }
.b-content .view-stat,
.b-content .view-team { padding-top: 20px; background: none; }

.b-content .view-team { font-size: 16px; line-height: 22px; }
.b-content .view-team .team {  }
.b-content .view-team .team .mate { display: inline-block; overflow: hidden; position: relative; width: 160px; height: 185px; background-repeat: no-repeat; margin: 11px 16px; border-radius: 10px; }
.b-content .view-team .team .mate .name { position: absolute; left: 0; right: 0; bottom: 0; height: 25px; text-align: center; letter-spacing: 1px; background-color: rgba(0,0,0,0.8); color: #fff; border-radius: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }
.b-content .view-team .team .mate.ed .name { letter-spacing: 0; }
.b-content .view-team .profession { font-size: 20px; font-weight: bold; letter-spacing: 1px; color: #ff0893; margin: 20px 0 0;  }

.b-content .view-about { font-size: 14px; line-height: 22px; }
.b-content .view-about .section { margin: 0 0 2em 0; }
.b-content .view-about h3 { margin: 0 0 0.3em 0; font-size: 20px; letter-spacing: 1px; line-height: 26px; }
.b-content .view-about h4 { margin: 0.75em 0 0.25em 0; font-size: 16px; }
.b-content .view-about h4:before { display: inline-block; content: '•'; margin: 0 0.4em 0 0; font-weight: bold; }
.b-content .view-about p { margin: 0 0 0.25em 0; }
.b-content .view-about ul { margin: 0 0 0 2em; }
.b-content .view-about ul li { list-style-type: disc; }

#b-cr-about { overflow: hidden; float: right; }
#b-cr-about h2 { font-size: 21px; }
#b-cr-about .common-content{height:505px;}
#b-cr-about form {font-size:11px;line-height:2;}
#b-cr-about p {display:block;}
#b-cr-about label {margin-top:1em;}
#b-cr-about button {margin:24px 0 10px;}
#b-cr-about textarea,
#b-cr-about input {display:block;border:1px solid #CCC;background:#fff;width:262px;}
#b-cr-about textarea{width:266px;}

#form_success{position:relative;color:#999999;height:35px;padding:0px 0pt 0pt 35px;width:140px;font-size:11px;margin-top:14px;}
#form_success i { position: absolute; top: 0px; left: 0px; width: 25px; height: 30px; background-position: -200px -25px; }


#partner-list { width: 590px; text-align: justify;}
#partner-list .partner-item {display:inline-block; width: 150px; margin: 35px 0 10px; text-align: center;}
#partner-list .spacer { display:inline-block; width: 500px; }
