html { background: #000 url(/t/404.jpg) no-repeat center 28px; overflow: hidden; }
body { color: #fff; font-family: Tahoma, sans-serif; width: 250px; margin: auto; padding: 395px 0 0 90px; }
a { color: #52baff; }
h1 { position: relative;  }
p { font-size: 1.2em; }
