#video-box { width: 639px; }

#video-blocks .item { height: 510px; position: relative; margin: 0 0 40px 0; border-bottom: 1px dashed #aaa; }
#video-blocks .item:last-child { height: 490px; margin-bottom: 0; border-bottom: none; }
#video-blocks .item .video { width: 600px; height: 338px; margin: 0 0 30px 0; position: relative; }
#video-blocks .item .video .player { width: 600px; height: 338px; border: none; }

.cocktail-list { position: relative; overflow: hidden; }

.cocktail-list .cocktail-preview { width: 120px; float: left; text-align: center; font-size: 12px;  }
.cocktail-list .cocktail-preview .image { display: block; margin: 0 auto 5px; width: 60px; height: 80px; }
