/* bar page */

#bar-page .b-title .hrefs a.hidden { cursor: default; color: #ccc; }
#bar-page .b-content { width: 100%; }
#bar-page .b-content .about .more { overflow: hidden; height: 1px; font-size: 13px; margin: 0 0 15px 0; }
#bar-page .b-content .about h2 { font-size: 18px; margin: 20px 0 5px 0; line-height: 18px; }
#bar-page .b-content .info .part { margin-left: 260px; }
#bar-page .b-content .info .part.feature,
#bar-page .b-content .info .part.people { width: 240px; float: left; margin-left: 0; clear: both; }
#bar-page .b-content .info dl { font-size: 12px; }
#bar-page .b-content .info dl dt,
#bar-page .b-content .info dl dd { display: inline; }
#bar-page .b-content .info dl dt { font-weight: bold; }
#bar-page .b-content .info dl dd { line-height: 18px; }
#bar-page .b-content .info dl dd a {  }

#bar-page .b-content .photos .viewport,
#bar-page .b-content .photos { overflow: hidden; position: relative; width: 590px; height: 242px; }
/*#bar-page .b-content .photos b { position: absolute; width: 1px; height: 1px; background: #fff; opacity: 0.75; }*/

#bar-page .b-content .photos .viewport .point { float: left; width: 590px; height: 100%; }
#bar-page .b-content .photos .viewport .surface { width: 20000px; padding: 0; margin: 0; }
#bar-page .b-content .photos .prev,
#bar-page .b-content .photos .next { position: absolute; top: 98px; z-index: 10; width: 60px; height: 60px; display: none; background: url(bar/photos-buttons.png); }
#bar-page .b-content .photos:hover .prev,
#bar-page .b-content .photos:hover .next { display: block; }
#bar-page .b-content .photos .prev { left: 0; background-position: -60px 0; }
#bar-page .b-content .photos .next { right: 0; background-position: 0 0; }
#bar-page .b-content .photos .prev.disabled { background-position: -60px -60px; cursor: default; }
#bar-page .b-content .photos .next.disabled { background-position: 0 -60px; cursor: default; }

#bar-page .hrefs li { display: inline; margin: 0 4px; vertical-align: middle; }
#bar-page .hrefs .prev, #bar-page .hrefs .next { font-size: 17px; text-decoration: none; }

#bar-page .column-main .body-wrapper,
#bar-page #sidebar .map .body-wrapper { background: url(bar/content-bg.png) left bottom repeat-x; border-bottom: 1px solid #fff; min-height: 520px; }
#bar-page #sidebar .parties { overflow: visible; }
#bar-page #sidebar .parties .column { width: 30.7em; }
#bar-page #sidebar .parties .viewport { width: 220px; margin: 0 0 0 9px; position: relative; top: 12px; }
#bar-page #sidebar .parties .viewport .point { width: 220px; display: block; }
#bar-page #sidebar .parties .viewport .point img { margin: 0 auto; }
#bar-page .b-more-rec dt,
#bar-page .b-more-rec dt b,
#bar-page .b-more-cocktails dt,
#bar-page .b-more-cocktails dt b { background: #000000 url(bg/body/black-more-title.png) repeat-x scroll 0px 0px; }

#bar-page #city-name, #bar-page #bar-id { display: none; }
#bar-page #map { width: 100%; height: 440px; position: relative; overflow: hidden; border: 1px solid #888; }
#bar-page #price-index { padding: 36px 0 0 89px; font-size: 35px;}




<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
#bar-page .b-content .photos .disabled { background-position-y: -60px; }
#bar-page .b-content .photos .prev { background-position-x: -60px; }
#bar-page .b-content .photos .next { display: block; }
#bar-page .b-content .photos .prev,
#bar-page .b-content .photos .next { display: block; }

#bar-page .column-main .body-wrapper,
#bar-page #sidebar .map .body-wrapper { height: 487px; }
<!--# endif -->
