.body-wrapper { overflow: hidden; }

.b-title .hrefs a.hidden { cursor: default; color: #ccc; }
.b-content { width: 100%; }
.b-content .about .more { overflow: hidden; height: 1px; font-size: 13px; margin: 0 0 15px 0; }
.b-content .about h2 { font-size: 18px; margin: 20px 0 5px 0; line-height: 18px; cursor: pointer; }
.b-content .about h2.empty { cursor: default; margin: 20px 0 20px; }
.b-content .info .part { margin-left: 260px; }
.b-content .info .part.feature,
.b-content .info .part.people { width: 240px; float: left; margin-left: 0; clear: both; }
.b-content .info dl { font-size: 12px; }
.b-content .info dl dt,
.b-content .info dl dd { display: inline; }
.b-content .info dl dt { font-weight: bold; }
.b-content .info dl dd { line-height: 18px; }
.b-content .info dl dd a {  }

.b-content .photos .viewport,
.b-content .photos { overflow: hidden; position: relative; width: 590px; height: 242px; }
/*#bar-page .b-content .photos b { position: absolute; width: 1px; height: 1px; background: #fff; opacity: 0.75; }*/

.b-content .photos .viewport .point { float: left; width: 590px; height: 100%; }
.b-content .photos .viewport .surface { width: 20000px; padding: 0; margin: 0; }
.b-content .photos .prev,
.b-content .photos .next { position: absolute; top: 98px; z-index: 10; width: 60px; height: 60px; display: none; background: url(bar/photos-buttons.png); }
.b-content .photos:hover .prev,
.b-content .photos:hover .next { display: block; }
.b-content .photos .prev { left: 0; background-position: -60px 0; }
.b-content .photos .next { right: 0; background-position: 0 0; }
.b-content .photos .prev.disabled { background-position: -60px -60px; cursor: default; }
.b-content .photos .next.disabled { background-position: 0 -60px; cursor: default; }

.hrefs li { display: inline; margin: 0 4px; vertical-align: middle; }

.b-more dl { height: 160px; }

.column-main .body-wrapper,
#sidebar .map .body-wrapper { background: url(bar/content-bg.png) left bottom repeat-x; border-bottom: 1px solid #fff; min-height: 530px; }
#carte.single .prev,
#carte.single .next { display: none; }
#carte.single .viewport { left: 16px; }
.b-more-cocktails .prev,
.b-more-cocktails .next { top: 68px; }
.b-more .b-more-cocktails { width: 628px; }
.b-more .b-more-cocktails .viewport { top: 30px; }
.b-more .b-more-cocktails .viewport,
.b-more .b-more-cocktails .point { width: 560px; }
.b-more .b-more-cocktails .cocktail-preview { width: 140px; }
.b-more-rec dt,
.b-more-rec dt b,
.b-more-cocktails dt,
.b-more-cocktails dt b { background: #000000 url(bg/body/black-more-title.png) repeat-x scroll 0px 0px; }
.whisky-index { overflow: visible; }
.whisky-index .column { width: 310px; }

#city-name, #bar-page #bar-id { display: none; }
#map { width: 100%; height: 480px; position: relative; overflow: hidden; border: 1px solid #888; }
#price-index { padding: 53px 0 0 89px; font-size: 35px; }

#map .bar-map-popup h2 { margin-bottom: 0.25em; }

#map .point { position: absolute; }
#map .point:hover { z-index: 5; }
#map .point .icon { position: absolute; left: -10px; top: -24px; width: 21px; height: 25px; background-position: -75px 0; cursor: pointer; }
#map .point .title { display: none; position: absolute; z-index: 10; left: -94px; top: 10px; min-width: 170px; padding: 10px; font-size: 13px; line-height: 17px; color: #fff; background: #000; background: rgba(0,0,0,0.85); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; white-space: nowrap; }
#map .point:hover .title { display: block; }
#map .point .point-name { display: block; font-size: 15px; margin: 0 0 0.5em; color: #f43f3f; }


.position-control { display: none; }
#map .position-control { display: block; position: absolute; right: 10px; bottom: 20px; width: 61px; height: 106px; background-position: 0 0; }
#map .position-control .to-top,
#map .position-control .to-right,
#map .position-control .to-bottom,
#map .position-control .to-left,
#map .position-control .to-plus,
#map .position-control .to-minus { position: absolute; width: 15px; height: 15px; cursor: pointer; }
#map .position-control .to-top { left: 23px; top: 8px; }
#map .position-control .to-right { left: 32px; top: 26px; }
#map .position-control .to-bottom { left: 23px; top: 44px; }
#map .position-control .to-left { left: 14px; top: 26px; }
#map .position-control .to-plus { left: 23px; top: 62px; }
#map .position-control .to-minus { left: 23px; top: 80px; }


<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
.b-content .photos .disabled { background-position-y: -60px; }
.b-content .photos .prev { background-position-x: -60px; }
.b-content .photos .next { display: block; }
.b-content .photos .prev,
.b-content .photos .next { display: block; background-image: url(bar/photos-buttons.8.png); }

#sidebar {margin-left:16px;}
.column-main .body-wrapper { height: 511px; }
<!--# endif -->
