/*bars page*/

html {overflow-y: scroll;}
.body-wrapper { overflow: hidden; }
.bar-mini {position:relative;float:left;width:290px;height:200px;overflow:hidden;margin:20px 25px 0 0;background:no-repeat 0 0;}
/*.bar-mini a {display:block;position:absolute;left:0;top:0;width:290px;height:50px;padding:158px 0 0 15px;background:url(bars/pre-mask-full.png) 0 0;line-height:40px;color:#fff;font-size:13px;}

.bar-mini .label { background: url(bars/labels.png) no-repeat top left; width: 53px; height: 56px; float: right; }
.bar-mini.new .label { background-position: 0px 0px; }
.bar-mini.future .label { background-position: -53px 0px; }*/

.bar-mini a {display:block;position:absolute;left:0;top:0;width:290px;height:50px;padding:158px 0 0 15px;background:url(bars/pre-mask-full.png) 0 0;line-height:40px;color:#fff;font-size:13px;}
.bar-mini.new a { background-position: 0px -200px; }
.bar-mini.new .label, .bar-mini.new:hover .bar-name {
	display: none;
}
.bar-mini.new:hover .label {
	display: block;
}


#head a { text-decoration: none; border-bottom: 2px dashed; }
#head a:hover { border-bottom: none; }
#head a.selected { border-bottom: none; color: inherit; cursor: default; }

#sort-menu { margin: 0; padding: 0 16px; height: 40px; width: 920px; background: url(bars/select-big-back.png) no-repeat; color: #fff; font-size: 18px; line-height: 36px; position: relative; z-index: 2; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
#sort-menu dl, #sort-menu dt { display: inline; }
#sort-menu dl,
#sort-menu dd { position: relative; }

#sort-menu .bars-select dt { cursor: pointer; }
#sort-menu .bars-select dt .caption { border-bottom: 1px dashed; color: #74c8ff; }
#sort-menu .bars-select.single dt { cursor: default; }
#sort-menu .bars-select.single dt .caption { border-bottom: none; color: inherit; }
#sort-menu .bars-select dd { display: none; position: absolute; top: 33px; /*left: 50%;*/ left: -14px; }
#sort-menu .bars-select dd ul { position: relative; /*left: -50%;*/ padding: 10px 15px; width: 260px; background: url(bars/select-dropdown.png) 0 bottom; color: #fff; }
#sort-menu .bars-select dd ul li { font-size: 14px; line-height: 20px; cursor: pointer; }
#sort-menu .bars-select dd ul li.selected { cursor: default; color: #74c8ff; }
#sort-menu .bars-select dd ul li:hover { color: #74c8ff; }
#sort-menu .bars-select.open dd { display: block; }
#sort-menu .bars-select.open dt { cursor: default; }

#sort-menu #bars-city.bars-select dd { left: -7px; }


#more-info { text-decoration: none; border-bottom: 1px #FFF dashed; }
#more-info:hover { border-bottom: none }
#bars-container { overflow: hidden; clear: both; }

#map { position: relative; height: 500px; clear: both; margin: 20px 25px 0 0; background: #eee; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; overflow: hidden; }
#map .loading { position: absolute; top: 40%; left: 0; padding: 40px 0 0 0; width: 100%; background: url(loader-black.gif) no-repeat center 0; text-align: center; font-size: 25px; }

#main-wrapper .column { width: 958px; /*two pixels for borders*/ }
.body-wrapper { width: 920px; position: relative; }
#bars-list { width: 945px; }

.bar-map-popup img {width:100px;float:right;}
.bar-map-popup h2 {font-weight:bold;}
.bar-map-popup p {display:block;margin:5px 5px 5px 0;}

<!--# include file="/t/popup.css" -->
<!--# include file="/t/info-popup.css" -->

.hidden { display: none !important; }

#guide-info-popup .enrollment {font-size:20px; font-style:italic; color:#F22B9F; background:transparent url(bg/body/hr-repeat.png) repeat-x scroll 0 0; clear:both; padding:14px 0 3px 0;}

<!--# if expr="$HTTP_USER_AGENT = /Opera\/9\.2/" -->
#sort-menu dl,
#sort-menu dd { position: static; }

#sort-menu #bars-format.bars-select dd { left: 50px; }
#sort-menu #bars-feel.bars-select dd { left: 370px; }
<!--# endif -->

<!--# if expr="$HTTP_USER_AGENT = /MSIE [67]/" -->
#sort-menu { scrollbar-highlight-color:expression((runtimeStyle.scrollbarHighlightColor="transparent"),(onselectstart=function(){return false})) }
<!--# endif -->

<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
.bar-mini a {filter:expression((runtimeStyle.backgroundImage!='none')?runtimeStyle.filter='progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+',sizingMethod=crop)':runtimeStyle.filter,runtimeStyle.backgroundImage='none');}

#sort-menu .bars-select dd ul { background: #000; }
#switch-view a.selected { color: #333; }
<!--# endif -->




