/* in cocktail */
.b-more {padding-top:20px;overflow:hidden;width:100%;clear:both;padding-bottom:1px;}
.b-more .b-more-cocktails { width:398px;}
.b-more .common-box { float: left; }
.b-more dl{height:163px;font-size:120%;height:11.24em;}
.b-more dt{margin:-5px -10px 0;padding:0 1px;height:29px;}
.b-more dt b{padding:0 10px;position:relative;top:-1px;line-height:30px;font-size:13px;font-weight:normal;display:block;height:31px;}
.b-more dd{line-height:1.17;position:relative;}
.b-more-cocktails .viewport{overflow:hidden;position:relative;left:16px;top:2px;height:120px; width:330px;}
.b-more-cocktails .surface{width:20000px;}
.b-more-cocktails .point{height:100px;width:330px;float:left;}
.b-more-cocktails ul{padding-top:5px;}
.b-more-cocktails li{width:8em;text-align:center;float:left;width:110px;}
.b-more-cocktails img{display:block;margin:0 auto 5px;}
.b-more-cocktails .prev,
.b-more-cocktails .next{position:absolute;top:54px;height:14px;width:14px;z-index:2;}
.b-more-cocktails .prev{background-position:-500px 0;left:0px;}
.b-more-cocktails .next{background-position:-525px 0;right:-2px;}
.b-more-cocktails .prev.disabled{background-position:-500px -25px;cursor:default;}
.b-more-cocktails .next.disabled{background-position:-525px -25px;cursor:default;}
.cocktail-list .prev,
.cocktail-list .next{position:absolute;top:54px;height:14px;width:14px;z-index:2;}
.cocktail-list .prev{background-position:-500px 0;left:0px;}
.cocktail-list .next{background-position:-525px 0;right:-2px;}
.cocktail-list .prev.disabled{background-position:-500px -25px;cursor:default;}
.cocktail-list .next.disabled{background-position:-525px -25px;cursor:default;}
.b-more .b-more-rec .point{width:130px; display:block}
.b-more .b-more-rec {width:208px;margin-right:19px;}
.b-more .b-more-rec .viewport{width:130px;left:21px;}
.b-more .b-more-rec li{width:130px;}

/* yellow inputs */
.win-shop .b-gadget .count input,
.win-shop .content dd input
{border:1px solid;text-align:center;height:15px;font-size:1em;line-height:1;padding:3px 0 0 0;border-color:#d7d7d7 #fff #fff #d7d7d7;background:#f1f7b6;margin:0;width:35px;}

/* popups-related */
.win-shop{position:fixed;z-index:50;top:0;left:0;width:100%;height:100%;}
.opacity,.win-shop .opacity {background:#000;opacity:0.75;position:absolute;left:0;top:0;bottom:0;right:0;z-index:4;}
.win-shop .win{background:url(bg/win/win.png) no-repeat 0 100%;margin:0 auto;top:72px;position:relative;width:620px;padding:0 19px 19px;z-index:5;}
.win-shop .win-bg{background:url(bg/win/win.png) no-repeat 0 0;position:absolute;top:-20px;width:658px;height:20px;left:0;}
.win-shop .gadget-wrapper{position:relative;}
.win-shop .main{background:#c0c0c0;position:relative;}
.win-shop .main .wrapper{background:#fff;}
.win-shop .main .wrapper{position:relative;overflow:hidden; border: 1px #c0c0c0 solid;}
.win-shop .main .wrapper2{position:relative;}
.win-shop .close{background:url(icon/close.png) no-repeat 0 -10px;position:absolute;height:14px;width:14px;top:11px;right:10px;text-indent:-1000em;}
.win-shop h3{background:url(bg/body/green-more-title.png) repeat-x 0 -19px;padding:34px 0 0 290px;font-weight:bold;font-size:180%;}
.win-shop .main .zoom{display:block;overflow:hidden;width:280px;text-align:center;margin:0 auto 37px;text-decoration:none;}
.win-shop .main .zoom img{display:block;margin:10px auto 13px;}
.win-shop .main .zoom span{text-decoration:underline;}
.win-shop .main .gallery{float:left;width:290px;margin-top:-20px;}
.win-shop .main .gallery ul{margin-bottom:35px;}
.win-shop .content{font-size:120%;float:left;width:328px;}
.win-shop .content small{font-size:92%;}
.win-shop .content .alert{color:#eb1c57;}
.win-shop .content .composition{list-style:disc inside;margin:23px 0 0 11px;min-height:4.5em;line-height:1.5;}
.win-shop .content .desc{clear:both;padding:8px 28px 21px 0;}
.win-shop .content .more,
.win-shop .content .less{position:relative;background-color:#f7f7f7;width:160px;height:47px;padding:12px 30px 0 56px;}
.win-shop .content .more dl *,
.win-shop .content .less dl *{background:#f7f7f7;}
.win-shop .content .more i,
.win-shop .content .less i { width: 25px; height: 30px; position: absolute; left: 21px; top: 16px; }
.win-shop .content .more i { background-position: -200px -25px; }
.win-shop .content .less i { background-position: -225px -25px; }
.win-shop .content form{padding:20px 0 12px 0;}
.win-shop .content form dl{margin:0 52px 6px 0}
.win-shop .content form strong{font-weight:normal;padding-right:12px;}
.win-shop .content form a{margin-left:4px;}
.win-shop .content form dl dt { position: relative; padding-left: 14px; }
.win-shop .content form dl dt i { position: absolute; width: 14px; height: 11px; left: 0; top: 2px; background-position: -225px 0px; }
.win-shop .content form dl.empty dt i { display: none; }

.win-shop .content .sum{overflow:hidden;text-align:right;height:66px;}
.win-shop .content .sum p{float:left;text-align:left;}
.win-shop .content .sum p small{display:block;padding-top:4px;}
.win-shop .content .sum button{margin:6px 50px 0 0;}
.win-shop .content .sum p i{font-family:Georgia,serif;font-size:24px;line-height:31px;font-style:normal;}

.win-shop .b-gadget .cost{font-size:117%;line-height:5;display:block;}
.win-shop .b-gadget .count{display:block;margin-bottom:6px;}
.win-shop .b-gadget .count input{margin-left:6px;}
.win-shop .b-gadget .tags{font-size:82%;color:#343b40;padding-bottom:40px;}
.win-shop .b-gadget small{display:block;}
.win-shop .b-gadget button{display:block;margin:13px 0 21px 0;}
.win-shop .b-gadget .gallery{padding-top:0;}






.hidden { display: none !important; }
.popup .hidden { display: block !important; visibility: hidden; position: absolute; top: -20000px !important; }

.column-main { width: 628px; }

.common-title { width: 100%; position: relative; }
.common-title h1 { position: relative; }
.common-title .hrefs { position: absolute; right: 0; bottom: 15px; font-size: 110%; }
.common-title h1,
.common-title .hrefs { z-index: 10; }

.b-content { position: relative; }
.b-content .viewport{height:560px;overflow:hidden;position:relative;}
.b-content .surface{padding:500px;width:10000px;}

#author,
#where-to-taste { display: none; position: relative; z-index: 5;  }

a.author { text-decoration: none; color: inherit; cursor: default; }
a.author.active { border-bottom: 1px dashed; cursor: pointer; }

.common-box .common-content { overflow: hidden; position: relative; z-index: 1; }

#top-menu { position: relative; width: 590px; height: 182px; background: url(cocktail/menu.png) repeat-x 0 0; }
#top-menu .poster { width: 590px; height: 210px; position: absolute; top: -28px; }
#top-menu .border-links { position: relative; height: 19px; padding: 11px 0 8px 9px; font-size: 110%; }
#top-menu .border-links a { display: block; text-decoration: none; float: left; height: 1.64em; line-height: 1.5; padding: 1px 0; color: #fff; margin-right: 12px; }
#top-menu .border-links a b { height: 1.64em; display: block; border: 0 solid transparent; border-width: 0 1px; position: relative; top: 1px; padding: 0 11px; margin: -1px; }
#top-menu .border-links a.now,
#top-menu .border-links a.selected,
#top-menu .border-links a:hover { background: #0392f1; }
#top-menu .border-links a.now b,
#top-menu .border-links a.selected b,
#top-menu .border-links a:hover b { border-color: #0392f1; }
#top-menu .border-links a:hover { text-decoration:none}

.hreview .content { position: relative; min-height: 190px; margin-bottom: 25px; }

#cocktail-image { position: absolute; left: -2px; bottom: -33px; z-index: 1; }


#main-content,
#view-legend,
#view-recipe,
#top-menu .poster,
#cocktail-image { display: none; }

.hreview.state-initial #main-content,
.hreview.state-initial #cocktail-image,
.hreview.state-initial #top-menu .poster { display: block; }

.hreview.state-recipe #view-recipe,
.hreview.state-recipe #cocktail-image { display: block; }

.hreview.state-legend #view-legend,
.hreview.state-legend #top-menu .poster { display: block; }

#show-legend { cursor: pointer; }

#main-content { padding: 20px 0 0 220px; }
#main-content .description { font-size: 120%; line-height: 1.25; }
#main-content .description .summary { position: relative; font-size: 14px; font-weight: bold; padding: 0 0 12px 16px; }
#main-content .description .summary i { position: absolute; left: -5px; top: 4px; width: 16px; height: 10px; background-position: -420px -25px; }
#main-content .description .short-legend { padding-left: 16px; }
#main-content .tags { font-size: 110%; padding: 29px 0 50px 0; }
#main-content .buttons { position: absolute; bottom: 0; }
#main-content .buttons button { margin-right: 16px; }
#main-content .buttons button .the-name { display: none; }


#view-legend { font-size: 120%; line-height: 1.5; padding: 13px 10px 0 10px; overflow: hidden; }
#view-legend h3 { font-size: 150%; margin-bottom: 10px; }
#view-legend button{display:block;margin:2em auto;}

#view-recipe { }
#view-recipe .ingredients{ background-color: #f4f8f9; height: 140px; width: 590px; position: absolute; top: -140px; }
#view-recipe .ingredients .viewport{position:absolute;bottom:0;left:170px;width:360px;height:120px;}
#view-recipe .ingredients .surface{width:5000px;height:120px;padding:0}
#view-recipe .ingredients .surface .image { float: left; width: 100px; height: 100px; margin-left: 20px; cursor: pointer; background-color: #eee; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

#view-recipe .ingredients .point{width:360px;height:120px;float:left;}
#view-recipe .next,
#view-recipe .prev{z-index:3;position:absolute;left:auto;right:19px;}
#view-recipe .prev{top:72px;}
#view-recipe .next{top:48px;}

#view-recipe .recipe,
#view-recipe .controls { margin-left: 200px; }
#view-recipe .recipe { font-size:120%; }
#view-recipe .recipe ul { line-height: 1.5; margin-left: 1.5em; }
#view-recipe .recipe ul li { list-style: decimal; }
#view-recipe .recipe dt { font-size:150%;padding:17px 0 11px 0; }
#view-recipe .controls { margin-top: 30px; }
#view-recipe .controls li { display: inline; }


.what-need{overflow:hidden;font-size:120%;padding-top:27px;margin-bottom:27px;}
.what-need dl{float:left;width:23em;margin-bottom:-1px;}
.what-need .tools{float:right;}
.what-need dt{border-bottom:3px solid #5c5c5c;font-weight:bold;margin-bottom:10px;padding-bottom:6px;}
.what-need dd{color:#343b40;line-height:2.3;background:url(bg/body/hr-repeat.png) repeat-x 0 100%;height:2.5em;}
.what-need dd:last-child{background:none;}
.what-need dd a{float:left;padding-right:5px;}
.what-need strong{font-weight:normal;display:block;float:right;width:25%;}

#recommendations .point { line-height: 112px; text-align: center; }
#recommendations .point img { display: inline; vertical-align: middle; }

.drag-cursor{cursor:url(/t/grabbing.cur),-moz-grabbing;}
.dragging-object{position:absolute;z-index:10;}
#cocktail-image.dragging-object { display: block; }


<!--# include virtual="popup.css" -->
<!--# include virtual="ingredient-popup.css" -->

.client-storage, .storage-helper { visibility: hidden; width: 1px; height: 1px; position: absolute; top: -100px; }

#share { border-top: 1px solid #ddd; margin: 0 -18px -18px -18px; padding: 18px 18px; background-color: #fff; }
#share .frame { display: block; width: 100%; height: 22px; overflow: hidden; border: none; opacity: 0.5; }
#share:hover .frame { opacity: 1; }

<!--# if expr="$HTTP_USER_AGENT = /MSIE [67]\./" -->
#view-recipe .ingredients .surface .image { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/t/ingredient/preview-mask.png",sizingMethod="crop"); }
<!--# endif -->

<!--# if expr="$HTTP_USER_AGENT = /MSIE [678]\./" -->
.hreview .menu p a{zoom:1;padding-top:1px;padding-bottom:1px;position:relative;}
.hreview .menu p a b{position:relative;border:0;display:inline;top:1px;zoom:1;left:-1px;}
.hreview .menu p a.now b,
.hreview .menu p a:hover b{background:#0392f1;}
<!--# endif -->


<!--# if expr="$HTTP_USER_AGENT = /MSIE 6\./" -->
.hreview,
.hreview .menu p a,
.hreview .menu p {zoom:1}

.b-content{width:590px;}

#view-legend button{bottom:-50px;}

#view-recipe .ingredients .surface .image { margin-left: 15px; }
<!--# endif -->

<!--# if expr="$HTTP_USER_AGENT = /MSIE 8\./" -->
#view-recipe .ingredients .surface .image:before { display: block; height: 100px; width: 100px; content: ''; background: url(ingredient/preview-mask.png); }
<!--# endif -->

<!--# if expr="$HTTP_USER_AGENT = /Firefox\/2\.0/" -->
#view-recipe .ingredients .surface .image:before { display: block; height: 100px; width: 100px; content: ''; background: url(ingredient/preview-mask.png); }
#view-recipe .ingredients .surface .image { -moz-border-radius: 0; }
<!--# endif -->

<!--# if expr="$HTTP_USER_AGENT = /Opera\/9\.[256]/" -->
#view-recipe .ingredients .surface .image:before { display: block; height: 100px; width: 100px; content: ''; background: url(ingredient/preview-mask.png); }
<!--# endif -->

<!--# if expr="$HTTP_USER_AGENT = /Opera\/9\.8.*Version\/10\.[01]/" -->
#view-recipe .ingredients .surface .image:before { display: block; height: 100px; width: 100px; content: ''; background: url(ingredient/preview-mask.png); }
<!--# endif -->
