html { overflow-y: scroll;  }
.hidden { display: none; }

.b-title { height: 35px; }
.b-title h1 { font-size: 24px; }
.b-content { width: 100%; }
.body-wrapper { z-index: 2; }

#search-box { position: absolute; z-index: 100; top: 3px; left: 165px; }
#search-box .ingredient { padding: 2px; color: inherit; width: 555px; }
#search-box .ingredient,
#search-box .search { font-size: 20px; vertical-align: middle; }

#search-box .autocomplete { display: none; width: 559px; background: #fff; border: solid #bbb; }
#search-box .autocomplete.focused { display: block; }
#search-box .autocomplete .empty-message { display: none; }
#search-box .autocomplete.empty .empty-message { display: block; }
#search-box .autocomplete { position: absolute; top: 25px; left: 1px; opacity: 0.95; border-width: 0px 1px 1px 1px; font-size: 20px; }
#search-box .autocomplete .item { padding: 2px 0 4px 5px; cursor: pointer; }
#search-box .autocomplete .item.selected { background-color: #d2d2d2; }
#search-box .autocomplete .item .substr { font-weight: bold; }

#output .initial-block,
#output .result-block,
#output .empty-block { display: none; }

#output.initial-state .initial-block { display: block; }
#output.result-state .result-block { display: block; }
#output.empty-state .empty-block { display: block; }

#output .result-block .head { font-size: 14px; }
#output .result-block .head .total-cocktails .count { font-style: normal; font-weight: bold; }

.dropdown-select { z-index: 1; }
.dropdown-select,
.dropdown-select .button { display: inline; position: relative; }

.dropdown-select .button { position: relative; z-index: 1; cursor: pointer; border-bottom: 1px dashed; }
.dropdown-select.single .button { cursor: default; color: inherit; }
.dropdown-select .body { display: none; position: absolute; left: -17px; top: -9px; }
.dropdown-select .body .options { position: relative; padding: 25px 15px 10px; background-color: #fff; border: 2px solid #ccc; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.dropdown-select .body .options .option { font-size: 14px; line-height: 20px; cursor: pointer; white-space: nowrap; }
.dropdown-select .body .options .option.selected { display: none; }
.dropdown-select .body .options .option:hover {}
.dropdown-select.open .body { display: block; }
.dropdown-select.open .button { cursor: default; }




.ingrediented-cocktail-list .row { margin: 50px 0 0 0; position: relative; }
.ingrediented-cocktail-list .row.lazy { background: #f4f4f4; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; }
.ingrediented-cocktail-list .row.lines-0 { height: 155px; }
.ingrediented-cocktail-list .row.lines-1 { height: 155px; }
.ingrediented-cocktail-list .row.lines-2 { height: 310px; }
.ingrediented-cocktail-list .row.lines-3 { height: 465px; }
.ingrediented-cocktail-list .row.lines-4 { height: 620px; }
.ingrediented-cocktail-list .row.lines-5 { height: 775px; }

.ingrediented-cocktail-list .row .operator { float: left; vertical-align: middle; line-height: 98px; font-size: 34px; color: #aaa; }

.ingrediented-cocktail-list .row .head { width: 200px; position: absolute; }
.ingrediented-cocktail-list .row .head .operator { margin: 0; }

.ingrediented-cocktail-list .row .body { overflow: hidden; width: 800px; left: 150px; position: relative; }
.ingrediented-cocktail-list .row .body .operator { color: #ccc; }



.cocktail-preview { float: left; margin-top: -55px;  width: 112px; text-align: center; font-size: 12px; }
.cocktail-preview .image { display: block; margin: 0 auto -10px; width: 91px; height: 170px; }
.cocktail-preview.lazy .image { background-color: #f4f4f4; }

.ingredient-preview { display: block; float: left; margin: 0 15px 55px 15px; }
.ingredient-preview,
.ingredient-preview .image { width: 100px; height: 100px; }
.ingredient-preview .image { display: block; color: #eee; background-color: #eee; -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px; }
.ingredient-preview .name { display: block; margin: 5px 0 0 0; text-align: center; font-size: 12px;}
