.b-title { height: 35px; }
.b-title h1 { font-size: 24px; }
.b-content { width: 100%; }

#search-box { position: absolute; top: 3px; left: 165px; }
#search-box .ingredient { font-size: 20px; padding: 2px; color: inherit; width: 555px; }


#output .row { margin: 50px 0 0 0; position: relative; }
#output .row:hover { background: red; }
#output .row.lines-1 { height: 155px; }
#output .row.lines-2 { height: 310px; }
#output .row.lines-3 { height: 465px; }
#output .row.lines-4 { height: 620px; }
#output .row.lines-5 { height: 775px; }

#output .row .operator { float: left; vertical-align: middle; line-height: 98px; font-size: 34px; color: #aaa; }

#output .row .head { width: 200px; position: absolute; }
#output .row .head .operator { margin: 0; }

#output .row .body { overflow: hidden; width: 800px; left: 150px; position: relative; }
#output .row .body .operator { color: #ccc; }



.cocktail-preview { float: left; margin-top: -55px;  width: 112px; text-align: center; font-size: 12px; }
.cocktail-preview .image { display: block; margin: 0 auto -10px; height: 170px; }
.cocktail-preview.lazy .image { background-color: #f4f4f4; }

.ingredient-preview { display: block; float: left; margin: 0 15px 55px 15px; }
.ingredient-preview,
.ingredient-preview .image { width: 100px; height: 100px; }
.ingredient-preview .image { display: block; color: #eee; background-color: #eee; -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px; }
.ingredient-preview .name { display: block; margin: 5px 0 0 0; text-align: center; font-size: 12px;}



.ingrediented-cocktail-list {  }