/* Authors: Kornilov Pavel, Vasily Mikhailitchenko, Peter Leonov */

body,table,
h1,h2,h3,h4,
p,form,
fieldset,legend,
ol,ul,li,dl,dt,dd{margin:0;padding:0;border:0;font-weight:normal;list-style:none;}
h2,h3,h4,h5,h6{font-weight:normal;font-size:16px;}
td{font-size:1em;vertical-align:top;}
a{color :#0392f1;cursor :pointer;
text-decoration:none;}
a:hover{text-decoration:underline;}
img{vertical-align:middle;}
a img{border:0;}
input,select,textarea,button{font-family:Tahoma,Arial,sans-serif;}
input,select,textarea{font-size:1.1em;}
input[type="password"],
input[type="text"]{height:20px;margin-left:0;padding:4px 0 0 4px;line-height:24px;}
ul{list-style-type:none;}
table{border:0;border-collapse:collapse;}
table td{padding:0;}
.to-print{display:none;}

html{background:#fff url(/t/alchogol-sucks.png) no-repeat center 98.5%;}
body{font:62.5% Tahoma,Arial,sans-serif;color:#343b40;position:relative;min-height:100%;padding:0 0 90px 0;}

/* Image buttons */
/*button{background:url(button/green-buttons.png) no-repeat 0 0;width:10px;height:20px;margin:0;padding:0;border:0;overflow:hidden;text-indent:-100em;}*/

form button{vertical-align:top;}
form input{vertical-align:middle;}
form p{display:inline;}
form .b p{display:block;padding:0;}
label{display:block;}



/* dotted */
.dots dl{background:url(bg/cocktail/dots.png) repeat-x 0 1em;clear:both;overflow:hidden;line-height:1.45;font-size:92%;}
.dots dt{float:left;background:#fff;padding-right:3px;}
.dots dd{float:right;background:#fff;padding-left:3px;}
/* yellow inputs */
.win-shop .b-gadget .count input,
.win-shop .content dd input,
#b-bill dd input,
.b-search form input{border:1px solid;text-align:center;height:15px;font-size:1em;line-height:1;padding:3px 0 0 0;border-color:#d7d7d7 #fff #fff #d7d7d7;background:#f1f7b6;margin:0;width:35px;}
/* small imgs */
.gallery-nav ul{margin:0 auto;display:table;font-size:110%;line-height:2.5;}
.gallery-nav li{text-align:center;float:left;margin:0 10px;}
.gallery-nav li a{border:1px solid #73787b;display:block;width:38px;height:38px;overflow:hidden;}
.gallery-nav li a:hover{border:3px solid #0392f1;width:34px;height:34px;}
.gallery-nav li a:hover img{margin:-2px 0 0 -2px;}
.gallery-nav li img{display:block;}
#preloader{position:absolute;top:0;left:0;bottom:0;right:0;background:#fff url(/t/loader-black.gif) no-repeat center 200px;opacity:0.85;z-index:65535;text-align:center;padding:250px 0 0 0;color:#555;font-size:20px;}

.b:before, .b:after { display: block; height: 1px; content: ''; border: 0 solid #fff; border-width: 0 1px; }
.popup .b:before, .popup .b:after { border-color: #020202 }
.column:before, .column:after { display: block; height: 1px; content: ''; border-top: 1px solid #c0c0c0; margin-top: -1px; }
.column:after { margin: 0 0 -2px 0; }

.border { border-color: #c0c0c0; border-style: solid; border-width: 0 1px; height: 100%; margin-top: 1px; }
.bor-wr { border-color: #c0c0c0; height: 100%; border-style: solid; margin: 0; position: relative; top: -1px; border-width: 1px 0; }
/*.border>div*/ .border-links a { display: block; text-decoration: none; float: left; height: 1.64em; line-height: 1.5; padding: 1px 0; color: #fff; margin-right: 12px; }
.border-links a b { height: 1.64em; display: block; border: 0 solid transparent; border-width: 0 1px; position: relative; top: 1px; padding: 0 11px; margin: -1px; }
.border-links a.now, .border-links a.selected, .border-links a:hover { background: #0392f1; }
.border-links a.now b, .border-links a.selected b, .border-links a:hover b { border-color: #0392f1; }
.border-links a:hover { text-decoration:none}


b.lt { left: 0; top: 0; }
b.rt { right: 0; top: 0; }
b.lb { left: 0; bottom: 0; }
b.rb { right: 0; bottom: 0; }


#top{position:relative;height:65px;width:100%;font-size:12px;margin:0 auto 40px; background: #000000 url(bg/body/index.png) repeat-x scroll 0 0;}
#top #top-content {margin: 0 auto; width: 960px;}
#top h2,
#top h1{float:left; position:relative; left:-9px; bottom: -3px;}
#top .nav{background:#000 url(bg/body/index.png) repeat-x 0 0;overflow:hidden;margin-left:190px;font-weight:bold;}
#top .nav li{float:left;margin-right:16px;}
#top .nav a{display:block;display:inline-block;height:49px;font-size:14px;text-decoration:none;color:#fff;line-height:48px;padding:8px 18px;}
#top .nav a.now{background:url(bg/nav/top.png) repeat-x 0 19px !important;cursor:default;}
#top .nav a:hover{background:url(bg/nav/top.png) repeat-x 0 bottom;}
#top .nav img{}
#top .nav2{display:none;position:absolute;right:0;top:84px;line-height:24px;/*index-page*/}
#top .logo { width: 147px; height: 60px; background: url(ui.png) no-repeat -250px 0; display: block; text-indent: 200px; overflow: hidden; }

#bottom{font-size:1.1em;line-height:1.7;overflow:hidden;color:#788894;clear:both;padding-top:40px;}
#bottom .main-menu{float:right;}
.drag-cursor{cursor:url(/t/grabbing.cur),-moz-grabbing;}


/* in almost all */
#main-wrapper{margin:0 auto;width:960px; position:relative;}
.column{border:0 solid #c0c0c0;border-width:0 1px;background:#fff;float:left;width:100%;}
.column-main{width:628px;}

.column-main-container{width:630px;float:left;}
.body-wrapper{border:0 solid #fff;border-width:0 1px;background:#fff url(bg/body/body-wrapper.png) repeat-x 0 0;padding:14px 18px;}
.b-title{background:url(bg/body/hr-repeat.png) repeat-x 0 100%;margin-bottom:9px;padding-bottom:11px;position:relative;}

.b-title h1,
.b-title h2{font-size:20px;margin-left:-1px;}
.b-title #spotlighted { display: none; position:absolute;right:0;bottom:15px;font-size:110%; width:21px; height: 21px; background:transparent url(/t/icon/spotlighted.png) no-repeat;}
.b-title #photographer {display:none; position:absolute;right:0;bottom:6px;width:40px; height: 33px; background:transparent url(/t/icon/camera.png) no-repeat;}
.b-title .hrefs {position:absolute; right:0; bottom:15px; font-size:110%;}



/* in cocktail and about */
.b-content .top-menu{background:#000 url(bg/cocktail/bgs.png) repeat-x 0 0;position:relative;}
.b-content .top-menu img{position:absolute;bottom:0;left:0;}
.b-content .top-menu p{padding:10px 0 8px 9px;height:20px;overflow:hidden;margin-bottom:142px;font-size:110%;position:relative; z-index:2}
.popup{font-size:120%;line-height:1.67;display:none;position:absolute;top:-140px;padding:80px 0 60px 0;min-height:100%;color:#fff;margin-bottom:-102px;left:0;width:100%;background:#000;background:rgba(0,0,0,.9);}
.popup h3{font-size:150%;font-weight:bold;margin:-52px 20px -1px;}
.popup p{padding:20px 40px 0 20px;}
.popup a{color:#00c0ff;}
.popup .close{border-color:#020202 !important;position:absolute;background-color:#515152;color:#fff;text-decoration:none;text-align:center;left:50%;margin-left:-4.45em;bottom:20px;display:block;font-size:92%;width:8.91em}

/* in cocktail, bar and event */
.b-more {padding-top:20px;overflow:hidden;width:100%;clear:both;padding-bottom:1px;}
.b-more .b-more-cocktails { width:398px;}
.b-more .column{position:relative;}
.b-more dl{height:163px;font-size:120%;height:11.24em;background:#fff url(bg/body/green-more-title.png) repeat-x 0 -19px;}
.b-more dt{background:#77a300 url(bg/body/green-more-title.png) repeat-x 0 18px;margin:-5px -10px 0;padding:0 1px;height:29px;}
.b-more dt b{background:#77a300 url(bg/body/green-more-title.png) repeat-x 0 19px;color:#fff;padding:0 10px;position:relative;top:-1px;line-height:28px;font-weight:normal;display:block;height:31px;}
.b-more dd{line-height:1.17;position:relative;}
.b-more-cocktails .viewport{overflow:hidden;position:relative;left:16px;top:2px;height:120px; width:330px;}
.b-more-cocktails .surface{width:20000px;}
.b-more-cocktails .point{height:100px;width:330px;float:left;}
.b-more-cocktails ul{padding-top:5px;}
.b-more-cocktails li{width:8em;text-align:center;float:left;width:110px;}
.b-more-cocktails img{display:block;margin:0 auto 5px;}
.b-more-cocktails .prev,
.b-more-cocktails .next{background:url(ui.png) no-repeat;position:absolute;top:54px;height:14px;width:14px;z-index:2;}
.b-more-cocktails .prev{background-position:-500px 0;left:0px;}
.b-more-cocktails .next{background-position:-525px 0;right:-2px;}
.b-more-cocktails .prev.disabled{background-position:-500px -25px;cursor:default;}
.b-more-cocktails .next.disabled{background-position:-525px -25px;cursor:default;}
.b-more .b-more-rec .point{width:130px; display:block}
.b-more .b-more-rec {width:208px;margin-right:20px;}
.b-more .b-more-rec .viewport{width:130px;left:21px;}
.b-more .b-more-rec li{width:130px;}


/* popups-related */
.win-shop{display:none;}
.win-shop{position:fixed;top:0;left:0;width:100%;height:100%;}
.opacity,.win-shop .opacity {background:#000;opacity:0.75;position:absolute;left:0;top:0;bottom:0;right:0;z-index:4;}
.win-shop .win{background:url(bg/win/win.png) no-repeat 0 100%;margin:0 auto;top:72px;position:relative;width:620px;padding:0 19px 19px;z-index:5;}
.win-shop .win-bg{background:url(bg/win/win.png) no-repeat 0 0;position:absolute;top:-20px;width:658px;height:20px;left:0;}
.win-shop .gadget-wrapper{position:relative;}
.win-shop .main{background:#c0c0c0;position:relative;}
.win-shop .main .wrapper{background:#fff;}
.win-shop .main .wrapper{position:relative;overflow:hidden; border: 1px #c0c0c0 solid;}
.win-shop .main .wrapper2{position:relative;}
.win-shop .close{background:url(icon/close.png) no-repeat 0 -10px;position:absolute;height:14px;width:14px;top:11px;right:10px;text-indent:-1000em;}
.win-shop h3{background:url(bg/body/green-more-title.png) repeat-x 0 -19px;padding:34px 0 0 290px;font-weight:bold;font-size:180%;}
.win-shop .main .zoom{text-align:center;margin:0 auto 37px;display:table;text-decoration:none;}
.win-shop .main .zoom img{display:block;margin:10px auto 13px;}
.win-shop .main .zoom span{text-decoration:underline;}
.win-shop .main .zoom b{background:url(icon/zoom.png) no-repeat 0 center;padding-left:11px;text-decoration:none !important;}
.win-shop .main .gallery{float:left;width:290px;margin-top:-20px;}
.win-shop .main .gallery ul{margin-bottom:35px;}
.win-shop .content{font-size:120%;float:left;width:328px;}
.win-shop .content small{font-size:92%;}
.win-shop .content .alert{color:#eb1c57;}
.win-shop .content .composition{list-style:disc inside;margin:23px 0 0 11px;min-height:4.5em;line-height:1.5;}
.win-shop .content .desc{clear:both;padding:8px 28px 21px 0;}
.win-shop .content .more,
.win-shop .content .less{position:relative;background-color:#f7f7f7;width:160px;height:47px;padding:12px 30px 0 56px;}
.win-shop .content .more dl *,
.win-shop .content .less dl *{background:#f7f7f7;}
.win-shop .content .more i,
.win-shop .content .less i { background: url(ui.png) no-repeat; width: 25px; height: 30px; position: absolute; left: 21px; top: 16px; }
.win-shop .content .more i { background-position: -200px -25px; }
.win-shop .content .less i { background-position: -225px -25px; }
.win-shop .content form{padding:20px 0 12px 0;}
.win-shop .content form dl{margin:0 52px 6px 0}
.win-shop .content form strong{font-weight:normal;padding-right:12px;}
.win-shop .content form a{margin-left:4px;}
.win-shop .content form dl dt { position: relative; padding-left: 14px; }
.win-shop .content form dl dt i { position: absolute; width: 14px; height: 11px; left: 0; top: 2px; background: url(ui.png) no-repeat -225px 0px; }
.win-shop .content form dl.empty dt i { display: none; }

.win-shop .content .sum{overflow:hidden;text-align:right;height:66px;}
.win-shop .content .sum p{float:left;text-align:left;}
.win-shop .content .sum p small{display:block;padding-top:4px;}
.win-shop .content .sum button{margin:6px 50px 0 0;}
.win-shop .content .sum p i{font-family:Georgia,serif;font-size:24px;line-height:31px;font-style:normal;}
.win-shop .content #order_note {display: none; color: #ec118f; font-family:Georgia,serif; font-size: 14px; margin-top: 25px;}
.win-shop .content #order_note a { color: #ec118f; text-decoration: none; border-bottom: 1px #ec118f dashed;}
.win-shop .content #order_note a:hover { text-decoration: none;}

.win-shop .view-photo{position:absolute;top:0;left:0;height:100%;width:100%;}
.win-shop .view-photo h3{padding:0;height:auto;}
.win-shop .view-photo ul{position:absolute;bottom:21px;left:179px;margin:0;}
.win-shop .view-photo ul .next{margin-left:20px;width:20px;}
.win-shop .view-photo ul .prev{margin-right:20px;width:20px;}
.win-shop .view-photo ul .next a,
.win-shop .view-photo ul .prev a{border:0 !important;padding:0 !important;margin-top:10px;width:20px;height:20px;background:url(icon/strs-green.png) no-repeat 0 -52px;}
.win-shop .view-photo ul .next a{background-position:-20px -52px;}
.win-shop .b-gadget .cost{font-size:117%;line-height:5;display:block;}
.win-shop .b-gadget .count{display:block;margin-bottom:6px;}
.win-shop .b-gadget .count input{margin-left:6px;}
.win-shop .b-gadget .tags{font-size:82%;color:#343b40;padding-bottom:40px;}
.win-shop .b-gadget small{display:block;}
.win-shop .b-gadget button{display:block;margin:13px 0 21px 0;}
.win-shop .b-gadget .gallery{padding-top:0;}

/* than great buttons, umh... */
button.rounded { position: relative; margin: 0; padding: 0; border: 0; width: 145px; height: 24px; overflow: hidden; color: #fff; background: url(ui.png) no-repeat; cursor: pointer; }
button.rounded b { position: relative; left: 1px; top: 0px; font-size: 11px; line-height: 12px; letter-spacing: 0.1em; font-weight: normal; text-shadow: 1px 1px 0 #576d1d; }
button.tiny { width: 110px; background-position: 0 -50px; }
button.strong { background-position: 0 -25px; }
button.strong b { text-shadow: 1px 1px 0 #8f2b47; }
<!--# if expr="$HTTP_USER_AGENT = /MSIE [678]/" -->
button.rounded b { font-weight: bold; top: 5px; }
<!--# endif -->
<!--# if expr="$HTTP_USER_AGENT = /MSIE [78]/" -->
button.rounded b { display: inline-block; letter-spacing: 0.1px; filter: Shadow(Color=#333333,Direction=135,Strength=1); padding-bottom: 1px; }
<!--# endif -->
<!--# if expr="$HTTP_USER_AGENT = /MSIE [8]/" -->
button.rounded b { top: -2px; }
<!--# endif -->
<!--# if expr="$HTTP_USER_AGENT = /Firefox\//" -->
button.rounded b {  top: -2px; }
<!--# endif -->
<!--# if expr="$HTTP_USER_AGENT = /Opera\//" -->
button.rounded b { top: 4px; }
<!--# endif -->
<!--# if expr="$HTTP_USER_AGENT = /Safari\//" -->
button.rounded b { top: -1px; }
<!--# endif -->



<!--# include virtual="calculator.css" -->

<!--# include file="/t/theme.css" -->

<!--# if expr="$HTTP_USER_AGENT = /Firefox\/2\.0/" --><!--# include file="/t/css/ff2.css" --><!--# endif -->
<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" --><!--# include file="/t/css/ie6.css" --><!--# endif -->
<!--# if expr="$HTTP_USER_AGENT = /MSIE 7/" --><!--# include file="/t/css/ie7.css" --><!--# endif -->
<!--# if expr="$HTTP_USER_AGENT = /MSIE 8/" --><!--# include file="/t/css/ie8.css" --><!--# endif -->
