#delivery-page .b-content {width:590px;}
#delivery-page #poster {position:absolute;top:42px;}
#delivery-page .body-wrapper{height:590px;}
#b-cr-delivery .body-wrapper{height:590px;}
#delivery-page h4 { font-size: 12px;}
#delivery-page ul {padding-left:20px;line-height:1.5;list-style:decimal; font-size: 12px;}
