
html.loading .previews { visibility: hidden; }

.timeline {width:958px; /*two pixels preserved for left and right borders*/}
.timeline .b-title{padding-bottom:10px; margin-bottom: 15px;}
.timeline.column { margin-bottom: 32px;} 
.timeline .b-title h1{font-size:20px; margin-left:-1px;}
.timeline .b-title h1 a {text-decoration:none; cursor:default; }
.timeline .b-title h1 a:hover {border-bottom:0;}
.timeline .body-wrapper{padding-bottom:0; height:210px;}


.previews { position: relative; width: 920px; height: 159px; }
.previews .viewport { position: relative; overflow: hidden; height: 159px; width: 818px; margin-left: 52px;}
.previews .viewport .surface { width: 5000px; padding: 0;}
.previews .viewport .point { float: left; width: 855px; }
.previews .prev,
.previews .next {
display:block; z-index:3; width:20px; height:20px; position:absolute; left:auto; top:41px; right:19px;
background: url(icon/strs-green.png);
}
.previews .prev { left: 0; background-position: 0 -72px; }
.previews .next { right: 0; background-position: -20px -72px; }
.previews .prev.disabled { background-position: 0 -92px; cursor: default; }
.previews .next.disabled { background-position: -20px -92px; cursor: default; }


.previews .event { float: left; width: 180px; display: block; width: 180px; margin-right: 32px; text-align: center;  text-decoration: none; }
.previews .event .mini { display: block; margin: 0 auto 6px; height: 100px; width: 180px;}
.previews .event .mini .date { line-height: 15px; color:#FFFFFF; background:url(/t/event/pre-mask-full.png); padding: 83px 0 0 10px; display:block; height:17px; width: 170px;}

.previews .event .desc { font-family: Arial, sans-serif; font-size: 12px; overflow: hidden; width:180px; height: 32px;}
.previews .event .desc a { color: #0392f1; border-bottom: dashed 1px; text-decoration: none;}
.previews .event.selected .date { background-image: url(/t/event/pre-mask-full-selected.png); }
.previews .event.selected .desc a { color: #F32C9F; border-bottom: none; }

.previews .event.fake .desc a { color: #c0c0c0; cursor: default;}
.previews .event.fake .mini a { cursor: default; }

#mark {background:url(/t/event/mark.png); width: 25px; height:14px; position:absolute; top:225px; display:none;}

#both-wrapper { padding: 0 0 10px 0; clear: both;}

.column-main-container {  }
.column-main { width:606px; }
.column-main .body-wrapper { padding: 14px 18px; }
#sidebar { background: none; margin-left:20px; width: 308px;}
#sidebar .body-wrapper { padding: 14px 18px 11px; }
.b-title { padding-bottom: 13px; font-family: Tahoma; }
.b-title h1, .b-title h3 { font-size: 20px; }
.b-title h2, .b-title h4 { font-size: 14px; color: #999; line-height:10px; margin-left: 1px; }
#illustration { width: 566px; height: 300px; position: relative; margin-top: -113px; overflow: hidden; }
.main-sponsor { display: block; width: 259px; height: 179px; margin: 18px auto 6px; -moz-border-radius: 20px; -webkit-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }

.about h2 { font-size: 20px; color: #000; margin: 11px 0 0 0; }
.about h2 a { text-decoration: none; cursor: default; }
.about #parole { font-family: Arial; font-size: 20px; color: #bc0000; font-style: italic; line-height: 18px; letter-spacing: 0.2px; margin: 6px 0 0 0; }
.about .info { margin: 23px 0 0 0; font-size: 11px; line-height: 16px; }
.about .info dt { font-weight: bold; letter-spacing: 0.8px; float: left; margin: 0 2px 0 0; }
.about .sign-on { font-size: 24px; color: #f32c9f; margin: 18px 0; float: right; text-decoration: none; }
.about .sign-on span { border-bottom: 2px dashed; margin: 0 2px; }
#invitations-only { text-decoration: none; color: #000; }

#medium-sponsors { clear: left; }
#medium-sponsors .sponsor { width: 606px; margin: 30px 0 0 0; }
#medium-sponsors .sponsor img { width: 600px; height: 100px; display: block; margin: 2px 3px 3px 3px; }

#comming { margin: 24px 0 0 0; float: left; line-height: 19px;  }
#comming h2 { font-family: Arial; font-size: 20px; font-style: italic; }
#comming h2 .people { color: #f32c9f; }
#comming h2 .from { color: #0392f1; }
#comming .rating { width: 300px; font-size: 11px; overflow: hidden; margin: 12px 0 4px 0; line-height: 16px; }
#comming .rating dt,
#comming .rating dd { margin: 0px 0; }
#comming .rating dt { width: 112px; float: left; clear: left; white-space: nowrap; overflow: hidden; }
#comming .rating dd { width: 20px; margin: 1px 0 2px 115px;  padding: 0 0 0 8px; color: #fff; background: #e4146e; -moz-border-radius: 7px; -webkit-border-radius: 7px; }
#comming .list-all { font-size: 11px; text-decoration: none; border-bottom: 1px dashed; visibility: hidden; }

#low-sponsors { margin: 17px 0 0 0; }
#low-sponsors .b-title { padding: 0 0 7px 0; }
#low-sponsors .b-content { position: relative; width: 100%; }
#low-sponsors .b-content .viewport { width: 852px; margin: 0 0 0 27px; }
#low-sponsors .b-content .viewport .surface { width: 10000px; }
#low-sponsors .b-content .viewport .surface a { margin: 0 10px; }
#low-sponsors .b-content .viewport .surface img { display: inline; margin: 0; }
#low-sponsors .b-content .viewport .surface b { display: inline; padding: 0 250px 0 0; visibility: hidden; }
#low-sponsors .b-content .viewport .point { width: 835px; height: 120px; padding: 0 10 0 0px; margin: 0 30px; text-align: justify; line-height: 120px; }

#low-sponsors dl { height: 18px; padding: 75px 0 0 15px; font-size: 11px; line-height: 11px; text-align: justify; }
#low-sponsors dl dt { display: inline; position: relative; z-index: 2; margin: 0 15px 0 0; }
#low-sponsors dl dt a { text-decoration: none; border-bottom: 1px dashed; }
#low-sponsors dl dt.selected a { border-bottom: none; color: #e4146e; cursor: default; }
#low-sponsors dl dt.spacer { visibility: hidden; padding: 0 300px 0 0; }
#low-sponsors dl dd { position: absolute; left: 0; top: -25px; width: 100%; }

#get-invitation { display: none; position: absolute; left: 548px; top: -8px; color: #fff; text-decoration: none; margin: 100px; white-space: nowrap; padding: 3px 10px 3px 0; font-size: 11px; background: url(event/pink-button.png) right center; }
#get-invitation span { padding: 3px 0 3px 15px; margin-left: -10px; background: url(event/pink-button.png) left center; }
#get-invitation:hover span { text-decoration: none; }

#promo-back { position: absolute; left: 0; top: 65px; width: 100%; height: 80%; background: repeat-x top center; }
#main-wrapper { position: relative; z-index: 1; }
#templates { position: absolute; left: 0; top: 0; z-index: -1; width: 1; height: 1; overflow: hidden; visibility: hidden; }
/*#templates { position: absolute; left: 0; top: 0; z-index: 10; }*/

#form-popup { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 10; display: none; }
#form-popup .content { position: relative; z-index: 10; width: 495px; margin: 0 auto; top: 64px; }
#form-popup .content form .thanks,
#form-popup .content form .holding,
#form-popup .content h2 { font-size: 27px; color: #f22b9f; font-style: italic; font-weight: bold; }
#form-popup .content h2 { margin: 0 0 32px; }
#form-popup .content .menu { margin: 0 0 20px 0; }
#form-popup .content .menu a { color: #fff; text-decoration: none; border-bottom: 1px dashed; }
#form-popup .content .menu img { float: right; padding: 6px; margin: 0 -6px 0 0; cursor: pointer; }
#form-popup .content form { position: relative; font-family: Arial; display: block; padding: 18px 30px 30px; background: #fff; border: #8fdaec solid 5px; -moz-border-radius: 15px; -webkit-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; }
#form-popup .content form.sending .fields { opacity: 0.75; }
#form-popup .content form label { position: relative; margin: 0 0 17px; font-size: 18px; color: #333; font-style: italic; font-weight: bold; }
#form-popup .content form label input { position: absolute; width: 280px; right: 0; font-size: 16px; padding: 0px 6px 3px; }
#form-popup .content form .limit { display: block; margin: 32px 0 0 0; font-style: italic; font-size: 12px; line-height: 22px; }
#form-popup .content form .limit input { font-style: italic; font-size: 12px; position: absolute; right: 30px; }
#form-popup .content form .thanks,
#form-popup .content form .holding { position: absolute; left: 0; top: 47%; width: 100%; text-align: center; visibility: hidden; }