.barman-info .b-title {margin-bottom:20px;}
.barman-info .content {overflow:hidden; position:relative; width: 922px; height: 281px; margin-bottom:25px; font-size:12px;}
.barman-info .content .photo { position: absolute; top: 0; left: 0; height: 281px; width: 357px; -moz-border-radius-topleft:10px; -moz-border-radius-bottomleft:10px; -webkit-border-top-left-radius:10px; -webkit-border-bottom-left-radius:10px;}
.barman-info .content .desc { background:#f1f0ed; width: 502px; padding: 15px 30px; left: 357px; top: 0; height: 251px; -moz-border-radius-topright:10px; -moz-border-radius-bottomright:10px; -webkit-border-top-right-radius:10px; -webkit-border-bottom-right-radius:10px; position:absolute}
.barman-info .content .desc p {margin-bottom: 1em; }
.barman-info .content .desc p,
.barman-info .content .desc li {line-height: 17px;}
.barman-info h2 {margin-left:0px; padding-bottom:0.2em; font-size: 18px;}

.barman-info .body-wrapper {padding: 14px 18px 10px;}
.barman-info .hrefs .arrow {color:#000; font-size: 200%; text-decoration:none; }
.barman-info .hrefs .arrow.disabled { cursor:default; color: #C0C0C0; }
.barman-info .hrefs li { display: inline; margin: 0 4px; vertical-align: middle; }

.barman-info .cocktails-list {padding:0px 0 3px 0;}
.barman-info .cocktails-list .viewport{overflow:hidden;position:relative;left:10px;top:2px;height:123px; width:900px;}
.barman-info .cocktails-list .surface{width:20000px;}
.barman-info .cocktails-list .point{height:100px;width:900px;float:left; font-size:120%;}
.barman-info .cocktails-list li{width:8em;text-align:center;float:left;width:150px;}
.barman-info .cocktails-list img{display:block;margin:0 auto 5px;}
.barman-info .cocktails-list .prev,
.barman-info .cocktails-list .next { top: 425px; }
.barman-info .cocktails-list .prev { left: 20px; }
.barman-info .cocktails-list .next { right: 20px; }