.info-popup-area { display:none; width: 100%; height: 100%; left:0; top: 0; position: fixed; z-index:2;}
.info-popup { z-index:5; margin: 22px auto 0; width: 960px;}
.info-popup .win { padding:0; width: 958px; top: 73px; position: relative; z-index: 5; }
.info-popup .b-title {margin-bottom:20px;}
.info-popup .content {overflow:hidden; position:relative; width: 922px; height: 281px; margin-bottom:25px; font-size:12px;}
.info-popup .content .photo { display:block; height: 281px; width: 357px; position: absolute; top: 0; left: 0;}
.info-popup .content .desc { background:#f1f0ed; width: 502px; padding: 22px 30px; left: 357px; top: 0; height: 237px; -moz-border-radius-topright:10px; -moz-border-radius-bottomright:10px; -webkit-border-top-right-radius:10px; -webkit-border-bottom-right-radius:10px; position:absolute}
.info-popup .content .desc p {margin-bottom: 15px;}
.info-popup h2 {margin-left:-1px; padding-bottom:10px; font-size: 18px;}
.info-popup .content .desc p.contact {margin-bottom:4px}
.info-popup .enrollment {font-size:20px; font-style:italic; color:#F22B9F; background:transparent url(bg/body/hr-repeat.png) repeat-x scroll 0 0; clear:both; padding:14px 0 3px 0;}
.info-popup .cocktails-list { /* background:transparent url(bg/body/hr-repeat.png) repeat-x scroll 0 0;*/ clear:both; padding:0px 0 3px 0;}

.info-popup-area .body-wrapper {padding: 14px 18px 10px;}
.info-popup-area .close-controls {clear:both; width:960px; z-index: 5; height: 10px; margin: 0 auto; position: relative; top: 80px;}
.info-popup-area .close-controls .text  { float: left; color:#FFF; border-bottom:1px dashed; text-decoration:none;}
.info-popup-area .close-controls .cross { float: right; display: block; background: url('/t/close.png') no-repeat; height: 7px; width: 7px; margin-top:5px}

.info-popup-area .hrefs .arrow {color:#000; font-size: 200%; text-decoration:none; }
.info-popup-area .hrefs .arrow.disabled { cursor:default; color: #C0C0C0; }
.info-popup-area .hrefs li { display: inline; margin: 0 4px; vertical-align: middle; }

.info-popup .cocktails-list .viewport{overflow:hidden;position:relative;left:10px;top:2px;height:123px; width:900px;}
.info-popup .cocktails-list .surface{width:20000px;}
.info-popup .cocktails-list .point{height:100px;width:900px;float:left; font-size:120%;}
.info-popup .cocktails-list li{width:8em;text-align:center;float:left;width:150px;}
.info-popup .cocktails-list img{display:block;margin:0 auto 5px;}
.info-popup .cocktails-list .prev,
.info-popup .cocktails-list .next{top: 425px;}
.info-popup .cocktails-list .prev{left:20px;}
.info-popup .cocktails-list .next{right:20px;}

.info-popup .rounder {background: url(/t/bg/blocks/rounder.png); position:absolute; left: 0; top: 0; height:281px; width:15px;}

#guide-info-popup .info-popup .content .desc { padding:10px 30px; height:261px}

<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
.info-popup-area {position:absolute;}
.info-popup .rounder {filter:expression((runtimeStyle.backgroundImage!='none')?runtimeStyle.filter='progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+',sizingMethod=crop)':runtimeStyle.filter,runtimeStyle.backgroundImage='none');}
<!--# endif -->
