.b-title { height: 57px; }
.b-title .hrefs { top: 8px; bottom: auto; }

#menu .tweaker { position: absolute; top: 35px; font-size: 12px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }

#menu #group-by { left: 0; }
#menu #sort-by { left: 310px; }
#menu #draw-by { left: 690px; }

#menu .tweaker .head,
#menu .tweaker .body,
#menu .tweaker .list,
#menu .tweaker .list .item { display: inline-block; }

#menu .tweaker .head { color: #888; }

#menu .tweaker .list {  }
#menu .tweaker .list .item { background-color: #eee; cursor: pointer; padding: 1px 6px 2px; margin: 0 2px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#menu .tweaker .list .item:hover { background-color: #ccc; }
#menu .tweaker .list .item.selected { background-color: #4a0; color: #fff; cursor: default; }

#output .group .head { font-size: 24px; margin: 30px 0 15px 0; }
#output .group .list { overflow: hidden; }
#output .group .list .item { float: left; position: relative; margin: 0 15px 15px 0; width: 100px; height: 140px; }
#output .group .list .item .ingredient .image { width: 100px; height: 100px; }
#output .group .list .item .ingredient .name { display: block; margin: 5px 0 0 0; text-align: center; font-size: 12px;}

.images#output .group .list .item { width: 100px; height: 100px; }
.images#output .group .list .item .ingredient .name { display: none; }
.images#output .group .list .item .ingredient { text-decoration: none; }
.images#output .group .list .item:hover .ingredient .name { display: block; position: absolute; z-index: 1; width: 100%; padding: 3px 0 5px; bottom: 0; background-color: #fff; background-color: rgba(255,255,255,0.8); text-shadow: #fff 1px 1px 1px, #fff 1px -1px 1px, #fff -1px 1px 1px, #fff -1px -1px 1px, #fff 0 0 5px, #fff 0 0 5px; }
