.you-choise{background:#f1f7b6;}
.you-choise p{padding:18px 20px 17px;font-size:120%;}
.you-choise span{position:relative;padding-right:7px;cursor:pointer;}
.you-choise span:hover{text-decoration:line-through;}
.you-choise a{background-position: 0 -175px;position:absolute;top:0.2em;right:1px;padding:5px 5px 0 0;}

.top-alphabetical { font-size: 12px; overflow: hidden; padding-left: 10px; margin-left: -10px; }
.top-alphabetical .col{float:left;margin-right:10px;}
.top-alphabetical .col div{width:162px;overflow:hidden;clear:left;font-size:120%;}
.top-alphabetical .letter-box .letter { font-size: 18px; margin: 17px 0 6px 1px; }

.top-alphabetical .item { margin-bottom: 2px; padding: 0 15px 0 0; line-height: 18px; }
.top-alphabetical .item.selected { background-position: 0 0; margin-left: -10px; }
.top-alphabetical .item .name { display: block; }
.top-alphabetical .item.selected .name { padding-left: 10px; }
.top-alphabetical .item.disabled .name { color: #ccc; text-decoration: none; cursor: default; }

.count-cocktails{background-position: 0px -50px;width:153px;height:90px;padding:15px 0 0 15px;font-size:11px;position:fixed;right:36px;top:297px;}
.count-cocktails strong{display:block;font-size:12px;padding:4px 0 12px;}
.count-cocktails input{font-size:11px;}

<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
.b-content{width:100%;}
.count-cocktails input{width:90%;}
.you-choise a{font-size:1px;}
.count-cocktails *{position:relative;z-index:2;zoom:1;}
.count-cocktails{position:absolute;top:expression(String(document.documentElement.scrollTop+297)+"px");background:#fafafa;border:1px #ddd solid;}
<!--# endif -->


<!--# if expr="$HTTP_USER_AGENT = /MSIE [678]/" -->
.count-coctails input{width:130px;}
.count-cocktails input{width:90%;}
<!--# endif -->