#results .cocktails { height: 117px; overflow: hidden; margin: 30px 0 5px; }
#results .cocktails .lets-choose { font-size: 20px; margin: 35px 0; }
#results .cocktails .lets-choose .for-example { text-decoration: none; border-bottom: 0.1em dashed; }
#results .chosen { display: none; }

.selecting-ingredients .lets-choose,
.selecting-ingredients .notice { display: none; }
.selecting-ingredients .chosen { display: block; }

#top-alphabetical { font-size: 12px; overflow: hidden; padding-left: 10px; margin-left: -10px; }
#top-alphabetical .col { float: left; width: 184px; }
#top-alphabetical .letter-box .letter { color: #555; font-size: 18px; margin: 17px 0 6px 1px; }

#top-alphabetical .item { margin-bottom: 2px; padding: 0 15px 0 0; line-height: 18px; }
#top-alphabetical .item.selected { background-position: 0 0; margin-left: -10px; }
#top-alphabetical .item .name { display: block; }
#top-alphabetical .item.selected .name { padding-left: 10px; text-decoration: none; }
#top-alphabetical .item.disabled .name { color: #ccc; text-decoration: none; cursor: default; }

.cocktail-preview { width: 125px; float: left; text-align: center; font-size: 12px;  }
.cocktail-preview .image { display: block; margin: 0 auto 5px;  }

#results .cocktail-list { position: relative; }
#results .cocktail-list .prev,
#results .cocktail-list .next { top: 45px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
#results .cocktail-list.single .prev,
#results .cocktail-list.single .next { display: none; }
#results .cocktail-list .prev { left: 5px; }
#results .cocktail-list .next { right: 5px; }
#results .cocktail-list .viewport { width: 875px; height: 117px; margin: 0 auto;  position: relative; overflow: hidden; }
#results .cocktail-list .viewport .surface { width: 19000px; }
#results .cocktail-list .point { float: left; width: 625px;  }


<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
.b-content{width:100%;}
<!--# endif -->


<!--# if expr="$HTTP_USER_AGENT = /MSIE [678]/" -->
<!--# endif -->