#results .cocktails { height: 117px; overflow: hidden; margin: 30px 0 5px; padding: 0 0 10px; border-bottom: 2px solid #eee }
#results .cocktails .lets-choose { font-size: 22px; margin: 5px 0 35px; }
#results .cocktails .lets-choose .for-example { text-decoration: none; border-bottom: 0.1em dashed; }
#results .chosen { visibility: hidden; font-size: 14px; margin: 15px 0; }
#results .chosen .equals { margin: 0 5px; color: #888; }
#results .chosen .ingredients a { text-decoration: none; }
#results .chosen .ingredients a:hover { text-decoration: line-through; }

.selecting-ingredients #results .lets-choose,
.selecting-ingredients #results .notice { display: none; }
.selecting-ingredients #results .chosen { visibility: visible; }
/*.selecting-ingredients #results .cocktails { border-bottom-color: #eee }*/

#top-alphabetical { font-size: 12px; overflow: hidden; padding-left: 10px; margin-left: -10px; margin-top: -10px;  }
#top-alphabetical .col { float: left; width: 184px; }
#top-alphabetical .letter-box .letter { color: #555; font-size: 18px; margin: 25px 0 7px 1px; }

#top-alphabetical .item { width: 185px; margin-bottom: 6px; line-height: 18px; padding-bottom: 1px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#top-alphabetical .item.selected { background-position: 0 0; margin-left: -10px; }
#top-alphabetical .item .name { display: block; padding-right: 20px; }
#top-alphabetical .item.selected .name { padding-left: 10px; padding-right: 10px; text-decoration: none; }
#top-alphabetical .item.disabled .name { color: #ccc; text-decoration: none; cursor: default; }

.cocktail-preview { width: 125px; float: left; text-align: center; font-size: 12px;  }
.cocktail-preview .image { display: block; margin: 0 auto 5px; width: 60px; height: 80px; }

#results .cocktail-list { position: relative; }
#results .cocktail-list .prev,
#results .cocktail-list .next { top: 40px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
#results .cocktail-list.single .prev,
#results .cocktail-list.single .next { display: none; }
#results .cocktail-list .prev { left: 5px; }
#results .cocktail-list .next { right: 5px; }
#results .cocktail-list .viewport { width: 875px; height: 117px; margin: 0 auto;  position: relative; overflow: hidden; }
#results .cocktail-list .viewport .surface { width: 100000px; }
#results .cocktail-list .point { float: left; width: 625px;  }


<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
.b-content{width:100%;}
<!--# endif -->


<!--# if expr="$HTTP_USER_AGENT = /Opera/(9|10)\./" -->
#results .cocktail-list .viewport .surface { width: 30000px; }
<!--# endif -->