h1.mybar { font-size: 24px; }
.please-wait { display: none; }
html.loading .please-wait { display: block; font-size: 16px; margin: 0; padding: 20px 0 50px; text-align: center; color: #888; }
html.loading .b-content { display: none; }
#mybar-page .b-title { background: none; z-index: 1; top: 7px; padding: 0; margin: 0; }
.b-content dt.title { font-size: 20px; margin-bottom: 15px; }
.b-content { width: 100%; }

.search-box .query {
	color: inherit;
	margin: 5px;
	padding: 2px;
	width: 905px;
	border: 1px solid #ccc;
}
.search-box .query, .search-box .button { font-size: 15px; vertical-align: middle; }
#output .hidden { display: none !important; }
#output .ingredients-block .list li, #output .list .cocktail-preview {
	float: left;
	margin: 0 17px 15px 0;
	position: relative;
	width: 100px;
}
#output .list { overflow: hidden; }
#output .ingredient-preview .name { display: block; margin-top: 5px; }
#output .list .cocktail-preview { height: 216px; width: 114px; font-size: 12px; text-align: center;}
#output .list .cocktail-preview .image { height: 200px; display: block; margin: 0 auto; }
#output .remove-cocktail
{
	color: #A2210E;
	right: -1px;
}
#output .add-cocktail
{
	color: #8dd013;
	font-weight: bold;
}
#output .ingredients-block { width: 940px; margin-top: 5px; }
#output .ingredients-block .list { padding-top: 15px; }
#output .ingredients-block .list ul { overflow: hidden; }
#output .ingredients-block .list li
{
	height: 140px;
	margin-bottom: 0;
	padding-top: 15px;
}
#output .ingredient-preview { display: block; font-size: 12px; text-align: center;}
#output .not-in-bar .image { opacity: 0.4 }
#output div.empty
{
	color: #DDDDDD;
	font-size: 16px;
	margin: 9px 0;
}
#output .remove-ingredient, #output .add-ingredient
{
	cursor: pointer;
	font-family: verdana;
	font-size: 17px;
	position: absolute;
	right: -3px;
	top: -5px;
	background-color: #fff;
}
#output .remove-ingredient
{
	color: #A2210E;
	right: -1px;
}
#output .add-ingredient
{
	color: #8dd013;
	font-weight: bold;
}
#output .ingredient-preview, .ingredient-preview .image
{
	height: 100px;
	width: 100px;
	position: relative;
}
#output .ingredient-preview .image
{
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: #EEEEEE;
}
#output .ingredient-preview .tick
{
	background: url("/t/mybar/tick.png") no-repeat scroll left top transparent;
	height: 35px;
	left: 65px;
	position: absolute;
	top: 65px;
	width: 35px;
}
#output .ingredients-block .search-box {
	width: 922px;
	margin-top: 30px; 
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f1f1f1));
	background: -moz-linear-gradient(top, #ebebeb, #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#f1f1f1');
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #e3e3e3;
	position: relative;
}
#output .ingredients-block .search-box.hidden { display: none; }
#output .ingredients-block .add
{
	color: #3C40E6;
	cursor: pointer;
	font-size: 90px;
	height: 100px;
	line-height: 90px;
	overflow: hidden;
	text-align: center;
	width: 100px;
}
#output .ingredients-block .add.hidden { display: none; }
#output .cocktails-block { margin:35px 0 0; }
.cocktails-block .ingredient-preview { float: left; }
.cocktails-block .group { margin: 0; }
.cocktails-block .group.collapsed { margin: 0 0 20px 0; }
.cocktails-block .group.collapsed .row { display: none; }
.cocktails-block .group .group-name { font-size: 24px; }
.cocktails-block .group .group-name:first-letter { text-transform: uppercase; }
.cocktails-block .group .group-name .count { position: relative; top: -15px; padding: 0 0.4em; font-size: 0.45em; color: #ccc; }
.cocktails-block .row { margin: 50px 0 0 0; position: relative; }
.cocktails-block .row.lazy { background: #f4f4f4; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; }
.cocktails-block .row.lines-0 { height: 155px; }
.cocktails-block .row.lines-1 { height: 155px; }
.cocktails-block .row.lines-2 { height: 310px; }
.cocktails-block .row.lines-3 { height: 465px; }
.cocktails-block .row.lines-4 { height: 620px; }
.cocktails-block .row.lines-5 { height: 775px; }
.cocktails-block .row .operator { float: left; vertical-align: middle; line-height: 98px; font-size: 34px; color: #aaa; }
.cocktails-block .row .head { width: 200px; position: absolute; }
.cocktails-block .row .head .operator { margin: 0; }
.cocktails-block .row .body { overflow: visible; width: 800px; left: 150px; position: relative; }
.cocktails-block .row .body .operator { color: #ccc; }
.cocktails-block .row .body .ingredient-preview { margin: 0 15px 55px 15px; }
#output .cocktails-block .row .body .ingredient-preview .add-ingredient { top: -20px; right: 0px; }
#output .cocktails-block .row .body .ingredient-preview:hover { text-decoration: none; }
#output .cocktails-block .row .body .ingredient-preview:hover .name { text-decoration: underline; }
.cocktails-block .row .cocktail-preview { float: left; margin-top: -55px;  width: 112px; text-align: center; font-size: 12px; position: relative;}
.cocktails-block .row .cocktail-preview .image { display: block; margin: 0 auto -10px; height: 170px; }
.cocktails-block .row .cocktail-preview.lazy .image { background-color: #f4f4f4; }
.search-box .reset { display: none; position: absolute; left: 660px; top: 3px; width: 25px; height: 25px; text-align: center; font-size: 18px; color: #888; cursor: pointer; }
.search-box .reset:hover { color: #000; }
.search-box .autocomplete { display: none; z-index: 1; position: absolute; top: 29px; left: 5px; width: 909px; opacity: 0.95; border: solid #ddd; border-width: 0px 1px 1px 1px; background: #fff; font-size: 15px; }
.search-box .autocomplete.focused { display: block; }
.search-box .autocomplete .empty-message { display: none; }
.search-box .autocomplete.empty .empty-message { display: block; }
.search-box .autocomplete .item { padding: 2px 0 4px 5px; cursor: pointer; }
.search-box .autocomplete .item.selected { background-color: #d2d2d2; }
.search-box .autocomplete .item .substr { font-weight: bold; }
.search-box .autocomplete .item .hint { font-size: 0.6em; color: #aaa; vertical-align: middle; }
.search-box  .autocomplete .empty-message { display: none; color: #000;}

.cocktails-block .photos-list { overflow: hidden; margin-top: 40px; }
.cocktails-block .photos-list .cocktail-preview {
	float: left;
	height: 140px;
	padding: 0 10px;
	position: relative;
	width: 90px;
}

.cocktails-block .photos-list .cocktail-preview img {
	display: block;
	height: 80px;
	margin-left: -10px;
	padding-bottom: 7px;
	padding-right: 30px;
	width: 60px;
}

.cocktails-block .photos-list .cocktail-preview a { font-size: 120%; }

#output .switcher
{
	float: right;
	font-size: 13px;
	position: relative;
	top: 3px;
}

#output .switcher .link
{
	text-decoration: underline;
	cursor: pointer;
}

#bar-name
{
	border-bottom: 1px dotted #ddd;
	height: 31px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#bar-name .help, #bar-name .title{
	font-size: 24px;
	text-decoration: underline;
	cursor: pointer;
}

#bar-name form.change-name {
	font-size: 24px;
	left: -6px;
	position: relative;
	top: -5px;
}

#bar-name form.change-name input.new-bar-name {
	font-size: 1em;
	position: relative;
	z-index: 1;
	background-color: transparent;
	border: none;
	padding: 2px 2px;
	width: 100%;
}
#bar-name form.change-name .tip {
	left: 4px;
	position: absolute;
	top: 4px;
	color: #BBBBBB;
}

.firefox #bar-name form.change-name input.new-bar-name { left: 2px; top: 2px; }
.safari #bar-name form.change-name input.new-bar-name { left: 2px; top: 1px; }
.chrome #bar-name form.change-name input.new-bar-name { left: 2px; top: 1px; }
#bar-name form.change-name input.new-bar-name:focus { outline: none; }
