.please-wait { display: none; }
html.loading .please-wait { display: block; font-size: 16px; margin: 0; padding: 20px 0 50px; text-align: center; color: #888; }
html.loading .b-content { display: none; }

.b-title { background: none; z-index: 1; top: 7px; }
.b-content dt.title { font-size: 24px; margin-bottom: 15px;}
.b-content { width: 100%; }

.search-box {margin-bottom: 15px;}
.search-box .query { padding: 2px; color: inherit; width: 680px; }
.search-box .query, .search-box .button { font-size: 20px; vertical-align: middle; }

#output .ingredients-block .list li, #output .list .cocktail-preview {
	float: left;
	margin: 0 17px 15px 0;
	position: relative;
	width: 100px;
}

#output .list { overflow: hidden; }
#output .list li { position: relative; font-size: 12px; text-align: center; }
#output .list li a { display: block; }
#output .list li a:hover { text-decoration: none; }
#output .list li a:hover .name { text-decoration: underline; }
#output .list li .name { display: block; margin-top: 5px; }
#output .list .cocktail-preview { height: 216px; width: 114px; }
#output .list .cocktail-preview .image { height: 200px; display: block; margin: 0 auto; }

#output .cocktails-block .list li .image { height: 200px; display: block; margin: 0 auto; }
#output .cocktails-block .list li a:hover { text-decoration: underline; }
#output .cocktails-block .list li .remove-cocktail, #output .recommends-block .list li .add-cocktail {
	font-family: Verdana;
	font-size: 17px;
	position: absolute;
	right: 10px;
	top: 8px;
	cursor: pointer;
	background-color: #fff;
}

#output .cocktails-block .list li .remove-cocktail
{
	color: #A2210E;
	right: -1px;
}

#output .recommends-block .list li .add-cocktail
{
	color: #8dd013;
	font-weight: bold;
}

#output .ingredients-block { width: 940px; margin-top: 35px; }
#output .ingredients-block .list { padding-top: 15px; }
#output .ingredients-block .list li{
	height: 140px;
	margin-bottom: 0;
	padding-top: 15px;
}
#output .ingredients-block .list li a { display: block; }

#output .ingredients-block .not-in-bar .image { opacity: 0.5 }

#output .empty{ 
	color: #DDDDDD;
	font-size: 16px;
	margin: 9px 0;
}

#output .ingredients-block .list li .remove-ingredient, #output .ingredients-block .list li .add-ingredient{
	cursor: pointer;
	font-family: verdana;
	font-size: 17px;
	position: absolute;
	right: -3px;
	top: -5px;
	background-color: #fff;
}


#output .ingredients-block .list .in-bar .remove-ingredient
{
	color: #A2210E;
	right: -1px;
}
#output .ingredients-block .list .not-in-bar .add-ingredient
{
	color: #8dd013;
	font-weight: bold;
}

#output .ingredients-block .ingredient-preview, #output .ingredients-block .ingredient-preview .image {
	height: 100px;
	width: 100px;
	position: relative;
}
#output .ingredients-block .ingredient-preview .image {
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: #EEEEEE;
}

#output .ingredients-block .tick {    
	background: url("/t/mybar/tick.png") no-repeat scroll left top transparent;
	height: 35px;
	left: 65px;
	position: absolute;
	top: 65px;
	width: 35px;
}

#output .recommends-block { margin:35px 0; }
#output .recommends-block .wrapper .title { font-size: 20px; margin-bottom: 0; }
#output .recommends-block .wrapper dl {margin: 10px 0 20px;}