/* parties-page */

#parties-page .b-title{padding-bottom:10px; margin-bottom: 15px;}
#parties-page #top{}
#parties-page #main-wrapper {z-index: 1; position:relative;}

#parties-page .b-title h1,
#parties-page .b-title h2{font-size:20px;margin-left:-1px;}

#parties-page .column{ margin-bottom: 32px;}
#parties-page .column .body-wrapper{padding-bottom:0;}

#parties-page .party-previews .party { float: left; width: 213px; text-align: center; cursor:pointer; }
#parties-page .party-previews .party img { display: block; margin: 0 auto 6px; }
#parties-page .party-previews .name { font-family: Arial, sans-serif; font-size: 13pt; font-style: italic; color: #0392f1; border-bottom: dashed 1px; }
#parties-page .party-previews .party.selected .name { color: #e2138a; border-bottom: none; cursor: default; }

#parties-page .party-previews .viewport,
#parties-page .party-previews { overflow: hidden; position: relative; width: 920px; height: 159px; }
#parties-page .party-previews .viewport {width: 855px; margin-left: 34px;}
#parties-page .party-previews .viewport .point { float: left; width: 855px; height: 100%; }
#parties-page .party-previews .viewport .surface { width: 4000px; padding: 0;}
#parties-page .party-previews .prev,
#parties-page .party-previews .next {
display:block; z-index:3; width:20px; height:20px; position:absolute; left:auto; top:41px; right:19px;
background: url(icon/strs-green.png);
}
#parties-page .party-previews .prev { left: 0; background-position: 0 -72px; }
#parties-page .party-previews .next { right: 0; background-position: -20px -72px; }
#parties-page .party-previews .prev.disabled { background-position: 0 -92px; cursor: default; }
#parties-page .party-previews .next.disabled { background-position: -20px -92px; cursor: default; }

#parties-page .party-photos .viewport,
#parties-page .party-photos { overflow: hidden; position: relative; width: 960px; height: 410px; clear:both;}
#parties-page .party-photos .viewport .point { float: left; width: 960px; height: 100%; }
#parties-page .party-photos .viewport .surface { width: 10000px; height:100%;}
#parties-page .party-photos .prev,
#parties-page .party-photos .next { position: absolute; top: 204px; z-index: 10; width: 60px; height: 60px; background: url(bar/photos-buttons.png); }
#parties-page .party-photos:hover .prev,
#parties-page .party-photos:hover .next {display:block;}
#parties-page .party-photos:hover .hidden {display:none;}
#parties-page .party-photos .prev { left: 0; background-position: -60px 0; display:none;}
#parties-page .party-photos .next { right: 0; background-position: 0 0; display:none;}
#parties-page .party-photos .prev.disabled { background-position: -60px -60px; cursor: default; }
#parties-page .party-photos .next.disabled { background-position: 0 -60px; cursor: default; }

.party-top {height: 90px; position:absolute; top:0; left:0; width: 960px; z-index:2; }
.party-desc {float:left; color: #fff; font-family: Arial, sans-serif; font-style: italic; font-size: 20pt; width: 298px; padding: 10px 0 0 20px;}
#bar_name {text-decoration: underline; color:#FFF;}
.party-teaser {margin-top: 29px; float:right; height: 35px; background: #e2138a; font-size: 34pt; color: #fff60e; line-height: 26pt; margin-right: 20px; font-family: Arial, sans-serif; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
#party_price_per_guest {float:right;}
#party_rub_guest, #party_from {float:right; margin: 2px 12px;}
#want_link {display: block; margin: 29px 27px 0 0; width:75px; height:39px; float:right;}

#want_popup_area { display:none; width: 100%; height: 100%; left:0; top: 0; position: fixed; z-index:2;}
#want_popup { z-index:5; position: relative; top: 100px; margin:0 auto; width: 493px; height: 171px; background: url('/t/bg/parties/popup_bg.png'); font-family: Arial, sans-serif; font-style:italic; font-weight:bold; text-align:center;}

#want_close {clear:both; width:493px; z-index: 5; height: 10px; margin: 0 auto; position: relative; top: 79px;}
#want_close_text  { float: left;  display: block; height:10px; width: 45px;}
#want_close_cross { float: right; display: block; background: url('/t/close.png') no-repeat; height: 7px; width: 7px;}

#want_text  { color:#0392f1; font-size: 19pt; padding-top: 32px;}
#want_phone { color:#f22b9f; font-size: 25pt; padding-top: 10px;}


.party-bottom {position: absolute; top: 370px; left: 0; height: 35px; line-height: 35px; z-index: 2; font-family: Arial, sans-serif; color: #fff; font-size: 16pt; font-style: italic; width: 940px; padding-left: 20px;}
.party-bottom-start {float: left;}
#party_guests_minus {background: url('/t/button/minus.png') no-repeat; height: 18px; width: 19px; float:left;margin: 10px 8px 0 10px;}
#party_guests_plus {background: url('/t/button/plus.png') no-repeat; height: 18px; width: 19px; float:left; margin: 10px 10px 0 8px;}
#party_guests_number { width: 30px; background: #f4f7c2; font-size: 13px; text-align: center; padding: 0; float:left; margin-top: 10px; height: 21px; line-height: 21px;}
.party-price-hi { color: #fff60e;}

#backdrop {position:absolute; top: 65px; left:0px; width: 100%; height: 75%; background: url('/t/bg/parties/backdrop.jpg') #fff no-repeat scroll center top}

<!--# if expr="$HTTP_USER_AGENT = /MSIE 6/" -->
#parties-page .party-photos .disabled { background-position-y: -60px; }
#parties-page .party-photos .prev { background-position-x: -60px; }
#parties-page .party-photos .prev,
#parties-page .party-photos .next { display: block; }
#parties-page .party-photos .hidden {display:none;}
#parties-page .party-previews .prev { background-position-x: -52px; }
<!--# endif -->

<!--# if expr="$HTTP_USER_AGENT = /MSIE [678]/" -->
#parties-page .party-previews .party { padding-bottom: 4px;}
<!--# endif -->


/*<!-- if expr="$HTTP_USER_AGENT = /Firefox\/2\.0/" -->
#parties-page .party-teaser {width:520px;}
<!-- endif -->*/
