html { height: 100% }
body { 
    background: #fff; 
    font-family: Tahoma, Arial, sans-serif; 
    font-size: 12pt;
    position: relative; 
    min-height: 100%; 
}

body, table,
h1, h2, h3,
p, form,
fieldset, legend,
ul, li, dl, dt, dd {
	margin			: 0;
	padding			: 0;
	border			: 0;
}

a {
	color			: #0392f1;
	cursor			: pointer; /*вдруг нету href */
	text-decoration	: underline;
}
a:hover	{ text-decoration: none; }
a img	{ border: 0; vertical-align: middle; }

h1 { font-size: 150%; }

h2, dt {
    font-size: 90%;
    font-weight: bold;
    margin-top: 20px;
    line-height: 25px;
    border-bottom: 3px #5c5c5c solid;
	zoom: 1;
	clear: both;
}

.title   { width: 100%; border-bottom: 60px #000 solid; } 
.title img { position: absolute; }
img.logo { left: 40px; top: 14px; }
img.link { right: 40px; top: 24px;}

.content { padding: 40px; }
#cocktail_img, #cocktail_ingreds img { scrollbar-base-color:expression(setTimeout(function(){(runtimeStyle.scrollbarBaseColor="transparent")&&(offsetWidth?(runtimeStyle.width=offsetWidth+'px'):1)&&(offsetHeight?(runtimeStyle.height=offsetHeight+'px'):1)&&(runtimeStyle.filter=(runtimeStyle.filter?runtimeStyle.filter+';':'')+'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="'+src+'",sizingMethod="scale")')&&(src='/t/0.png')},1000)); }

h1#cocktail_name { margin-bottom: 26px; }
img#cocktail_img { height: 210px; width: 106px; float: left; }
div#cocktail_ingreds { min-height: 210px; margin-left: 130px; }
#cocktail_ingreds img { margin: 0 13px 8px 0; }

ul#receipt {
    list-style-image: url(bg/cocktail/li.png);
    font-size: 80%;
    margin-left: 20px;
    margin-top: 12px;
}
ul#receipt li { padding-bottom: 5px; }

dd {
    font-size: 80%;
    border-bottom: 1px #000 dashed;
    overflow: hidden;
	zoom: 1;
	padding: 12px 0;
}

dd.last { border: 0; }

.txt { float: left; }
.cnt { float: right; text-align: right; }
.txt img { padding-right: 8px; }

.bottle { color: #5C5C5C; margin-left: 5px;}
