#bars-page, body.bars-page {background:transparent url(bg/bars/bg.jpg) repeat-x -139px -141px;} 
#bars-page, body.bars-page {background:transparent url(bg/bars/bg.png) repeat-x -139px -141px;} 
#bars2-page, body.bars2-page {background:transparent url(bg/bars2/bg.jpg) repeat-x -139px -141px;} 
#bars2-page, body.bars2-page {background:transparent url(bg/bars2/bg.png) repeat-x -139px -141px;} 
#bars453-page, body.bars453-page {background:transparent url(bg/bars453/bg.jpg) repeat-x -139px -141px;} 
#cocktails-page, body.cocktails-page {background:transparent url(bg/cocktails/bg.png) repeat-x -139px -141px;} 
#cocktails3-page, body.cocktails3-page {background:transparent url(bg/cocktails3/bg.jpg) repeat-x -139px -141px;} 
#cocktails_winter-page, body.cocktails_winter-page {background:transparent url(bg/cocktails_winter/bg.jpg) repeat-x -139px -141px;} 
#index-page, body.index-page {background:transparent url(bg/index/bg.png) repeat-x -139px -141px;} 
