.tool-window { position: relative; min-height: 200px; padding: 30px 0 30px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; background-color: #fff; }

.tool-window .description { overflow: hidden; }
.tool-window .photo { float: left; position: relative; width: 290px; padding: 5px 10px 0 20px; text-align: center; }
.tool-window .about { margin: 0 45px 0 0; width: 320px; overflow: hidden; font-size: 12px; }
.tool-window .about .name { margin-bottom: 10px; font-size: 20px; }
.tool-window .about .text { font-size: 12px; }
.tool-window .about .text p { margin: 0px 0px 15px 0px; }

.tool-info-popup .popup-controls,
.tool-info-popup .popup-window { width: 700px; margin: 0 auto; top: 40px; position: relative; }
.tool-info-popup .popup-controls { height: 10px; }
.tool-info-popup .popup-controls .cross { position: absolute; z-index: 100; right: -18px; top: -5px; }



html.msie-6 .tool-info-popup .window { zoom: 1; }
html.msie-6 .tool-info-popup .popup-back { height: 10000px; }

html.msie-6 .tool-info-popup .popup-controls .cross,
html.msie-7 .tool-info-popup .popup-controls .cross,
html.msie-8 .tool-info-popup .popup-controls .cross,
html.opera-9 .tool-info-popup .popup-controls .cross,
html.opera-10 .tool-info-popup .popup-controls .cross { right: 0px; top: -14px; }

html.opera-9 .tool-window .cocktail-list .viewport .surface,
html.opera-10 .tool-window .cocktail-list .viewport .surface { width: 30000px; }
