html { overflow-y: scroll; }
a[href^="#"] { text-decoration: none; border-bottom: dashed 1px; }
#main-wrapper .column { width: 628px; }
.b-title h1 { font-size: 20px; }
.b-content ul { margin: 0.5em 0 1.5em 1em; }
.b-content ul li { list-style: disc inside; margin: 0.4em 0; }
.b-content { font-size: 14px; }
.b-content h2 { font-size: 20px; margin: 0 0 0.1em 0; }
.b-content p { margin: 0 0 1em 0; }
.b-content .section { margin: 1.5em 0; }

.faq h3 { font-size: 18px; font-weight: bold; }
.faq p { margin: 0.5em 0; }
.faq .question { margin-bottom: 1.5em; }

#sidebar .who { display: block; font-size: 16px; text-align: center; }
#sidebar .who .photo { display: block; width: 270px; height: 270px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin-bottom: 0.5em; }
